<template>
    <v-tabs v-model="currentTab" bg-color="primary" :items="achievementCategoryList"
        @update:model-value="(v: any) => changedTab(v)">
        <v-tab v-for="cat in achievementCategoryList" :key="cat.Id">
            {{ cat.Id ? getString(cat.Name) : cat.Name }}
        </v-tab>
    </v-tabs>

    <v-tooltip v-if="tooltipValue" v-model="tooltipShow" :activator="tooltipParent" location="bottom"
        :open-on-click="true">
        <p style="white-space-collapse: preserve;">
            {{ getString(tooltipValue.Hint).replaceAll("\\n", "\n")
            }}{{ '\n\n' }}{{
                getString(tooltipValue.Description).replaceAll("\\n", "\n") }}</p>
    </v-tooltip>

    <template v-if="currentCategory">
        <v-progress-linear class="mt-1 mb-1" color="primary" height="20"
            :model-value="clearAchievementCount / currentCategory.AllEntries.length" striped max="1">
            <template v-slot:default>
                Count {{ clearAchievementCount }} / {{ currentCategory.AllEntries.length }}
            </template>
        </v-progress-linear>
        <v-progress-linear class="mt-1 mb-1" color="primary" height="20"
            :model-value="clearAchievementPoint / currentCategory.TotalPoint" striped max="1">
            <template v-slot:default>
                Point {{ clearAchievementPoint }} / {{ currentCategory.TotalPoint }}
            </template>
        </v-progress-linear>
        <v-table>
            <thead>
                <tr>
                    <th></th>
                    <th>Icon</th>
                    <th>Name</th>
                    <th>Point</th>
                    <th>Hidden</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <template v-for="entry in currentCategory.Entries" :key="entry.Id">
                    <tr>
                        <td>
                            <v-checkbox :model-value="getClearAchievementState(entry.Id)"
                                :indeterminate="getClearAchievementIndeterminateState(entry.Id)"
                                @click="toggleClearAchievementState(entry.Id)" />
                        </td>
                        <td>
                            <v-sheet width="64" height="64"
                                :style='`background: url("${resUrl}achievementimage/${region}/${entry.Id}/${entry.Id}.png") no-repeat; background-position: center;`' />
                        </td>
                        <td @click="e => showTooltip(e.target!, entry)" @mouseover="e => showTooltip(e.target!, entry)"
                            @mouseleave="e => showTooltip(e.target!, undefined)">
                            {{ getString(entry.Name) }}
                        </td>
                        <td>
                            {{ entry.TotalPoint }}
                        </td>
                        <td>
                            {{ entry.Hidden ? 'Yes' : 'No' }}
                        </td>
                        <td>
                            <v-btn v-if="entry.AllPrerequirements.length" icon
                                @click="achievementTableExpandMap[entry.Id] = !achievementTableExpandMap[entry.Id]">
                                <v-icon>{{ achievementTableExpandMap[entry.Id] ? '$collapse' : '$expand' }}</v-icon>
                            </v-btn>
                        </td>
                    </tr>
                    <template v-if="achievementTableExpandMap[entry.Id]">
                        <tr v-for="subEntry in entry.AllPrerequirements" :key="subEntry.Id">
                            <td>
                                <v-checkbox :model-value="getClearAchievementState(subEntry.Id)"
                                    @click="toggleClearAchievementState(subEntry.Id)" class="ml-4" />
                            </td>
                            <td>
                                <v-sheet width="64" height="64"
                                    :style='`background: url("${resUrl}achievementimage/${region}/${subEntry.Id}/${subEntry.Id}.png") no-repeat; background-position: center;`' />
                            </td>
                            <td @click="e => showTooltip(e.target!, subEntry)"
                                @mouseover="e => showTooltip(e.target!, subEntry)"
                                @mouseleave="e => showTooltip(e.target!, undefined)">
                                {{ getString(subEntry.Name) }}
                            </td>
                            <td>
                                {{ subEntry.TotalPoint }}
                            </td>
                            <td>
                                {{ subEntry.Hidden ? 'Yes' : 'No' }}
                            </td>
                            <td></td>
                        </tr>
                    </template>
                </template>
            </tbody>
        </v-table>
    </template>
</template>

<script lang="ts">
import { mdiClose, mdiMagnify, mdiHammerWrench, mdiFountainPen, mdiApps, mdiProgressWrench, mdiMonitor } from '@mdi/js';
import { defineComponent, ref, onMounted, inject, watch, computed } from "vue";
import { useRoute, useRouter } from 'vue-router';

import { resUrl } from '@/apicall';
import type { AchievementInfo } from '@/protos/resourcedata';

type AchievementInfoExtend = AchievementInfo & {
    hasChildren: boolean;
    TotalPoint: number;
    AllPrerequirements: AchievementInfoExtend[];
};

type AchievementCategoryInfo = {
    Id: number;
    Name: string;
    TotalPoint: number;
    Entries: AchievementInfoExtend[];
    AllEntries: AchievementInfoExtend[];
};

export default defineComponent({
    setup() {
        const route = useRoute();
        const router = useRouter();

        const isLoading = inject("isLoading");
        const region = inject('region');
        const db = inject("db");

        const achievementList = ref<AchievementInfo[]>([]);
        const achievementMap = computed<Record<number, AchievementInfoExtend>>(() => {
            const r: Record<number, AchievementInfoExtend> = {};

            for (const v of achievementList.value) {
                r[v.Id] = {
                    ...v,
                    hasChildren: false,
                    TotalPoint: v.Point,
                    AllPrerequirements: [],
                };
            }

            for (const v of achievementList.value) {
                const achievement = r[v.Id];

                if (achievement.Prerequirement && v.Id != achievement.Prerequirement) {
                    let v = r[achievement.Prerequirement];
                    while (v) {
                        achievement.AllPrerequirements.unshift(v);
                        achievement.TotalPoint += v.Point;

                        v.hasChildren = true;

                        v = r[v.Prerequirement];
                    }
                }
            }

            return r;
        });

        const achievementCategoryNameMap = ref<Record<number, string>>({});
        const achievementCategoryList = computed<AchievementCategoryInfo[]>(() => {
            const allCategory: AchievementCategoryInfo = {
                Id: 0,
                Name: 'All',
                TotalPoint: 0,
                Entries: [],
                AllEntries: [],
            };

            const r: Record<number, AchievementCategoryInfo> = {
                [allCategory.Id]: allCategory,
            };

            for (const id in achievementCategoryNameMap.value) {
                r[+id] = {
                    Id: +id,
                    Name: achievementCategoryNameMap.value[id],
                    TotalPoint: 0,
                    Entries: [],
                    AllEntries: [],
                };
            }

            for (const k in achievementMap.value) {
                const v = achievementMap.value[k];
                const category = r[v.Category];
                if (!category) {
                    console.log(`category ${v.Category} not found`, v);
                    continue;
                }

                allCategory.TotalPoint += v.Point;
                allCategory.AllEntries.push(v);

                category.TotalPoint += v.Point;
                category.AllEntries.push(v);

                if (v.hasChildren) {
                    continue;
                }

                allCategory.Entries.push(v);
                category.Entries.push(v);
            }

            return Object.values(r).sort((a, b) => a.Id - b.Id);
        });

        const clearAchievementMap = ref(loadClearAchievementMap());
        const clearAchievementCount = computed(() => {
            if (!currentCategory.value) {
                return 0;
            }

            return currentCategory.value.AllEntries.filter(e => clearAchievementMap.value[e.Id]).length;
        });
        const clearAchievementPoint = computed(() => {
            if (!currentCategory.value) {
                return 0;
            }

            return currentCategory.value.AllEntries.filter(e => clearAchievementMap.value[e.Id]).reduce((acc, e) => acc + e.Point, 0);
        });

        const getClearAchievementState = (id: number) => {
            const achievement = achievementMap.value[id];
            if (!achievement) {
                return false;
            }

            return clearAchievementMap.value[id];
        }

        const getClearAchievementIndeterminateState = (id: number) => {
            const achievement = achievementMap.value[id];
            if (!achievement) {
                return false;
            }

            if (achievement.hasChildren) {
                return false;
            }

            const flag = clearAchievementMap.value[id];
            return !achievement.AllPrerequirements.every(e => clearAchievementMap.value[e.Id] === flag);
        }

        const toggleClearAchievementState = (id: number) => {
            const achievement = achievementMap.value[id];
            if (!achievement) {
                return;
            }

            const flag = !clearAchievementMap.value[id];
            if (achievement.hasChildren) {
                clearAchievementMap.value[id] = flag;

                saveClearAchievementMap(clearAchievementMap.value);
                return;
            }

            for (const e of achievement.AllPrerequirements) {
                clearAchievementMap.value[e.Id] = flag;
            }

            clearAchievementMap.value[id] = flag;

            saveClearAchievementMap(clearAchievementMap.value);
        }

        const currentTab = ref(0);
        const currentCategory = computed<AchievementCategoryInfo | undefined>(() => achievementCategoryList.value[currentTab.value]);

        const changedTab = (idx: number) => {
            console.log(idx);
            if (!achievementCategoryList.value[idx]) {
                router.push(`/achievement`);
                return;
            }

            router.push(`/achievement/${achievementCategoryList.value[idx].Id}`);
        }

        const tooltipShow = ref(false);
        const tooltipValue = ref<AchievementInfoExtend>();
        const tooltipParent = ref<Element>();
        const showTooltip = (et: EventTarget, entry?: AchievementInfoExtend) => {
            tooltipValue.value = entry;
            tooltipParent.value = et as Element;
            tooltipShow.value = !!entry;
        }

        const load = async () => {
            await db.value.tryOpen();

            const acMap = await db.value.getData('AchievementCategoryNameMap');
            achievementCategoryNameMap.value = acMap;

            const alist = await db.value.getSortedListData('AchievementList');
            achievementList.value = alist;

            const categoryId = +route.params.id || 0;
            if (categoryId) {
                const idx = achievementCategoryList.value.findIndex(e => e.Id === categoryId);
                if (idx < 0) {
                    alert(`achievement category ${categoryId} not found`);

                    router.push('/achievement');
                    return;
                }

                currentTab.value = idx;
            }
        }

        onMounted(load);
        watch(db, load);

        const getString = (key: string) => {
            return db.value.getCurLangString(key);
        }

        return {
            mdiClose,
            mdiMagnify,
            mdiHammerWrench,
            mdiFountainPen,
            mdiApps,
            mdiProgressWrench,
            mdiMonitor,

            isLoading,
            db,
            resUrl,
            region,
            achievementList,
            achievementCategoryList,
            achievementTableExpandMap: ref<Record<number, boolean>>({}),
            clearAchievementMap,
            getClearAchievementState,
            getClearAchievementIndeterminateState,
            toggleClearAchievementState,
            clearAchievementCount,
            clearAchievementPoint,

            currentTab,
            currentCategory,
            changedTab,
            getString,

            tooltipShow,
            tooltipValue,
            tooltipParent,
            showTooltip,
        };
    }
});

type ClearAchievementMap = Record<number, boolean>;
const _CLEAR_ACHIEVEMENT_MAP_KEY = 'clearAchievement';

function loadClearAchievementMap(): ClearAchievementMap {
    const d: ClearAchievementMap = JSON.parse(localStorage.getItem(_CLEAR_ACHIEVEMENT_MAP_KEY) || 'null') || {};

    return d;
}

function saveClearAchievementMap(v: ClearAchievementMap) {
    localStorage.setItem(_CLEAR_ACHIEVEMENT_MAP_KEY, JSON.stringify(v));
}


</script>