<template>
    <v-app-bar v-if="!isSubComponent" :loading="isLoading" density="default" order="1" height="112">
        <v-sheet width="100vw" class="d-flex flex-wrap pl-1 pr-1">
            <v-sheet width="100vw">
                <v-combobox v-model="filterText" :items="itemNameList" @update:model-value="onchangeName"
                    variant="outlined" label="Item Name" density="compact" class="ma-2" hide-details />
            </v-sheet>
            <v-sheet width="100vw" class="d-flex">
                <v-autocomplete v-model="filterPrefix" :items="prefixList" :item-title="v => getString(v.Name)"
                    :item-value="v => v.Id" @update:model-value="onchangePrefix" variant="outlined" clearable
                    label="Item Prefix" density="compact" class="ma-2" hide-details />
                <v-autocomplete v-model="filterSuffix" :items="suffixList" :item-title="v => getString(v.Name)"
                    :item-value="v => v.Id" @update:model-value="onchangeSuffix" variant="outlined" clearable
                    label="Item Suffix" density="compact" class="ma-2" hide-details />
            </v-sheet>
        </v-sheet>
    </v-app-bar>
    <v-virtual-scroll :items="auctionItemList" ref="vscroll"
        style="min-height: 300px; height: calc(100svh - var(--v-layout-top))">
        <template v-slot:default="{ item }">
            <v-card min-height="100" class="d-flex ma-1 pa-1">
                <item-img :width="100" :height="100" :item="item.Item" />
                <v-sheet>
                    <p>{{ item.DisplayName }} {{ item.Item.Id }} {{ item.Count > 1 ? `x ${item.Count}` : '' }}</p>
                    <p>Price {{ mabiHumanReadablePrice(item.PricePerUnit) }}</p>
                    <br />
                    <p v-for="v in item.Options" v-bind:key="v.Type">
                        {{ v.Type }} {{ v.SubType }} {{ v.Value }} {{ v.Value2 }}
                    </p>
                </v-sheet>
                <v-spacer></v-spacer>
                <v-sheet class="align-self-center">

                </v-sheet>
            </v-card>
        </template>
    </v-virtual-scroll>
</template>

<script lang="ts">
import { defineComponent, ref, onMounted, computed, inject, watch, PropType, toRefs } from "vue";
import { useRoute, useRouter } from 'vue-router';
// import type { VVirtualScroll } from "vuetify/lib/components/index.mjs";

import { apiClient, AuctionItem, AuctionItemSearchReq } from '@/apicall';
import { filterList } from '@/util';
import { mabiHumanReadablePrice } from '@/mabiutil';
import type { ItemInfo, OptionSetInfo } from '@/protos/resourcedata';

import ItemImgComponent from '@/components/itemImg.vue';

type AuctionItemEx = AuctionItem & {
    Item: ItemInfo;
}

export default defineComponent({
    components: {
        ItemImg: ItemImgComponent,
    },
    props: {
        queryParams: {
            type: Object as PropType<AuctionItemSearchReq>,
            default: (): AuctionItemSearchReq => ({
                ItemIds: [],
                PrefixId: 0,
                SuffixId: 0,
                RaceIds: [],
                Limit: 1000,
                Page: 0,
            }),
        },
        isSubComponent: {
            type: Boolean,
            default: false,
        },
    },
    setup(props) {
        const route = useRoute();
        const router = useRouter();

        const isLoading = inject("isLoading");
        const db = inject("db");

        const filterText = ref('');
        const filterPrefix = ref<number>();
        const filterSuffix = ref<number>();

        const itemList = ref<ItemInfo[]>([]);

        const itemNameList = computed(() =>
            [...new Set(itemList.value.map(v => getString(v.Name)))]);

        const itemMapByName = computed<Record<string, ItemInfo>>(() => {
            const m: Record<string, ItemInfo> = {};

            for (const v of itemList.value) {
                m[getString(v.Name)] = v;
            }

            return m;
        });

        const optionSetList = ref<OptionSetInfo[]>([]);
        const prefixList = computed(() =>
            optionSetList.value.filter(v => v.Usage === 0));
        const suffixList = computed(() =>
            optionSetList.value.filter(v => v.Usage === 1));

        const filteredItemList = computed(() =>
            filterList(filterText.value, itemList.value, v => `${getString(v.Name)} ${v.Id}`));

        const { queryParams, isSubComponent } = toRefs(props);

        const auctionItemList = ref<AuctionItemEx[]>([]);
        let searchTimeout = 0;

        let onchangeNameTimeout = 0;
        const onchangeName = () => {
            if (onchangeNameTimeout) {
                clearTimeout(onchangeNameTimeout);
            }

            onchangeNameTimeout = setTimeout(() => {
                onchangeNameTimeout = 0;
                queryParams.value.ItemIds = filterText.value ? filteredItemList.value.map(v => v.Id) : [];
                search();
            }, 200);
        }

        let onchangePrefixTimeout = 0;
        const onchangePrefix = () => {
            if (onchangePrefixTimeout) {
                clearTimeout(onchangePrefixTimeout);
            }

            onchangePrefixTimeout = setTimeout(() => {
                onchangePrefixTimeout = 0;
                queryParams.value.PrefixId = filterPrefix.value || 0;
                search();
            }, 200);
        }

        let onchangeSuffixTimeout = 0;
        const onchangeSuffix = () => {
            if (onchangeSuffixTimeout) {
                clearTimeout(onchangeSuffixTimeout);
            }

            onchangeSuffixTimeout = setTimeout(() => {
                onchangeSuffixTimeout = 0;
                queryParams.value.SuffixId = filterSuffix.value || 0;
                search();
            }, 200);
        }

        const search = (immediately = false) => {
            if (searchTimeout) {
                clearTimeout(searchTimeout);
            }

            // debounce
            searchTimeout = setTimeout(async () => {
                searchTimeout = 0;

                const { response: r } = await apiClient.auctionItemSearch(queryParams.value);
                auctionItemList.value = r.Items
                    .map(v => ({ ...v, Item: itemMapByName.value[v.Name] }))
                    .filter(v => v.Item);

                if (!isSubComponent.value) {
                    router.push(`/auction/${JSON.stringify(queryParams.value)}`);
                }
            }, immediately ? 0 : 500);
        }

        const load = async () => {
            await db.value.tryOpen();

            optionSetList.value = await db.value.getSortedListData('OptionSetList');
            itemList.value = await db.value.getSortedListData('ItemList');

            const queryStr = route.params.query as string || '';
            if (!isSubComponent.value && queryStr) {
                try {
                    const query = JSON.parse(queryStr) as AuctionItemSearchReq;
                    formatSearchParams(query);

                    Object.assign(queryParams.value, query);
                }
                catch (e) {
                    console.error(e);
                    alert(`invalid query ${queryStr}\n${e}`);
                }
            }

            search(true);
        }

        onMounted(load);
        watch(db, load);

        const getString = (key: string) => {
            return db.value.getCurLangString(key);
        }

        return {
            isLoading,

            filterText,
            filterPrefix,
            filterSuffix,

            itemNameList,
            filteredItemList,
            auctionItemList,
            prefixList,
            suffixList,

            getString,
            onchangeName,
            onchangePrefix,
            onchangeSuffix,
            mabiHumanReadablePrice,
        };
    }
});

function formatSearchParams(params: AuctionItemSearchReq) {
    const defaultParams: AuctionItemSearchReq = {
        ItemIds: [],
        PrefixId: 0,
        SuffixId: 0,
        RaceIds: [],
        Limit: 1000,
        Page: 0,
    };

    for (const _k in defaultParams) {
        const k = _k as keyof AuctionItemSearchReq;

        if (params[k] === undefined) {
            params[k] = defaultParams[k] as any;
        }
    }
}
</script>
