<template>
    <v-app-bar :loading="isLoading" density="default" order="1">
        <v-sheet width="100vw" class="d-flex pl-2 pr-2">
            <v-text-field v-model="filter" variant="outlined" label="물물교역 아이템 이름" density="compact" hide-details
                class="ma-2"></v-text-field>
        </v-sheet>
    </v-app-bar>
    <v-virtual-scroll :items="filteredBarterList" ref="vscroll" item-height="135"
        style="min-height: 300px; height: calc(100svh - var(--v-layout-top));">
        <template v-slot:default="{ item }">
            <v-card height="125" class="d-flex ma-1">
                <v-sheet width="100" height="100"
                    :style='`background: url("${resUrl}barterimage/${region}/${item.Id}/${item.Id}.png") no-repeat; background-position: center;`' />
                <v-sheet class="mr-4">
                    <p>{{ getString(item.Name) }} / 교역소 {{ getString(commercePostNameList[item.PostId]) }}</p>
                    <p>제한 {{ item.Limit }}개 / 초기화 {{ item.ResetType }}</p>
                </v-sheet>
                <v-sheet class="d-flex">
                    <v-sheet v-for="p, i in item.Prices" v-bind:key="i" width="100">
                        <item-img :width="100" :height="100" :item="itemInfoMap[p.Id]" @click="priceBtn(p.Id)"
                            :enable-click-event="false" />
                        <v-tooltip location="bottom" open-on-click>
                            <template v-slot:activator="{ props }">
                                <p v-bind="props">
                                    <span class="d-inline-block text-truncate" style="max-width: 75px;">{{
                                        getString(itemInfoMap[p.Id]?.Name) }}
                                    </span>
                                    <span class="d-inline-block text-truncate" style="min-width: 25px;">&nbsp;x{{
                                        p.Count
                                        }}</span>
                                </p>
                            </template>
                            {{ getString(itemInfoMap[p.Id]?.Name) }} x {{ p.Count }}
                        </v-tooltip>
                    </v-sheet>
                </v-sheet>
            </v-card>
        </template>
    </v-virtual-scroll>
    <v-dialog v-model="dialog" width="auto">
        <v-card>
            <v-card-text>
                <pre style="text-wrap: balance">{{ dialogJson }}</pre>
            </v-card-text>
            <v-card-actions>
                <v-btn color="primary" block @click="dialog = false">Close</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
    <v-dialog v-model="dialog2" width="auto">
        <v-card>
            <v-card-text>
                <production-info :item="dialog2Item" :item-info-list="itemInfoMap" :production-map="productionMap"
                    :db="db"></production-info>
            </v-card-text>
            <v-card-actions>
                <v-btn color="primary" block @click="dialog2 = false">Close</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script lang="ts">
import { defineComponent, ref, onMounted, computed, inject, watch } from "vue";
import type { VVirtualScroll } from "vuetify/lib/components/index.mjs";

import { resUrl, apiClient } from '@/apicall';
import type { BarterInfo, ProductionInfo, ItemInfo } from '@/protos/resourcedata';

import ProductionInfoComponent from '@/components/productionInfo.vue';
import ItemImgCompoenent from '@/components/itemImg.vue';

type BarterExtendInfo = BarterInfo & {
    SearchHelpStr: string;
}

type BarterExtendList = BarterExtendInfo[];
type CommercePostNameMap = Record<number, string>;

export default defineComponent({
    components: {
        ProductionInfo: ProductionInfoComponent,
        ItemImg: ItemImgCompoenent,
    },
    setup() {
        const isLoading = inject("isLoading");
        const region = inject("region");
        const db = inject("db");

        const vscroll = ref<VVirtualScroll>();

        const filter = ref('');
        const barterList = ref<BarterExtendList>([]);
        const itemInfoList = ref<ItemInfo[]>([]);
        const itemInfoMap = computed<Record<number, ItemInfo>>(() => {
            const m: Record<number, ItemInfo> = {};

            for (const v of itemInfoList.value) {
                m[v.Id] = v;
            }

            return m;
        });

        const commercePostNameList = ref<CommercePostNameMap>({});
        const productionList = ref<ProductionInfo[]>([]);

        const filteredBarterList = computed<BarterExtendList>(() => {
            if (!filter.value) {
                return barterList.value;
            }

            const filterStr = filter.value.trim();
            const filtered: BarterExtendList = [];

            const removeSpaceFilter = filterStr.replaceAll(' ', '');
            const splitSpaceFilter = filterStr.split(' ');
            for (const v of barterList.value) {
                const str = v.SearchHelpStr;
                if (!str) {
                    // ?
                    continue;
                }

                const _splitSpaceFilter = splitSpaceFilter.slice();
                const removeSpaceStr = str.replaceAll(' ', '');
                const splitSpaceStr = str.split(' ');

                const cond1 = removeSpaceStr?.includes(removeSpaceFilter);
                const cond2 = splitSpaceStr.reduce((p, x) => {
                    for (let i = 0; i < _splitSpaceFilter.length; i++) {
                        if (x.includes(_splitSpaceFilter[i])) {
                            _splitSpaceFilter.splice(i, 1);
                            return p + 1;
                        }
                    }

                    return p;
                }, 0) == splitSpaceFilter.length;

                if (cond1 || cond2) {
                    filtered.push(v);
                }
            }


            return filtered;
        });

        const productionMap = computed<Record<number, ProductionInfo>>(() => {
            const m: Record<number, ProductionInfo> = {};

            for (const v of productionList.value) {
                m[v.ItemId] = v;
            }

            return m;
        });

        const dialog = ref(false);
        const dialogJson = ref('');

        const dialog2 = ref(false);
        const dialog2Item = ref<ProductionInfo>();

        const priceBtn = (itemId: number) => {
            if (!productionMap.value?.[itemId]) {
                return showItemInfo(itemId);
            }

            showProduction(itemId);
        }

        const showItemInfo = async (itemId: number) => {
            const d = await loadItemInfo(region.value, itemId);

            dialogJson.value = JSON.stringify(d, null, 4);
            dialog.value = true;
        }

        const showProduction = (itemId: number) => {
            const item = productionMap.value?.[itemId];
            if (!item) {
                return;
            }

            dialog2Item.value = item;
            dialog2.value = true;
        }

        const loadProductionList = async () => {
            const d = await db.value.getData('ProductionList');

            for (const v of d) {
                v.Essentials.forEach(x => x.ItemIds.sort((a, b) => a - b));
                v.CompleteEssentials?.forEach(x =>
                    x.Essentials.forEach(y => y.ItemIds.sort((a, b) => a - b))
                );
            }

            d.sort((a, b) => {
                if (a.Type == b.Type) {
                    return a.ItemId - b.ItemId
                }

                return a.Type - b.Type
            })

            return d;
        }

        const loadBarterList = async () => {
            const d = await db.value.getData('BarterList');

            d.sort((a, b) => {
                if (a.PostId == b.PostId) {
                    return a.Id - b.Id
                }

                return a.PostId - b.PostId
            });

            return d;
        }

        const getString = (key: string) => {
            return db.value.getCurLangString(key);
        }

        const load = async () => {
            await db.value.tryOpen();

            const ilist = await db.value.getData('ItemList');
            itemInfoList.value = ilist;

            const clist = await db.value.getData('CommercePostNameMap');
            commercePostNameList.value = clist;

            const plist = await loadProductionList();
            productionList.value = plist;

            const blist = await loadBarterList();
            const cblist = blist.map(v => {
                const searchHelpStr = `${getString(v.Name)} ${v.Prices?.map(x => getString(itemInfoMap.value[x.Id]?.Name)).join(' ')}`;
                return {
                    ...v,
                    SearchHelpStr: searchHelpStr,
                }
            });

            barterList.value = cblist;
        };

        onMounted(load);
        watch(db, load);

        return {
            isLoading,
            resUrl,
            region,
            vscroll,

            filter,
            barterList,
            filteredBarterList,
            itemInfoMap,
            commercePostNameList,
            productionMap,
            priceBtn,
            getString,
            db,

            // dialog
            dialog,
            dialogJson,

            // dialog2
            dialog2,
            dialog2Item,
        };
    }
});

async function loadItemInfo(region: string, itemId: number): Promise<unknown> {
    const { response: res } = await apiClient.itemJson({ Region: region, Id: itemId });

    const d = JSON.parse(res.Json);
    return d;
}
</script>