<template>
    <v-sheet width="100vw" style="height: calc(100svh - var(--v-layout-top));">
        <char-view :get-gltf="getGltf" ref="charView" style="width: 100vw; height: calc(100svh - var(--v-layout-top));">
            <template v-slot:prepend>
                <v-btn @click="showForm = true" :icon="mdiPencil" variant="text" />
            </template>
        </char-view>
    </v-sheet>

    <v-sheet>
        <v-navigation-drawer temporary scrim="rgba(0, 0, 0, 0)" v-model="showForm" order="1" width="400">
            <v-sheet width="400px" class="pa-2">
                <v-expansion-panels v-model="panel" multiple>
                    <v-expansion-panel title="Load" value="load">
                        <v-expansion-panel-text>
                            <v-sheet class="d-flex">
                                <history-combobox :model="styleUrl" storage-key="mabistyleurls"
                                    @update:model="(v) => styleUrl = v" label="마비 스냅샷 주소"
                                    @keyup.enter="loadMabiStyleUrl"></history-combobox>
                                <v-btn :prepend-icon="mdiMagnify" color="success" @click="loadMabiStyleUrl"
                                    class="ml-2">Load</v-btn>
                            </v-sheet>
                        </v-expansion-panel-text>
                    </v-expansion-panel>
                    <v-expansion-panel title="Body" value="body">
                        <v-expansion-panel-text>
                            <v-autocomplete v-model="charViewData.Race" :items="charStyleList.Races" variant="outlined"
                                density="compact" item-title="Name" item-value="Id" label="종족"
                                @update:model-value="(v) => updateStyle(v, 'Race')"></v-autocomplete>
                            <v-slider v-model="height" step="1" min="0" :max="heightSlots.length - 1" label="키"
                                @update:model-value="(v) => updateStyle(v, 'Height')">
                                <template v-slot:append>
                                    {{ heightSlots[height][0] }}
                                </template>
                            </v-slider>
                            <v-slider v-model="charViewData.Weight" step="0.01" min="0.7" max="2.0" label="비만도"
                                @update:model-value="(v) => updateStyle(v, 'Weight')">
                                <template v-slot:append>
                                    {{ charViewData.Weight?.toFixed(2) }}
                                </template>
                            </v-slider>
                            <v-slider v-model="charViewData.Upper" step="0.01" min="0.7" max="2.0" label="상체"
                                @update:model-value="(v) => updateStyle(v, 'Upper')">
                                <template v-slot:append>
                                    {{ charViewData.Upper?.toFixed(2) }}
                                </template>
                            </v-slider>
                            <v-slider v-model="charViewData.Lower" step="0.01" min="0.7" max="2.0" label="하체"
                                @update:model-value="(v) => updateStyle(v, 'Lower')">
                                <template v-slot:append>
                                    {{ charViewData.Lower?.toFixed(2) }}
                                </template>
                            </v-slider>
                        </v-expansion-panel-text>
                    </v-expansion-panel>
                    <v-expansion-panel title="Face" value="face">
                        <v-expansion-panel-text>
                            <v-autocomplete v-model="charViewData.Face" :items="faces" variant="outlined"
                                density="compact" :item-title="v => getString(v.Name)" item-value="Id" label="얼굴형"
                                @update:model-value="(v) => updateStyle(v, 'Face')"></v-autocomplete>
                            <v-autocomplete v-model="charViewData.Hair" :items="hairs" variant="outlined"
                                density="compact" :item-title="v => getString(v.Name)" item-value="Id" label="머리"
                                @update:model-value="(v) => updateStyle(v, 'Hair')"></v-autocomplete>
                            <v-autocomplete v-model="charViewData.HairColor" :items="charStyleList.HairColors"
                                variant="outlined" density="compact" item-title="Name" item-value="Id" label="머리색"
                                @update:model-value="(v) => updateStyle(v, 'HairColor')"></v-autocomplete>
                            <v-autocomplete v-model="charViewData.SkinColor" :items="charStyleList.SkinColors"
                                variant="outlined" density="compact" item-title="Name" item-value="Id" label="피부색"
                                @update:model-value="(v) => updateStyle(v, 'SkinColor')"></v-autocomplete>
                            <v-autocomplete v-model="charViewData.EyeType" :items="charStyleList.EyeTypes"
                                variant="outlined" density="compact" :item-title="v => getString(v.Name)"
                                item-value="Id" label="눈"
                                @update:model-value="(v) => updateStyle(v, 'EyeType')"></v-autocomplete>
                            <v-autocomplete v-model="charViewData.LeftEyeColor" :items="charStyleList.EyeColors"
                                variant="outlined" density="compact" item-title="Name" item-value="Id" label="눈색 L"
                                @update:model-value="(v) => updateStyle(v, 'LeftEyeColor')"></v-autocomplete>
                            <v-autocomplete v-model="charViewData.RightEyeColor" :items="charStyleList.EyeColors"
                                variant="outlined" density="compact" item-title="Name" item-value="Id" label="눈색 R"
                                @update:model-value="(v) => updateStyle(v, 'RightEyeColor')"></v-autocomplete>
                            <v-autocomplete v-model="charViewData.MouthType" :items="charStyleList.MouthTypes"
                                variant="outlined" density="compact" :item-title="v => getString(v.Name)"
                                item-value="Id" label="입"
                                @update:model-value="(v) => updateStyle(v, 'MouthType')"></v-autocomplete>
                        </v-expansion-panel-text>
                    </v-expansion-panel>
                    <v-expansion-panel title="Equipment" value="equip">
                        <v-expansion-panel-text>
                            <v-sheet v-for="f in charEquipKeys" v-bind:key="f">
                                <v-sheet class="d-flex" v-if="!itemVScrollMap[f]">
                                    <v-autocomplete v-model="charViewData[f]!.Id" :items="equipItemList[f]"
                                        variant="outlined" density="compact" :item-title="v => getString(v.Name)"
                                        item-value="Id" :label="f" @update:model-value="(v) => updateItem(v, f)" />
                                    <v-btn :icon="mdiTshirtVOutline" class="ml-1" size="small"
                                        @click="itemVScrollMap[f] = true" />
                                    <v-dialog v-model="colorPickerDialogMap[f]" min-width="400" width="33%"
                                        scrim="rgba(0, 0, 0, 0)" content-class="justleft" scroll-strategy="none">
                                        <template v-slot:activator="{ props }">
                                            <v-btn v-bind="props"
                                                :disabled="!equipItemMap[charViewData[f]!.Id]?.ColorCount" class="ml-1"
                                                :icon="mdiPalette" size="small">
                                            </v-btn>
                                        </template>

                                        <v-card>
                                            <item-color-picker :colors="charViewData[f]!.Colors!"
                                                :color-count="equipItemMap[charViewData[f]!.Id].ColorCount!"
                                                :default-colors="equipItemMap[charViewData[f]!.Id].DefaultColors!"
                                                @updated="updateColor"></item-color-picker>
                                            <v-btn color="primary" @click="colorPickerDialogMap[f] = false"
                                                class="pa-0">Close</v-btn>
                                        </v-card>
                                    </v-dialog>
                                </v-sheet>
                                <v-sheet v-if="itemVScrollMap[f]">
                                    <v-sheet class="d-flex">
                                        <v-text-field v-model="equipItemFilterStr[f]" variant="outlined"
                                            density="compact" :label="f" />
                                        <v-btn :icon="mdiListBoxOutline" class="ml-2" size="small"
                                            @click="itemVScrollMap[f] = false; equipItemFilterStr[f] = ''" />
                                    </v-sheet>
                                    <v-virtual-scroll :items="equipItemList[f]" height="500" class="mb-3">
                                        <template v-slot:default="{ item }">
                                            <v-list-item :title="getString(item.Name)">
                                                <template v-slot:prepend>
                                                    <item-img v-if="itemMap[item.Id]" :width="50" :height="100" :item="itemMap[item.Id]" />
                                                </template>

                                                <template v-slot:append>
                                                    <v-btn :icon="mdiPencil" size="x-small"
                                                        @click="updateItem(item.Id, f)"></v-btn>
                                                </template>
                                            </v-list-item>
                                        </template>
                                    </v-virtual-scroll>
                                </v-sheet>
                            </v-sheet>
                            <v-autocomplete v-model="charViewData.CustomMotionItem!.Id" :items="equipItemList.Armor"
                                variant="outlined" density="compact" :item-title="v => getString(v.Name)"
                                item-value="Id" label="Custom Motion"
                                @update:model-value="(v) => updateItem(v, 'CustomMotionItem')" />
                            <v-select v-if="charViewData.RightHand" v-model="charViewData.WeaponAniType" :items="weaponAniTypes"
                                :item-title="v => v[0]" :item-value="v => v[1]"
                                variant="outlined" density="compact" label="Weapon Ani Type"
                                @update:model-value="(v) => updateStyle(v, 'WeaponAniType')"></v-select>
                        </v-expansion-panel-text>
                    </v-expansion-panel>
                    <v-expansion-panel title="Social Motion" value="socialMotion">
                        <v-expansion-panel-text>
                            <v-sheet class="d-flex">
                                <v-autocomplete v-model="selectedSocialMotion" :items="socialMotionList"
                                    variant="outlined" density="compact" :item-title="v => getString(v.Name)"
                                    :item-value="v => v" label="Social Motion" />
                                <v-btn :icon="mdiPlay" class="ml-1" size="small" @click="playSocialMotion()" />
                            </v-sheet>
                        </v-expansion-panel-text>
                    </v-expansion-panel>
                </v-expansion-panels>
            </v-sheet>
        </v-navigation-drawer>
    </v-sheet>
</template>

<script lang="ts">
import { defineComponent, ref, onMounted, computed, inject, watch } from "vue";
import { mdiMagnify, mdiTshirtVOutline, mdiPalette, mdiListBoxOutline, mdiPencil, mdiPlay } from '@mdi/js';

import { resUrl, apiClient, CharMeshStyle, WeaponAniType } from "@/apicall";
import { getHeightByAge } from "@/mabiutil";
import { filter as filterByStr } from "@/util";

import type { ItemInfo, CharStyleInfo, CharStyleData, EquipItemData, SocialMotionInfo } from '@/protos/resourcedata';
import type { IdWithName } from "@/types/common";

import CharView from "@/components/characterViewer.vue";
import ItemColorPicker from "@/components/itemColorPicker.vue";
import HistoryCombobox from "@/components/historyCombobox.vue";
import ItemImgCompoenent from '@/components/itemImg.vue';

export default defineComponent({
    components: {
        CharView,
        ItemColorPicker,
        HistoryCombobox,
        ItemImg: ItemImgCompoenent,
    },
    setup() {
        const isLoading = inject("isLoading");
        const region = inject("region");
        const db = inject("db");

        const styleUrl = ref('');
        const charView = ref<InstanceType<typeof CharView>>();
        const charViewData = ref<CharMeshStyle>(loadCharSimulData());

        let updateCharViewTimeoutIdx: number | undefined;
        const updateCharView = () => {
            if (typeof updateCharViewTimeoutIdx == 'number') {
                clearTimeout(updateCharViewTimeoutIdx);
            }

            updateCharViewTimeoutIdx = setTimeout(() => {
                saveCharSimulData(charViewData.value);
                charView.value?.update();
            }, 100);
        }

        const loadMabiStyleUrl = async () => {
            try {
                const d = await loadMabiStyleData(region.value, styleUrl.value);

                charViewData.value = d;
                updateCharView();
            } catch (e) {
                alert(`서버에서 데이터를 가져오던 중 오류가 발생했습니다.\n${e}`);
            }
        }

        const height = computed({
            get(): number {
                for (let i = 0; i < heightSlots.length; i++) {
                    if (Math.abs(heightSlots[i][1] - charViewData.value.Height) < 0.01) {
                        return i
                    }
                }

                return 9; // 17살
            },
            set(v: number) {
                charViewData.value.Height = heightSlots[v]?.[1] ?? 1;
            }
        });

        const itemList = ref<ItemInfo[]>([]);

        const itemMap = computed<Record<number, ItemInfo>>(() => {
            const m: Record<number, ItemInfo> = {};

            for (const v of itemList.value) {
                m[v.Id] = v;
            }

            return m;
        });

        const charStyleListRaw = ref<CharStyleData>({
            Races: [],
            MaleFaces: [],
            FemaleFaces: [],
            SkinColors: [],
            MaleHairs: [],
            FemaleHairs: [],
            HairColors: [],
            EyeColors: [],
            EyeTypes: [],
            MouthTypes: [],
        });
        const equipItemListRaw = ref<EquipItemData>({
            Armor: [],
            Head: [],
            Glove: [],
            Shoes: [],
            Robe: [],
            Puppet: [],
            Halo: [],
            FaceDeco: [],
            Tail: [],
            RightHand: [],
        });
        const equipItemFilterStr = ref<Record<keyof EquipItemData, string>>({
            Armor: '',
            Head: '',
            Glove: '',
            Shoes: '',
            Robe: '',
            Puppet: '',
            Halo: '',
            FaceDeco: '',
            Tail: '',
            RightHand: '',
        });

        const curRaceFilter = (v: CharStyleInfo) => !v.AllowRaces?.length || v.AllowRaces.find(u => u == charViewData.value.Race);
        const equipItemFilter = (v: CharStyleInfo, s: string) => filterByStr(s, v, v => getString(v.Name) + ` ${v.Id}`);

        const charStyleList = computed<CharStyleData>(() => ({
            Races: charStyleListRaw.value.Races.filter(curRaceFilter),
            MaleFaces: charStyleListRaw.value.MaleFaces.filter(curRaceFilter),
            FemaleFaces: charStyleListRaw.value.FemaleFaces.filter(curRaceFilter),
            SkinColors: charStyleListRaw.value.SkinColors.filter(curRaceFilter),
            MaleHairs: charStyleListRaw.value.MaleHairs.filter(curRaceFilter),
            FemaleHairs: charStyleListRaw.value.FemaleHairs.filter(curRaceFilter),
            HairColors: charStyleListRaw.value.HairColors.filter(curRaceFilter),
            EyeColors: charStyleListRaw.value.EyeColors.filter(curRaceFilter),
            EyeTypes: charStyleListRaw.value.EyeTypes.filter(curRaceFilter),
            MouthTypes: charStyleListRaw.value.MouthTypes.filter(curRaceFilter),
        }));
        const equipItemList = computed<EquipItemData>(() => ({
            Armor: equipItemListRaw.value.Armor?.filter(curRaceFilter).filter(v => equipItemFilter(v, equipItemFilterStr.value.Armor)) || [],
            Head: equipItemListRaw.value.Head?.filter(curRaceFilter).filter(v => equipItemFilter(v, equipItemFilterStr.value.Head)) || [],
            Glove: equipItemListRaw.value.Glove?.filter(curRaceFilter).filter(v => equipItemFilter(v, equipItemFilterStr.value.Glove)) || [],
            Shoes: equipItemListRaw.value.Shoes?.filter(curRaceFilter).filter(v => equipItemFilter(v, equipItemFilterStr.value.Shoes)) || [],
            Robe: equipItemListRaw.value.Robe?.filter(curRaceFilter).filter(v => equipItemFilter(v, equipItemFilterStr.value.Robe)) || [],
            Puppet: equipItemListRaw.value.Puppet?.filter(curRaceFilter).filter(v => equipItemFilter(v, equipItemFilterStr.value.Puppet)) || [],
            Halo: equipItemListRaw.value.Halo?.filter(curRaceFilter).filter(v => equipItemFilter(v, equipItemFilterStr.value.Halo)) || [],
            FaceDeco: equipItemListRaw.value.FaceDeco?.filter(curRaceFilter).filter(v => equipItemFilter(v, equipItemFilterStr.value.FaceDeco)) || [],
            Tail: equipItemListRaw.value.Tail?.filter(curRaceFilter).filter(v => equipItemFilter(v, equipItemFilterStr.value.Tail)) || [],
            RightHand: equipItemListRaw.value.RightHand?.filter(curRaceFilter).filter(v => equipItemFilter(v, equipItemFilterStr.value.RightHand)) || [],
        }));
        const equipItemMap = computed(() => {
            const m: Record<number, CharStyleInfo> = {};

            const keys = Object.keys(equipItemListRaw.value) as (keyof EquipItemData)[];
            for (const k of keys) {
                for (const item of equipItemListRaw.value[k]) {
                    m[item.Id] = item;
                }
            }

            return m;
        });

        const isFemale = computed<boolean>(() => {
            // @TODO race list 가져오기
            if (charViewData.value.Race % 10 == 1) {
                return true;
            }

            return false;
        })

        const faces = computed<IdWithName[]>(() => {
            return isFemale.value ? charStyleList.value.FemaleFaces : charStyleList.value.MaleFaces;
        })

        const hairs = computed<IdWithName[]>(() => {
            return isFemale.value ? charStyleList.value.FemaleHairs : charStyleList.value.MaleHairs;
        });

        const getGltf = computed(() => (): Promise<string> =>
            apiClient.charMesh({ Region: region.value, Style: charViewData.value }).then(v => v.response.Json));

        const updateStyle = (v: number, k: keyof CharMeshStyle) => {
            if (!v && typeof v != 'number') {
                charViewData.value[k] = defaultChar[k] as any;
            }

            updateCharView();
        }

        const updateItem = (v: number, k: keyof CharMeshStyle) => {
            v ||= 0;
            const equip = charViewData.value[k] as any;
            if (equip) {
                equip.Id = v;
            }

            updateCharView();

            return v;
        }

        const updateColor = () => {
            charView.value?.updateColor(charViewData.value);
            saveCharSimulData(charViewData.value);
        }

        // social motion
        const selectedSocialMotion = ref<SocialMotionInfo>();
        const socialMotionListRaw = ref<SocialMotionInfo[]>([]);
        const socialMotionList = computed(() => socialMotionListRaw.value.filter(v => !v.AllowRaces?.length || v.AllowRaces.find(u => u == charViewData.value.Race)));

        const playSocialMotion = () => {
            const motion = selectedSocialMotion.value;
            if (!motion) {
                return;
            }

            charView.value?.playSocialMotion(motion.Id, charViewData.value.Race);
        }

        const loadCharStyleList = async (): Promise<CharStyleData> => {
            const d = await db.value.getData('CharStyle') || {
                Races: [],
                MaleFaces: [],
                FemaleFaces: [],
                SkinColors: [],
                MaleHairs: [],
                FemaleHairs: [],
                HairColors: [],
                EyeColors: [],
                EyeTypes: [],
                MouthTypes: [],
            };
            for (const _k in d) {
                const k = _k as keyof typeof d;

                d[k]?.sort(({ Name: a }, { Name: b }) => a.localeCompare(b));
            }

            return d;
        }

        const loadEquipItemList = async (): Promise<EquipItemData> => {
            const d = await db.value.getData('EquipItem') || {
                Armor: [],
                Head: [],
                Glove: [],
                Shoes: [],
                Robe: [],
                Puppet: [],
                Halo: [],
                FaceDeco: [],
                Tail: [],
                RightHand: [],
            };

            for (const _k in d) {
                const k = _k as keyof typeof d;

                for (const v of d[k]) {
                    if (v.Name[0] == '@') {
                        v.Name = v.Name.slice(1);
                    }
                }

                d[k]?.sort(({ Name: a }, { Name: b }) => a == 'None' ? -1 : b == 'None' ? 1 : a.localeCompare(b));
            }

            return d;
        }

        const getString = (key: string) => {
            return db.value.getCurLangString(key);
        }

        const load = async () => {
            await db.value.tryOpen();

            itemList.value = await db.value.getData('ItemList');
            charStyleListRaw.value = await loadCharStyleList();
            console.log(charStyleListRaw.value);
            equipItemListRaw.value = await loadEquipItemList();
            console.log(equipItemListRaw.value);

            socialMotionListRaw.value = await db.value.getSortedListData('SocialMotionList');
        }

        onMounted(load);
        watch(db, load);

        return {
            isLoading,
            mdiMagnify,
            mdiTshirtVOutline,
            mdiPalette,
            mdiListBoxOutline,
            mdiPencil,
            mdiPlay,

            // load
            styleUrl,
            loadMabiStyleUrl,
            rules: [
                (v: string) => {
                    if (v.trim()) {
                        return true;
                    }

                    return "주소를 입력하세요.";
                }
            ],

            resUrl,
            region,
            itemMap,
            charStyleList,
            faces,
            hairs,
            equipItemList,
            equipItemMap,
            socialMotionList,
            charEquipKeys,
            updateStyle,
            updateItem,
            updateColor,
            colorPickerDialogMap: ref<Record<string, boolean>>({}),
            itemVScrollMap: ref<Record<string, boolean>>({}),
            equipItemFilterStr,
            panel: ref(['load', 'body', 'face', 'equip', 'socialMotion']),
            height,
            heightSlots,
            weaponAniTypes,
            getString,
            showForm: ref(true),

            // social motion
            selectedSocialMotion,
            playSocialMotion,

            charView,
            charViewData,
            getGltf,
        };
    }
});

function loadCharSimulData(): CharMeshStyle {
    const d: CharMeshStyle = JSON.parse(localStorage.getItem('charSimulData') || 'null') || {};
    formatCharMeshReq(d);

    return d;
}

function saveCharSimulData(v: CharMeshStyle) {
    localStorage.setItem('charSimulData', JSON.stringify(v));
}

function formatCharMeshReq(_d: CharMeshStyle) {
    const d = _d as any;

    for (const _k in defaultChar) {
        const k = _k as keyof typeof defaultChar;

        if (!d[k] && typeof d[k] != 'number') {
            d[k] = defaultChar[k];
            continue;
        }

        if ((charEquipKeys.includes(k as CharEquipType) || k == 'CustomMotionItem') && !d[k].Colors) {
            d[k].Colors = [];
        }
    }
}

async function loadMabiStyleData(region: string, url: string): Promise<CharMeshStyle> {
    const { response: res } = await apiClient.userInfoByUrl({ Region: region, Url: url });
    formatCharMeshReq(res);

    return res;
}

const defaultChar: CharMeshStyle = {
    Race: 10001,
    SkinColor: 16,
    HairColor: 28,
    EyeType: 24,
    LeftEyeColor: 3,
    RightEyeColor: 3,
    MouthType: 1,
    Height: 1,
    Weight: 1,
    Upper: 1,
    Lower: 1,
    CustomMotionItem: { Id: 0, Colors: [] },
    WeaponAniType: WeaponAniType.None,

    Face: 3900,
    Hair: 3022,
    Armor: { Id: 2200304, Colors: ['#ffbab1', '#193e35', '#dddddd', '#2c2325', '#dddddd', '#dddddd'] },
    Head: { Id: 0, Colors: [] },
    Glove: { Id: 0, Colors: [] },
    Shoes: { Id: 0, Colors: [] },
    Robe: { Id: 0, Colors: [] },
    Puppet: { Id: 0, Colors: [] },
    Halo: { Id: 0, Colors: [] },
    FaceDeco: { Id: 0, Colors: [] },
    Tail: { Id: 0, Colors: [] },
    RightHand: { Id: 0, Colors: [] },
};

type CharEquipType = keyof EquipItemData;

const charEquipKeys: CharEquipType[] = ['Armor', 'Head', 'Glove', 'Shoes', 'Robe', 'Puppet', 'Halo', 'FaceDeco', 'Tail', 'RightHand'];

const heightSlots: [string, number][] = [
    ["임프 포션", -0.5],
    ["9살", getHeightByAge(9)],
    ["10살", getHeightByAge(10)],
    ["11살", getHeightByAge(11)],
    ["12살", getHeightByAge(12)],
    ["13살", getHeightByAge(13)],
    ["14살", getHeightByAge(14)],
    ["15살", getHeightByAge(15)],
    ["16살", getHeightByAge(16)],
    ["17살", getHeightByAge(17)],
    ["18살", getHeightByAge(18)],
    ["19살", getHeightByAge(19)],
]

const weaponAniTypes: [string, number][] = [
    ["None", 0],
    ["Royal Alchemist", 1],
    ["Motion Card", 2],
    ["Visual Motion Card", 3],
];
</script>

<style>
.justleft {
    left: 0px;
}
</style>