<template>
    <v-sheet
        :style="'width: inherit; height: inherit; ' + cameraSettings.bgColor ? `background-color: ${cameraSettings.bgColor}` : ''">

        <canvas ref="viewport"
            style="position: fixed; width: inherit; height: -webkit-fill-available; max-height: inherit;"
            @mousedown.prevent="onMouseDown" @mouseup.prevent="onMouseUp" @mousemove.prevent="onMouseMove"
            @wheel.prevent="onWheel" @touchstart.prevent="onTouchStart" @touchend.prevent="onTouchEnd"
            @touchmove.prevent="onTouchMove" @contextmenu.prevent="() => false" />

        <template v-if="useCameraSettingsButton">
            <v-sheet class="d-flex" style="background-color: inherit;">
                <slot name="prepend"></slot>
                <v-spacer />
                <v-btn v-if="!showControllBox" fab @click="showControllBox = true;" :icon="mdiMenu" variant="text" />
            </v-sheet>

            <v-navigation-drawer temporary scrim="rgba(0, 0, 0, 0)" v-model="showControllBox" order="1" width="350"
                location="right" absolute>
                <v-sheet width="350px" class="pa-2">
                    <span class="ml-2 text-caption">Camera Settings</span>

                    <v-btn fab right absolute @click="showControllBox = false;" :icon="mdiClose" variant="text" />

                    <v-spacer />
                    <div class="ml-2 text-caption">Height</div>
                    <v-slider v-model="cameraSettings.PosY" :min="cameraSettingsMin.PosY" :max="cameraSettingsMax.PosY"
                        :step="1" hide-details>
                        <template v-slot:append>
                            <v-text-field v-model="cameraSettings.PosY" type="number" style="width: 70px"
                                density="compact" hide-details variant="underlined"></v-text-field>
                        </template>
                    </v-slider>

                    <div class="ml-2 text-caption">Angle</div>
                    <v-slider v-model="cameraSettings.RotY" :min="cameraSettingsMin.RotY" :max="cameraSettingsMax.RotY"
                        :step="1" hide-details>
                        <template v-slot:append>
                            <v-text-field v-model="cameraSettings.RotY" type="number" style="width: 70px"
                                density="compact" hide-details variant="underlined"></v-text-field>
                        </template>
                    </v-slider>

                    <div class="ml-2 text-caption">Distance</div>
                    <v-slider v-model="cameraSettings.Magnitude" :min="cameraSettingsMin.Magnitude"
                        :max="cameraSettingsMax.Magnitude" :step="1" hide-details>
                        <template v-slot:append>
                            <v-text-field v-model="cameraSettings.Magnitude" type="number" style="width: 70px"
                                density="compact" hide-details variant="underlined"></v-text-field>
                        </template>
                    </v-slider>

                    <div class="ml-2 text-caption">Char Height</div>
                    <v-slider v-model="cameraSettings.CharPosY" :min="cameraSettingsMin.CharPosY"
                        :max="cameraSettingsMax.CharPosY" :step="1" hide-details>
                        <template v-slot:append>
                            <v-text-field v-model="cameraSettings.CharPosY" type="number" style="width: 70px"
                                density="compact" hide-details variant="underlined"></v-text-field>
                        </template>
                    </v-slider>

                    <div class="ml-2 text-caption">Light Angle</div>
                    <v-slider v-model="cameraSettings.LightRotY" :min="cameraSettingsMin.LightRotY"
                        :max="cameraSettingsMax.LightRotY" :step="1" hide-details>
                        <template v-slot:append>
                            <v-text-field v-model="cameraSettings.LightRotY" type="number" style="width: 70px"
                                density="compact" hide-details variant="underlined"></v-text-field>
                        </template>
                    </v-slider>

                    <div class="ml-2 text-caption">Ambient</div>
                    <v-slider v-model="cameraSettings.Ambient.value" :min="cameraSettingsMin.Ambient.value"
                        :max="cameraSettingsMax.Ambient.value" :step="0.01" hide-details>
                        <template v-slot:append>
                            <v-text-field v-model="cameraSettings.Ambient.value" type="number" style="width: 70px"
                                density="compact" hide-details variant="underlined"></v-text-field>
                        </template>
                    </v-slider>

                    <div class="ml-2 text-caption">Diffuse</div>
                    <v-slider v-model="cameraSettings.Diffuse.value" :min="cameraSettingsMin.Diffuse.value"
                        :max="cameraSettingsMax.Diffuse.value" :step="0.01" hide-details>
                        <template v-slot:append>
                            <v-text-field v-model="cameraSettings.Diffuse.value" type="number" style="width: 70px"
                                density="compact" hide-details variant="underlined"></v-text-field>
                        </template>
                    </v-slider>

                    <div class="ml-2 text-caption">Specular</div>
                    <v-slider v-model="cameraSettings.Specular.value" :min="cameraSettingsMin.Specular.value"
                        :max="cameraSettingsMax.Specular.value" :step="0.01" hide-details>
                        <template v-slot:append>
                            <v-text-field v-model="cameraSettings.Specular.value" type="number" style="width: 70px"
                                density="compact" hide-details variant="underlined"></v-text-field>
                        </template>
                    </v-slider>

                    <div class="ml-2 text-caption">Fov</div>
                    <v-slider v-model="cameraSettings.Fov" :min="cameraSettingsMin.Fov" :max="cameraSettingsMax.Fov"
                        :step="1" hide-details>
                        <template v-slot:append>
                            <v-text-field v-model="cameraSettings.Fov" type="number" style="width: 70px"
                                density="compact" hide-details variant="underlined"></v-text-field>
                        </template>
                    </v-slider>

                    <v-checkbox label="Enable Animation" v-model="cameraSettings.enableAnimation" density="compact"
                        hide-details></v-checkbox>
                    <v-checkbox label="Enable Axes" v-model="cameraSettings.enableAxes" density="compact"
                        hide-details></v-checkbox>

                    <v-combobox v-model="cameraSettings.bgColor"
                        :items="['#ffffff', '#cccccc', '#808080', '#404040', '#000000']" label="Background Color"
                        @click:clear="() => cameraSettings.bgColor = ''" clearable persistentClear variant="outlined"
                        density="compact" hide-details class="mx-2 mt-2">
                    </v-combobox>
                </v-sheet>
            </v-navigation-drawer>
        </template>
    </v-sheet>
</template>

<script lang="ts">
import { mdiMenu, mdiClose } from '@mdi/js';
import { defineComponent, PropType, ref, toRefs, watch, onMounted, onUnmounted, inject, SlotsType } from 'vue';
import * as THREE from 'three';
import { GLTFLoader } from 'three/examples/jsm/loaders/GLTFLoader.js';
// import Stats from 'three/examples/jsm/libs/stats.module.js'

import { texUrl, CharMeshStyle, apiClient } from "@/apicall";

export default defineComponent({
    name: 'charView',
    props: {
        getGltf: {
            type: Function as PropType<() => Promise<string>>,
        },
        useCameraSettingsButton: {
            type: Boolean,
            default: true,
        },
    },
    slots: Object as SlotsType<{
        prepend: never;
    }>,
    setup(props) {
        const region = inject('region');
        const viewport = ref<HTMLCanvasElement>();
        const { getGltf } = toRefs(props);
        let mabiGL: MabiGL;
        const cameraSettings = ref<CameraSettings>(cameraSettingsDefault);

        onMounted(() => {
            if (viewport.value) {
                mabiGL = new MabiGL(viewport.value);
                cameraSettings.value = mabiGL.cameraSettingsObj;

                update();
            }
        });

        onUnmounted(() => {
            mabiGL.removeRootObject(true);
            console.log('cleaned resources...', mabiGL.debugInfo().memory);
        });

        const update = () => {
            if (getGltf.value) {
                mabiGL.loadCharByStyle(region.value, getGltf.value);
                return;
            }

            mabiGL.removeRootObject();
        }

        const updateColor = (style: CharMeshStyle) => {
            if (!style) {
                return;
            }

            // @TODO: skin, hair, eye color
            const m: Record<string, string> = {};

            for (let i = 0; i < 6; i++) {
                const offset = i < 3 ? 1 : 2;

                if (style.Armor?.Colors[i]) {
                    m[`armor${i + offset}`] = style.Armor.Colors[i];
                }

                if (style.Head?.Colors[i]) {
                    m[`head${i + offset}`] = style.Head.Colors[i];
                }

                if (style.Glove?.Colors[i]) {
                    m[`glove${i + offset}`] = style.Glove.Colors[i];
                }

                if (style.Shoes?.Colors[i]) {
                    m[`shoes${i + offset}`] = style.Shoes.Colors[i];
                }

                if (style.Robe?.Colors[i]) {
                    m[`robe${i + offset}`] = style.Robe.Colors[i];
                }

                if (style.Puppet?.Colors[i]) {
                    m[`puppet${i + offset}`] = style.Puppet.Colors[i];
                }

                if (style.Halo?.Colors[i]) {
                    m[`halo${i + offset}`] = style.Halo.Colors[i];
                }

                if (style.FaceDeco?.Colors[i]) {
                    m[`facedeco${i + offset}`] = style.FaceDeco.Colors[i];
                }

                if (style.Tail?.Colors[i]) {
                    m[`tail${i + offset}`] = style.Tail.Colors[i];
                }

                if (style.RightHand?.Colors[i]) {
                    m[`righthand${i + offset}`] = style.RightHand.Colors[i];
                }
            }

            mabiGL.updateColor(m);
        }

        const playSocialMotion = (id: number, race: number) => {
            return mabiGL.playSocialMotion(id, race);
        }

        watch(cameraSettings, () => {
            saveCameraSettings(cameraSettings.value);
        }, { deep: true });


        // 드래그 처리
        let mouseDownType = -1;
        const lastPos = { x: 0, y: 0 };

        const onMove = (x: number, y: number) => {
            if (!viewport.value) {
                return;
            }

            const prevPos = Object.assign({}, lastPos);
            [lastPos.x, lastPos.y] = [x, y];

            const deltaX = x - prevPos.x;
            const deltaY = y - prevPos.y;

            const ratioX = deltaX / viewport.value.clientWidth;
            const ratioY = deltaY / viewport.value.clientHeight;

            if (mouseDownType == 0) {
                if (ratioX != 0) {
                    cameraSettings.value.RotY -= ratioX * 3 * (cameraSettingsMax.RotY - cameraSettingsMin.RotY);
                    cameraSettings.value.RotY %= cameraSettingsMax.RotY;
                }

                if (ratioY != 0) {
                    cameraSettings.value.PosY += ratioY * 3 * (cameraSettingsMax.PosY - cameraSettingsMin.PosY);
                    cameraSettings.value.PosY = Math.min(cameraSettingsMax.PosY, Math.max(cameraSettingsMin.PosY, cameraSettings.value.PosY));
                }
            }
            else if (mouseDownType == 2) {
                if (ratioY != 0) {
                    cameraSettings.value.CharPosY -= ratioY * 3 * (cameraSettingsMax.CharPosY - cameraSettingsMin.CharPosY);
                    cameraSettings.value.CharPosY = Math.min(cameraSettingsMax.CharPosY, Math.max(cameraSettingsMin.CharPosY, cameraSettings.value.CharPosY));
                }
            }
        }

        const onMouseDown = (e: MouseEvent) => {
            if (e.button == 0 || e.button == 2) {
                mouseDownType = e.button;
                [lastPos.x, lastPos.y] = [e.clientX, e.clientY];
            }

            return false;
        }

        const onMouseUp = (e: MouseEvent) => {
            if (e.button == 0 || e.button == 2) {
                mouseDownType = -1;
            }
        }

        const onMouseMove = (e: MouseEvent) => {
            if (mouseDownType < 0) {
                return;
            }

            onMove(e.clientX, e.clientY);
        }

        const onTouchStart = (e: TouchEvent) => {
            if (e.touches.length == 1) {
                const touch = e.touches[0];
                [lastPos.x, lastPos.y] = [touch.clientX, touch.clientY];

                mouseDownType = 0;
            }
            else if (e.touches.length == 2) {
                const touch1 = e.touches[0];
                const touch2 = e.touches[1];
                [lastPos.x, lastPos.y] = [(touch1.clientX + touch2.clientX) / 2, (touch1.clientY + touch2.clientY) / 2];

                mouseDownType = 2;
            }
        }

        const onTouchEnd = () => {
            mouseDownType = -1;
        }

        const onTouchMove = (e: TouchEvent) => {
            if (mouseDownType < 0) {
                return;
            }

            if (e.touches.length == 1) {
                const touch = e.touches[0];

                onMove(touch.clientX, touch.clientY);
            }
            else if (e.touches.length == 2) {
                const touch1 = e.touches[0];
                const touch2 = e.touches[1];

                onMove((touch1.clientX + touch2.clientX) / 2, (touch1.clientY + touch2.clientY) / 2);
            }
        }

        const onWheel = (e: WheelEvent) => {
            let { deltaY } = e;
            if (!deltaY) {
                return;
            }

            // normalize
            deltaY /= 100;

            cameraSettings.value.Magnitude += deltaY / 20 * (cameraSettingsMax.Magnitude - cameraSettingsMin.Magnitude);
            cameraSettings.value.Magnitude = Math.min(cameraSettingsMax.Magnitude, Math.max(cameraSettingsMin.Magnitude, cameraSettings.value.Magnitude));
        }

        return {
            mdiMenu,
            mdiClose,

            viewport,
            update,
            updateColor,
            playSocialMotion,
            showControllBox: ref(false),
            cameraSettings,
            onMouseDown,
            onMouseUp,
            onMouseMove,
            onWheel,
            onTouchStart,
            onTouchEnd,
            onTouchMove,

            cameraSettingsMin,
            cameraSettingsMax,
        }
    },
});

interface OverrideTexture {
    cond: (obj: THREE.Object3D) => boolean;
    tex: string;
}

const rootObjectName = 'rootObject';

class MabiGL {
    private rootScene: THREE.Scene;
    private renderer: THREE.WebGLRenderer;
    private clock = new THREE.Clock();
    private light?: THREE.Light;
    private mixer?: THREE.AnimationMixer;
    private origMixer?: THREE.AnimationMixer;
    private camera: THREE.Camera;
    private axes: THREE.AxesHelper;

    private overrideTextureMap: Record<string, OverrideTexture> = {
        'eye': {
            cond: (obj) => getObjectUserData(obj).texture?.startsWith('eye_'),
            tex: 'eye_0',
        },
        'mouth': {
            cond: (obj) => getObjectUserData(obj).texture?.startsWith('mouth_'),
            tex: 'mouth_0',
        },
    };

    private defaultMaterial: THREE.ShaderMaterial;
    private textureMap: Record<string, Promise<THREE.Texture> | undefined> = {};
    private textureLoader: THREE.TextureLoader;
    private cameraSettings: CameraSettings = loadCameraSettings();

    private region = 'kr';

    get cameraSettingsObj() {
        return this.cameraSettings;
    }

    constructor(canvas: HTMLCanvasElement) {
        const rootScene = this.rootScene = new THREE.Scene();
        this.defaultMaterial = new THREE.ShaderMaterial({
            fragmentShader,
            vertexShader,
            transparent: true,
            alphaToCoverage: false,
            side: THREE.DoubleSide,
            blending: THREE.CustomBlending,
            blendSrc: THREE.SrcAlphaFactor,
            blendDst: THREE.OneMinusSrcAlphaFactor,
            vertexColors: true,
        });
        this.defaultMaterial.side = THREE.DoubleSide;
        this.textureLoader = new THREE.TextureLoader();

        const { clientWidth: width, clientHeight: height } = canvas;
        const renderer = this.renderer = new THREE.WebGLRenderer({
            canvas,
            antialias: true,
            alpha: true,
        });
        renderer.setSize(width, height);
        renderer.shadowMap.enabled = true;
        renderer.shadowMap.type = THREE.PCFSoftShadowMap;
        renderer.setPixelRatio(window.devicePixelRatio);
        // renderer.setPixelRatio(window.devicePixelRatio * 2);

        console.log('char view canvas offset', canvas.offsetLeft, canvas.offsetWidth, canvas.clientWidth, window.innerWidth);

        const axes = this.axes = new THREE.AxesHelper(1000);
        rootScene.add(axes);

        const camera = this.camera = new THREE.PerspectiveCamera(70, width / height, 0.1, 10000);
        camera.setViewOffset(width, height, 0, Math.floor(-height * 0.4), width, height);

        // const stats = new Stats();
        // // right aligned
        // stats.dom.style.left = '';
        // stats.dom.style.right = '0px';

        const animate = () => {
            requestAnimationFrame(animate);

            const delta = this.clock.getDelta();

            this.updateCamera();
            // controls?.update();
            // stats.update();
            if (this.cameraSettings.enableAnimation) {
                this.mixer?.update(delta);
            }

            renderer.render(this.rootScene, camera);
        }

        animate();

        // this.addAmbientLight();
        this.addDirectionalLight();
    }

    private addAmbientLight() {
        const ambientLight = new THREE.AmbientLight(0xffffff, 1);
        this.rootScene.add(ambientLight);
    }

    private addDirectionalLight() {
        this.light = new THREE.DirectionalLight(0xffffff, 1);
        this.light.castShadow = true;
        this.light.position.set(300, 300, 300);
        this.rootScene.add(this.light);
    }

    private getRootObject(): THREE.Object3D | undefined {
        for (const obj of this.rootScene.children) {
            if (obj.name == rootObjectName) {
                return obj;
            }
        }
    }

    public removeRootObject(cleanupTexture = false) {
        if (!this.rootScene) {
            return;
        }

        let rootObj: THREE.Object3D | undefined = undefined;

        for (let i = 0; i < this.rootScene.children.length; i++) {
            const obj = this.rootScene.children[i];

            if (obj.name == rootObjectName) {
                this.rootScene.children.splice(i, 1);
                rootObj = obj;
                break;
            }
        }

        if (rootObj) {
            // clean up resources...
            rootObj.traverse(_obj => {
                if (_obj instanceof THREE.SkinnedMesh) {
                    const obj: THREE.SkinnedMesh = _obj;

                    // mesh
                    obj.geometry.dispose();

                    if (obj.material instanceof Array) {
                        obj.material.forEach(v => v.dispose());
                    }
                    else {
                        obj.material.dispose();
                    }
                }
            });
        }

        if (cleanupTexture) {
            Object.values(this.textureMap).forEach(v => v?.then(x => x.dispose()));
            this.textureMap = {};
        }
    }

    public async loadCharByStyle(region: string, getter: () => Promise<string>) {
        try {
            const gltf = await getter();
            await this.loadCharJson(region, gltf);
        } catch (e) {
            alert(`서버에서 데이터를 가져오던 중 오류가 발생했습니다.\n${e}`);
            return;
        }
    }

    private async loadCharJson(region: string, j: string) {
        this.region = region;

        const loader = new GLTFLoader();
        const gltf = await loader.parseAsync(j, '');

        const scene = gltf.scene;
        if (scene.userData?.eyeOverride) {
            this.overrideTextureMap['eye'].tex = scene.userData.eyeOverride;
        }
        if (scene.userData?.mouthOverride) {
            this.overrideTextureMap['mouth'].tex = scene.userData.mouthOverride;
        }

        const overrideDataList = Object.values(this.overrideTextureMap);
        const colorMap: Record<string, string> = scene.userData.colorMap || {};
        const boneMap: Record<string, THREE.Object3D> = {};

        const globalScale = new THREE.Vector3(1, 1, 1);
        scene.traverse(async (child) => {
            const userData = getObjectUserData(child);
            if (child instanceof THREE.Bone) {
                const boneName = userData.boneName;
                boneMap[boneName] = child;

                if (userData.isRootFrame) {
                    const scaleArray = userData.scale || [1, 1, 1];
                    const scaleVec = new THREE.Vector3().fromArray(scaleArray);

                    if (child.parent) {
                        const parentScale = new THREE.Vector3(1, 1, 1);
                        child.parent.getWorldScale(parentScale);
                        scaleVec.divide(parentScale);
                        scaleVec.multiply(globalScale);
                    }
                    child.scale.copy(scaleVec);
                }

                if (boneName == 'com') {
                    child.getWorldScale(globalScale);
                }
            }
            else if (child instanceof THREE.Mesh) {
                let texture: THREE.Texture | undefined = undefined;
                let glossTexture: THREE.Texture | undefined = undefined;

                if (userData.texture) {
                    let textureName = userData.texture as string;
                    const overrideData = overrideDataList.find(({ cond }) => cond(child));
                    if (overrideData && overrideData.tex != textureName) {
                        userData.texture = textureName = overrideData.tex;
                    }

                    // ignore exception
                    await this.loadTexture(textureName).then(v => texture = v).catch(() => undefined);
                }

                if (userData.glossTexture) {
                    // ignore exception
                    await this.loadTexture(userData.glossTexture).then(v => glossTexture = v).catch(() => undefined);
                }

                const color = colorMap[userData.color];
                if (!color) {
                    console.warn('color not found', child.name, userData.color);
                    child.visible = false;
                    return;
                }

                const material = this.defaultMaterial.clone();
                material.uniforms = {
                    texIn: { value: texture },
                    texGloss: { value: glossTexture },
                    modifyRGB: { value: new THREE.Color().setStyle(color, THREE.NoColorSpace) },
                    lightPosition: { value: this.light?.position },
                    disableVertexColor: { value: userData.disableVertexColor ? 1 : 0 },
                    disableDoubleSide: { value: userData.disableDoubleSide ? 1 : 0 },
                    forceNoTransparent: { value: 0 },
                    blendDstIsOne: { value: userData.blendDstIsOne ? 1 : 0 },

                    shininess: { value: 80 },
                    ambientFactor: this.cameraSettings.Ambient,
                    diffuseFactor: this.cameraSettings.Diffuse,
                    specularFactor: this.cameraSettings.Specular,
                    ambientColor: { value: new THREE.Color('#ffffff') },
                    diffuseColor: { value: new THREE.Color('#ffffff') },
                };
                if (userData.blendDstIsOne) {
                    material.blendDst = THREE.SrcAlphaFactor;
                }
                if (!userData.blendDstIsOne && userData.disableTransparent) {
                    material.transparent = false;
                }

                child.material = material;

                // 좌우 뒤집기
                child.scale.x *= -1;

                child.frustumCulled = false;
                child.renderOrder = userData.renderOrder || 0;
            }
        });

        if (gltf.animations?.length) {
            this.origMixer = this.mixer = new THREE.AnimationMixer(scene);

            for (const ani of gltf.animations) {
                const animationAction = this.mixer.clipAction(ani);
                animationAction.play();
            }
        }

        scene.name = rootObjectName;

        this.removeRootObject();
        this.rootScene.add(scene);

        const box = new THREE.Box3().setFromObject(scene);

        console.log('char loaded', box.min, box.max);

        // stick to ground
        scene.position.y = -box.min.y / 2;

        this.camera.position.y = box.max.y / 2;
        this.camera.lookAt(scene.position);

        scene.userData.minPosY = -box.min.y / 2;
        scene.userData.centerPosY = box.max.y / 2;
    }

    loadTexture(name: string): Promise<THREE.Texture> {
        const cached = this.textureMap[name];
        if (cached) {
            return cached;
        }

        const texture = this.textureLoader.loadAsync(`${texUrl.value}texture/${this.region}/${name}/${name}.png`).then(v => {
            v.flipY = false;
            return v;
        });

        this.textureMap[name] = texture;

        texture.catch(e => {
            delete this.textureMap[name];
            return e;
        });

        return texture;
    }

    public async playSocialMotion(id: number, raceId: number): Promise<void> {
        const root = this.getRootObject();
        if (!root) {
            return;
        }

        const { response: { Json: j } } = await apiClient.socialMotionJson({ Region: this.region, Id: id, RaceId: raceId });

        const loader = new GLTFLoader();
        const gltf = await loader.parseAsync(j, '');

        const boneMap: Record<string, THREE.Object3D> = {};

        root.traverse(child => {
            const userData = getObjectUserData(child);
            if (child instanceof THREE.Bone) {
                const boneName = userData.boneName;
                boneMap[boneName] = child;
            }
        });

        let playCount = 0;

        if (gltf.animations?.length) {
            const newMixer = new THREE.AnimationMixer(root);

            for (const ani of gltf.animations) {
                const animationAction = newMixer.clipAction(ani);
                animationAction.play();
                animationAction.loop = THREE.LoopOnce;
            }

            this.mixer = newMixer;
            newMixer.addEventListener('finished', () => {
                playCount--;
                if (playCount > 0) {
                    return;
                }

                this.mixer = this.origMixer;

                console.log('social motion finished');
            });
        }
    }

    public updateColor(colorMap: Record<string, string>) {
        const rootObj = this.getRootObject();
        if (!rootObj) {
            return;
        }

        rootObj.traverse(child => {
            if (!(child instanceof THREE.Mesh)) {
                return;
            }

            const userData = getObjectUserData(child);
            const color = colorMap[userData.color];
            if (!color) {
                // console.warn('color not found', child.name, userData.color);
                return;
            }

            const material = child.material;
            if (!(material instanceof THREE.ShaderMaterial)) {
                return;
            }

            material.uniforms.modifyRGB.value = new THREE.Color().setStyle(color, THREE.NoColorSpace);
        });
    }

    private updateCamera() {
        const sett = this.cameraSettings;
        const camera = this.camera as THREE.PerspectiveCamera;
        const rootObj = this.getRootObject();

        if (camera.fov != sett.Fov) {
            camera.fov = sett.Fov;
            camera.updateProjectionMatrix();
        }

        {
            let posY = sett.PosY;
            if (rootObj) {
                posY += rootObj.userData.centerPosY ?? 0;
            }

            this.camera.position.y = posY;
        }

        {
            let rotY = sett.RotY;
            // 정면이 180도
            rotY += 50;

            // forward
            rotY *= -1;

            // normalize
            rotY /= 100;

            // to radian
            rotY *= Math.PI * 2;

            const siny = Math.sin(rotY);
            const cosy = Math.cos(rotY);

            this.camera.position.x = -sett.Magnitude * siny;
            this.camera.position.z = sett.Magnitude * cosy;
        }

        if (this.light) {
            let rotY = sett.LightRotY;
            // forward
            rotY *= -1;

            // normalize
            rotY /= 100;

            // to radian
            rotY *= Math.PI * 2;

            const x = 300;
            const y = 300;
            const z = 300;

            const siny = Math.sin(rotY);
            const cosy = Math.cos(rotY);

            const nx = x * cosy - z * siny;
            const nz = x * siny + z * cosy;

            this.light.position.set(nx, y, nz);
        }

        if (this.axes.visible != sett.enableAxes) {
            this.axes.visible = sett.enableAxes;
        }

        if (rootObj) {
            rootObj.position.y = sett.CharPosY + (rootObj.userData.minPosY ?? 0);

            this.camera.lookAt(new THREE.Vector3(rootObj.position.x, 0, rootObj.position.z));
        }
    }

    public updateRootObjectScale(scale: number) {
        // normalize
        scale /= 100;

        const rootObj = this.getRootObject();
        if (rootObj) {
            rootObj.scale.set(scale, scale, scale);
        }
    }

    public debugInfo() {
        return this.renderer.info;
    }
}

function getObjectUserData(obj: THREE.Object3D): Record<string, any> {
    if (obj instanceof THREE.Mesh) {
        if (obj.userData.gltfExtensions) {
            return obj.userData.gltfExtensions;
        }
    }

    return obj.userData;
}

function loadCameraSettings(): CameraSettings {
    const d: any = JSON.parse(localStorage.getItem('cameraSettings') || 'null') || {};

    for (const _k in cameraSettingsDefault) {
        const k = _k as keyof typeof cameraSettingsDefault;

        if (d[k] === undefined) {
            if (typeof cameraSettingsDefault[k] === 'object') {
                d[k] = Object.assign({}, cameraSettingsDefault[k]);
                continue;
            }

            d[k] = cameraSettingsDefault[k];
            continue;
        }
    }

    return d;
}

function saveCameraSettings(v: CameraSettings) {
    localStorage.setItem('cameraSettings', JSON.stringify(v));
}


// shader original code: https://github.com/HanaeN/MabiMe
// GPL 3.0 https://github.com/HanaeN/MabiMe/blob/master/LICENSE.txt

const fragmentShader = `
#include <color_pars_fragment>

varying vec3 N;
varying vec3 v;
varying vec2 texUV;

uniform sampler2D texIn;
uniform sampler2D texGloss;
uniform vec3 modifyRGB;
uniform vec3 lightPosition;
uniform float disableVertexColor;
uniform float disableDoubleSide;
uniform float forceNoTransparent;
uniform float blendDstIsOne;

uniform float shininess;
uniform float ambientFactor;
uniform float diffuseFactor;
uniform float specularFactor;
uniform vec3 ambientColor;
uniform vec3 diffuseColor;

vec4 getSpecularColor(vec3 L) {
    float D = max(dot(N, L), 0.0);
    vec4 specColor = vec4(0.0, 0.0, 0.0, 0.0);

    // sphere
    // https://github.com/hughsk/matcap/
    vec3 E = normalize(-v);
    vec3 R = normalize(reflect(E, N));

    float m = 2.8284271247461903 * sqrt(R.z + 1.0);
    specColor = texture2D(texGloss, R.xy / m + 0.5);

    return clamp(specColor, 0.0, 1.0);
}

void main() {
    vec4 tColor = texture2D(texIn, texUV);

    vec3 L = normalize(lightPosition.xyz - v);
    vec3 E = normalize(-v);
    vec3 R = normalize(-reflect(L,N));

    vec4 Iamb = ambientFactor * vec4(ambientColor.rgb, 1.0);
    vec4 Idiff = diffuseFactor * vec4(diffuseColor.rgb, 1.0);
    vec4 Ispec = specularFactor * getSpecularColor(L) * pow(max(dot(R,E),0.0),0.3*shininess);
    Ispec = clamp(Ispec, 0.0, 1.0);

    vec4 color = tColor;
    if (forceNoTransparent == 1.0) {
        color.a = 1.0;
    }

    if (disableDoubleSide == 1.0 && color.a < 0.05 && !gl_FrontFacing) {
        discard;
    }

    if (color.a < 0.05) {
        discard;
    }

    color.rgb = modifyRGB.rgb + ((color.rgb - 0.5) * 2.0);
    // color.rgb = modifyRGB.rgb + color.rgb - 0.5;
    // color.rgb = (color.rgb * getSpecularColor(L).rgb) * 4.0;

    if (disableVertexColor == 0.0) {
        color *= vColor;
    }

    color = clamp(color, 0.0, 1.0);

    // face filter
    if (blendDstIsOne == 1.0 && color.r < 0.05 && color.g < 0.05 && color.b < 0.05) {
        discard;
    }

    vec4 finalColor = color * ((vec4(0.5, 0.4, 0.3, 1) + Iamb + Idiff + Ispec) / 3.0 + 0.66);

    gl_FragColor = vec4(finalColor.rgb, color.a);
}`;

const vertexShader = `
#include <skinning_pars_vertex>
#include <color_pars_vertex>

varying vec3 N;
varying vec3 v;
varying vec2 texUV;

void main() {
    #include <skinbase_vertex>
    #include <color_vertex>

    N = normalize(normalMatrix * normal);
    texUV = uv;
    
    vec4 skinned = vec4( 0.0 );
#ifdef USE_SKINNING
	skinned += boneMatX * vec4(position.xyz, 1.0) * skinWeight.x;
	skinned += boneMatY * vec4(position.xyz, 1.0) * skinWeight.y;
	skinned += boneMatZ * vec4(position.xyz, 1.0) * skinWeight.z;
	skinned += boneMatW * vec4(position.xyz, 1.0) * skinWeight.w;
#else
    skinned = vec4(position.xyz, 1.0);
#endif

    vec4 pos = projectionMatrix * modelViewMatrix * vec4(skinned.xyz, 1.0);
    v = pos.xyz;
    gl_Position = pos;
}`;

type CameraSettings = {
    PosY: number;
    RotY: number;
    Magnitude: number;
    CharPosY: number;
    LightRotY: number;
    Ambient: { value: number };
    Diffuse: { value: number };
    Specular: { value: number };
    Fov: number;
    enableAnimation: boolean;
    enableAxes: boolean;
    bgColor: string;
}

const cameraSettingsDefault: CameraSettings = {
    PosY: 0,
    RotY: 0,
    Magnitude: 300,
    CharPosY: 0,
    LightRotY: 0,
    Ambient: { value: 0.3 },
    Diffuse: { value: 0.5 },
    Specular: { value: 0.5 },
    Fov: 30,
    enableAnimation: true,
    enableAxes: true,
    bgColor: '',
} as const;

const cameraSettingsMin: CameraSettings = {
    PosY: -300,
    RotY: 0,
    Magnitude: 50,
    CharPosY: -200,
    LightRotY: 0,
    Ambient: { value: 0 },
    Diffuse: { value: 0 },
    Specular: { value: 0 },
    Fov: 30,
    enableAnimation: false,
    enableAxes: false,
    bgColor: '',
} as const;

const cameraSettingsMax: CameraSettings = {
    PosY: 300,
    RotY: 100,
    Magnitude: 1200,
    CharPosY: 200,
    LightRotY: 100,
    Ambient: { value: 1 },
    Diffuse: { value: 1 },
    Specular: { value: 1 },
    Fov: 120,
    enableAnimation: true,
    enableAxes: true,
    bgColor: '',
} as const;

</script>