<template>
    <v-app-bar :loading="isLoading" density="default" order="1">
        <v-sheet width="100vw" class="d-flex pl-2 pr-2">
            <v-text-field v-model="filter" variant="outlined" label="character condition name..." density="compact"
                hide-details></v-text-field>
        </v-sheet>
    </v-app-bar>
    <v-virtual-scroll :items="filteredCharCondList" ref="vscroll" item-height="75"
        style="min-height: 300px; height: calc(100vh - var(--v-layout-top));">
        <template v-slot:default="{ item }">
            <v-card min-height="75" class="d-flex ma-1">
                <v-sheet width="50" height="75" @click="showCharCondInfo(item.Id)"
                    :style='`background: url("${resUrl}characterconditionimage/${region}/${item.Id}/${item.Id}.png") no-repeat; background-position: center;`' />
                <v-sheet style="width: fit-content;">
                    <p @click="showCharCondInfo(item.Id)">{{ getString(item.Name) }} {{ item.Id }}</p>
                    <p>{{ getString(item.Desc).replaceAll('\\n', ' ') }}</p>
                </v-sheet>
            </v-card>
        </template>
    </v-virtual-scroll>
    <v-dialog v-model="dialog" width="auto">
        <v-card>
            <v-card-text>
                <pre style="text-wrap: balance">{{ dialogJson }}</pre>
            </v-card-text>
            <v-card-actions>
                <v-btn color="primary" block @click="dialog = false">Close</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script lang="ts">
import { defineComponent, ref, onMounted, computed, inject, watch } from "vue";
import type { VVirtualScroll } from "vuetify/lib/components/index.mjs";

import { resUrl, apiClient } from '@/apicall';
import { filterList } from '@/util';
import type { CharCondInfo } from '@/protos/resourcedata';

export default defineComponent({
    setup() {
        const isLoading = inject("isLoading");
        const region = inject('region');
        const db = inject("db");

        const vscroll = ref<VVirtualScroll>();

        const filter = ref('');

        const charCondList = ref<CharCondInfo[]>([]);

        const filteredCharCondList = computed<CharCondInfo[]>(() =>
            filterList(filter.value, charCondList.value, v => `${getString(v.Name)} ${v.Id}`));

        const dialog = ref(false);
        const dialogJson = ref('');

        const showCharCondInfo = async (id: number) => {
            const d = await loadCharCondInfo(region.value, id);

            dialogJson.value = JSON.stringify(d, null, 4);
            dialog.value = true;
        }

        const getString = (key: string): string => {
            return db.value.getCurLangString(key)
        }

        const load = async () => {
            await db.value.tryOpen();

            charCondList.value = await db.value.getSortedListData('CharCondList');
        }

        onMounted(async () => {
            await load();
        });

        watch(db, async () => {
            await load();
        });

        return {
            isLoading,
            resUrl,
            region,
            vscroll,

            filter,
            filteredCharCondList,
            getString,
            showCharCondInfo,

            // dialog
            dialog,
            dialogJson,
        };
    }
});

async function loadCharCondInfo(region: string, id: number): Promise<unknown> {
    const { response: res } = await apiClient.characterConditionJson({ Region: region, Id: id });

    const d = JSON.parse(res.Json);
    return d;
}

</script>