<template>
    <v-sheet width="100svw" v-if="!selectedColorTable">
        <v-text-field v-model="filter" variant="outlined" label="Color Table Name..." density="compact" class="ma-2"
            hide-details></v-text-field>
        <v-virtual-scroll :items="filteredList" item-height="110"
            style="min-height: 300px; height: calc(100svh - var(--v-layout-top) - 56px);">
            <template v-slot:default="{ item }">
                <v-card height="100" class="d-flex ma-1">
                    <v-sheet width="96" height="96"
                        :style='`background: url("${resUrl}colortableimage/${region}/${item.Id}/${item.Id}.png") no-repeat; background-position: center; background-size: contain`' />

                    <v-sheet class="pl-1">
                        <p>{{ item.Name }} {{ item.Id }}</p>
                        <p>{{ dyeTypeMap[item.Type] || `unknown type ${item.Type}` }}</p>
                    </v-sheet>
                    <v-spacer></v-spacer>
                    <v-sheet class="d-flex">
                        <v-btn :prepend-icon="mdiCheck" class="mr-4 align-self-center" color="success"
                            @click="selectColorTable(item)">Select</v-btn>
                    </v-sheet>
                </v-card>
            </template>
        </v-virtual-scroll>
    </v-sheet>
    <v-sheet width="100svw" v-else class="pa-2">
        <v-sheet width="100svw" class="d-flex">
            <v-sheet width="256" height="256"
                :style='`background: url("${resUrl}colortableimage/${region}/${selectedColorTable.Id}/${selectedColorTable.Id}.png") no-repeat; background-position: center; background-size: contain`' />
            <v-sheet class="pl-2">
                <p>{{ selectedColorTable.Name }} {{ selectedColorTable.Id }}</p>
                <p>{{ dyeTypeMap[selectedColorTable.Type] || `unknown type ${selectedColorTable.Type}` }}</p>
            </v-sheet>
            <v-spacer />
            <v-sheet>
                <v-btn :prepend-icon="mdiRefresh" @click="selectColorTable(undefined)" class="mr-4 align-self-center"
                    color="success">Reselect</v-btn>
            </v-sheet>
        </v-sheet>
        <v-sheet width="100svw" class="d-flex pt-2">
            <v-sheet>
                <item-color-picker :colors="colors" :color-count="1" :default-colors="['#ffffff']" :center="false" />
            </v-sheet>
            <v-sheet class="pl-4">
                <br /><br />
                <p>dyeable color
                    <span v-if="selectedColorTable.ColorMap[colorKey]"> <v-icon :icon="mdiCheck"
                            color="primary" />possible</span>
                    <span v-else><v-icon :icon="mdiClose" color="error" />impossible</span>
                </p>
                <p>count {{ selectedColorTable.ColorMap[colorKey] || '0' }} ({{ +(colorProbability * 100).toFixed(3)
                    }}%)
                </p>
                <p v-if="similarColors.length">
                    similar colors:

                    <span v-for="c of similarColors" v-bind:key="c"
                        @click="colors[0] = `#${c.toString(16).padStart(6, '0')}`"
                        :style="`color: #${c.toString(16).padStart(6, '0')};`">
                        ■
                    </span>
                </p>
            </v-sheet>
        </v-sheet>
    </v-sheet>
</template>

<script lang="ts">
import { mdiCheck, mdiRefresh, mdiClose } from '@mdi/js';
import { defineComponent, ref, onMounted, computed, inject, watch } from "vue";
import { useRoute, useRouter } from 'vue-router';

import { resUrl } from '@/apicall';
import { filterList2 } from '@/util';
import { dyeTypeMap } from '@/consts';
import { ColorTableInfo } from '@/protos/resourcedata';

import ItemColorPicker from '@/components/itemColorPicker.vue';

export default defineComponent({
    components: {
        ItemColorPicker,
    },
    props: {
        colorTableId: {
            type: Number,
            required: false,
            default: () => undefined,
        },
    },
    setup(props) {
        const route = useRoute();
        const router = useRouter();
        const isLoading = inject("isLoading");
        const region = inject('region');
        const db = inject("db");

        const filter = ref('');
        const colorTableList = ref<ColorTableInfo[]>([]);
        const colorTableMap = computed(() => {
            const map: Record<number, ColorTableInfo> = {};
            for (const v of colorTableList.value) {
                map[v.Id] = v;
            }
            return map;
        });

        // performance issue...
        const colorTableListWithoutMap = computed<Omit<ColorTableInfo, 'ColorMap'>[]>(() => colorTableList.value.map(v => {
            const copy = { ...v, ColorMap: undefined };
            return copy;
        }));

        const filteredList = computed(() => {
            return filterList2(filter.value, colorTableListWithoutMap.value, (v) => `${v.Name} ${v.Id}`);
        });

        const selectedColorTable = ref<ColorTableInfo>();

        const selectColorTable = (item?: Omit<ColorTableInfo, 'ColorMap'>) => {
            if (!item) {
                selectedColorTable.value = undefined;
                router.push('/colortable');

                return;
            }

            const item2 = colorTableMap.value[item.Id];

            selectedColorTable.value = item2;
            router.push(`/colortable/${item.Id}`);
        }

        const colorMapByRGB = computed<ColorMapByRGB>(() => {
            const colorMap: ColorMapByRGB = {
                R: {},
                G: {},
                B: {},
            };

            if (!selectedColorTable.value) {
                return colorMap;
            }

            for (const kstr in selectedColorTable.value.ColorMap) {
                const k = +kstr;

                const r = k >>> 16 & 0xff;
                const g = k >>> 8 & 0xff;
                const b = k & 0xff;

                colorMap.R[r] ??= {};
                colorMap.R[r][k] ??= 0;
                colorMap.R[r][k]++;

                colorMap.G[g] ??= {};
                colorMap.G[g][k] ??= 0;
                colorMap.G[g][k]++;

                colorMap.B[b] ??= {};
                colorMap.B[b][k] ??= 0;
                colorMap.B[b][k]++;
            }

            return colorMap;
        });

        const colors = ref<string[]>(['#ffffff']);
        const colorKey = computed(() => +('0x' + colors.value[0].substring(1)));
        const colorProbability = computed(() => {
            if (!selectedColorTable.value) {
                return 0;
            }

            return (selectedColorTable.value.ColorMap[colorKey.value] || 0) / (selectedColorTable.value.Width * selectedColorTable.value.Height);
        });

        const similarColors = computed<number[]>(() => {
            if (!selectedColorTable.value) {
                return [];
            }

            const key = colorKey.value;
            if (selectedColorTable.value.ColorMap[key]) {
                return [];
            }

            const r = key >>> 16 & 0xff;
            const g = key >>> 8 & 0xff;
            const b = key & 0xff;

            const list: number[] = [];
            const searchSimilarColor = (distance: number, m: Record<number, number>) => {
                for (const kstr in m) {
                    const k = +kstr;
                    const r2 = k >>> 16 & 0xff;
                    const g2 = k >>> 8 & 0xff;
                    const b2 = k & 0xff;

                    const dist = Math.abs(r - r2) + Math.abs(g - g2) + Math.abs(b - b2);

                    if (dist > distance) {
                        continue;
                    }

                    if (list.includes(k)) {
                        continue;
                    }

                    list.push(k);
                }
            }

            const colorMay = colorMapByRGB.value;

            // distance 50, max count 10
            for (let i = 1; i <= 50; i++) {
                if (colorMay.R[r - i]) {
                    searchSimilarColor(i * 2, colorMay.R[r - i]);
                }
                if (colorMay.R[r + i]) {
                    searchSimilarColor(i * 2, colorMay.R[r + i]);
                }
                if (colorMay.G[g - i]) {
                    searchSimilarColor(i * 2, colorMay.G[g - i]);
                }
                if (colorMay.G[g + i]) {
                    searchSimilarColor(i * 2, colorMay.G[g + i]);
                }
                if (colorMay.B[b - i]) {
                    searchSimilarColor(i * 2, colorMay.B[b - i]);
                }
                if (colorMay.B[b + i]) {
                    searchSimilarColor(i * 2, colorMay.B[b + i]);
                }

                if (list.length >= 10) {
                    list.length = 10;
                    break;
                }
            }

            return list;
        });

        const load = async () => {
            await db.value.tryOpen();

            colorTableList.value = await db.value.getSortedListData('ColorTableList');

            const paramColorTableId = props.colorTableId ?? route.params?.id;
            if (paramColorTableId || paramColorTableId === '0') {
                const item = colorTableList.value.find(v => v.Id == +(paramColorTableId || 0));
                if (!item) {
                    alert(`colorTableId ${paramColorTableId} not found`);
                    return;
                }

                selectedColorTable.value = item;
            }
        }

        onMounted(load);
        watch(db, load);

        const getString = (key: string) => {
            return db.value.getCurLangString(key);
        }

        return {
            mdiCheck,
            mdiRefresh,
            mdiClose,

            isLoading,
            resUrl,
            region,

            filter,
            filteredList,
            selectedColorTable,
            dyeTypeMap,
            similarColors,
            selectColorTable,

            colors,
            colorKey,
            colorProbability,

            getString,
        };
    }
});

type ColorMapByRGB = {
    R: Record<number, Record<number, number>>,
    G: Record<number, Record<number, number>>,
    B: Record<number, Record<number, number>>,
};

</script>