<template>
    <span v-if="modelValue?.length">
        (<span v-for="(v, i) in modelValue" v-bind:key="i">
            <span :style="`color: ${v};`">■</span> {{ v }}{{ i + 1 == modelValue.length ? '' : ', ' }}
        </span>)
    </span>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';

export default defineComponent({
    name: "colors",
    props: {
        modelValue: {
            type: Array as PropType<string[]>,
        }
    },
});
</script>