<template>
    <template v-if="!echoStoneCtx">
        <template v-if="echoStoneList.length">
            <v-card v-for="item in echoStoneList" v-bind:key="item.Id" height="100" class="d-flex ma-1">
                <v-sheet width="100" height="100"
                    :style='`background: url("${resUrl}invimage/${region}/${item.ItemId}/${item.ItemId}.png") no-repeat; background-position: center;`' />
                <v-sheet class="pa-2">
                    {{ getString(itemMap[item.ItemId]?.Name) ?? `itemid:${item.ItemId}` }}
                </v-sheet>
                <v-spacer></v-spacer>
                <v-sheet class="mr-2 d-flex" height="100">
                    <v-btn @click="selectEchoStone(item.Id)" class="align-self-center justify-center ml-2"
                        :prepend-icon="mdiCheck" color="success">Select</v-btn>
                </v-sheet>
            </v-card>
        </template>
        <template v-else>
            <p>EchoStone list can only be viewed in kr region.</p>
        </template>
    </template>
    <template v-else>
        <!-- selected echostone -->
        <v-sheet width="100%" class="d-flex">
            <v-sheet width="100" height="100"
                :style='`background: url("${resUrl}invimage/${region}/${echoStoneCtx.info.ItemId}/${echoStoneCtx.info.ItemId}.png") no-repeat; background-position: center;`' />
            <v-sheet class="pa-2">
                <p>{{ getString(itemMap[echoStoneCtx.info.ItemId]?.Name) ?? `itemid:${echoStoneCtx.info.ItemId}` }}</p>
                <p>grade: {{ echoStoneCtx.grade }} / 30</p>
                <p>ability: {{ echoStoneCtx.abilityStack.reduce((p, v) => p + v, 0) }} / {{
                    echoStoneCtx.abilityMax.reduce((p, v) => p + v, 0) }}</p>
                <p v-if="echoStoneCtx.awakenInfo">awaken:
                    {{ getString(mwAbilityMap[echoStoneCtx.awakenInfo.mwAbilityId]?.Desc) ??
                        echoStoneCtx.awakenInfo.name }}
                    {{ echoStoneCtx.awakenInfo.level }} / {{ echoStoneCtx.awakenInfo.maxLevel }}</p>
                <template v-if="echoStoneCtx.fragmentRewards?.length">
                    <p>fragment reward:</p>
                    <p v-for="reward in echoStoneCtx.fragmentRewards" v-bind:key="reward.itemId">
                        * {{ getString(itemMap[reward.itemId]?.Name) ?? `itemid:${reward.itemId}` }}
                        {{ reward.count > 1 ? ` * ${reward.count}` : '' }}
                    </p>
                </template>
            </v-sheet>
            <v-spacer></v-spacer>

            <v-sheet class="mr-2 d-flex" height="100">
                <v-btn @click="deselectEchoStone()" class="align-self-center justify-center ml-2"
                    :prepend-icon="mdiRefresh" color="success">Reselect</v-btn>
            </v-sheet>
        </v-sheet>
        <v-sheet class="d-flex pt-2">
            <v-sheet>
                <span style="white-space: nowrap;"><v-icon :icon="mdiPlus" class="mr-1" />Advance</span>
            </v-sheet>
            <v-spacer></v-spacer>
            <v-sheet class="d-flex justify-center align-self-center">
                <v-btn @click="advanceEchoStone(1)" :disabled="currentUpgradeInfo?.RateEasy === 0"
                    :prepend-icon="mdiNetworkStrength1" color="primary" class="mr-2">Easy {{
                        currentUpgradeInfo?.RateEasy ?? '100' }}%</v-btn>
                <v-btn @click="advanceEchoStone(2)" :disabled="currentUpgradeInfo?.RateNormal === 0"
                    :prepend-icon="mdiNetworkStrength3" color="primary" class="mr-2">Normal {{
                        currentUpgradeInfo?.RateNormal ?? '100' }}%</v-btn>
                <v-btn @click="advanceEchoStone(3)" :disabled="currentUpgradeInfo?.RateHard === 0"
                    :prepend-icon="mdiNetworkStrength4" color="primary" class="mr-2">Hard {{
                        currentUpgradeInfo?.RateHard ?? '100' }}%</v-btn>
                <v-btn @click="maxAdvanceEchoStone()" :disabled="currentUpgradeInfo?.RateHard === 0"
                    :prepend-icon="mdiFastForward" color="primary" class="mr-2">Max</v-btn>
            </v-sheet>
        </v-sheet>
        <v-sheet class="d-flex pt-2">
            <v-sheet>
                <span style="white-space: nowrap;"><v-icon :icon="mdiStarPlusOutline" class="mr-1" />Awaken</span>
            </v-sheet>
            <v-spacer></v-spacer>
            <v-sheet class="d-flex justify-center align-self-center">
                <v-btn @click="awakenEchoStone(53940)" :disabled="!echoStoneCtx.grade" color="primary"
                    variant="outlined" size="large" width="78" height="78" class="mr-2">
                    <v-sheet width="48" height="48" class="ma-3"
                        :style='`background: url("${resUrl}invimage/${region}/53940/53940.png") no-repeat; background-position: center;`' />
                </v-btn>
                <v-btn @click="awakenEchoStone(53941)" :disabled="!echoStoneCtx.grade" color="primary"
                    variant="outlined" size="large" width="78" height="78" class="mr-2">
                    <v-sheet width="48" height="48" class="ma-3"
                        :style='`background: url("${resUrl}invimage/${region}/53941/53941.png") no-repeat; background-position: center;`' />
                </v-btn>
                <v-btn @click="awakenEchoStone(53942)" :disabled="!echoStoneCtx.grade" color="primary"
                    variant="outlined" size="large" width="78" height="78" class="mr-2">
                    <v-sheet width="48" height="48" class="ma-3"
                        :style='`background: url("${resUrl}invimage/${region}/53942/53942.png") no-repeat; background-position: center;`' />
                </v-btn>
            </v-sheet>
        </v-sheet>
        <v-sheet class="d-flex pt-2">
            <v-sheet>
                <span style="white-space: nowrap;"><v-icon :icon="mdiRecycleVariant" class="mr-1" />Fragment</span>
            </v-sheet>
            <v-spacer></v-spacer>
            <v-sheet class="d-flex justify-center align-self-center">
                <v-btn @click="fragmentEchoStone()" :disabled="!echoStoneCtx.grade" :prepend-icon="mdiRecycleVariant"
                    color="error" class="mr-2">Fragment</v-btn>
            </v-sheet>
        </v-sheet>
    </template>
</template>

<script lang="ts">
import {
    mdiCheck, mdiRefresh, mdiNetworkStrength1, mdiNetworkStrength3,
    mdiNetworkStrength4, mdiPlus, mdiStarPlusOutline, mdiRecycleVariant,
    mdiFastForward,
} from '@mdi/js';
import { defineComponent, ref, onMounted, computed, inject, watch } from "vue";

import { resUrl } from '@/apicall';
import { mabiRandom } from '@/mabiutil';
import type {
    ItemInfo, EchoStoneInfo, EchoStoneConvertAdditionalRewardInfo,
    EchoStoneAwakenAdjustByGradeInfo, EchoStoneAwakenAdjustByItemInfo,
    RandomTableInfo, MetalWareAbilityInfo,
} from '@/protos/resourcedata';

export default defineComponent({
    setup() {
        const isLoading = inject("isLoading");
        const region = inject("region");
        const db = inject("db");

        const itemList = ref<ItemInfo[]>([]);
        const itemMap = computed<Record<number, ItemInfo>>(() => {
            const m: Record<number, ItemInfo> = {};

            for (const v of itemList.value) {
                m[v.Id] = v;
            }

            return m;
        });

        const echoStoneList = ref<EchoStoneInfo[]>([]);
        const convertAdditionalRewardList = ref<EchoStoneConvertAdditionalRewardInfo[]>([]);
        const awakenAdjustByGradeList = ref<EchoStoneAwakenAdjustByGradeInfo[]>([]);
        const awakenAdjustByItemList = ref<EchoStoneAwakenAdjustByItemInfo[]>([]);
        const randomTableList = ref<RandomTableInfo[]>([]);
        const mwAbilityList = ref<MetalWareAbilityInfo[]>([]);
        const mwAbilityMap = computed<Record<number, MetalWareAbilityInfo>>(() => {
            const m: Record<number, MetalWareAbilityInfo> = {};

            for (const v of mwAbilityList.value) {
                m[v.Id] = v;
            }

            return m;
        });

        const echoStoneCtx = ref<EchoStoneContext>();

        const load = async () => {
            await db.value.tryOpen();

            const ilist = await db.value.getSortedListData('ItemList');
            itemList.value = ilist;

            const arlist = await db.value.getSortedListData('EchoStoneConvertAdditionalRewardList');
            convertAdditionalRewardList.value = arlist;

            const aglist = await db.value.getSortedListData('EchoStoneAwakenAdjustByGradeList');
            awakenAdjustByGradeList.value = aglist;

            const ailist = await db.value.getSortedListData('EchoStoneAwakenAdjustByItemList');
            awakenAdjustByItemList.value = ailist;

            const rlist = await db.value.getSortedListData('RandomTableList');
            randomTableList.value = rlist;

            const alist = await db.value.getSortedListData('MetalWareAbilityList');
            mwAbilityList.value = alist;

            const elist = await db.value.getSortedListData('EchoStoneList');
            echoStoneList.value = elist;
        }

        const getString = (key: string): string => {
            return db.value.getCurLangString(key)
        }

        const currentUpgradeInfo = computed(() => {
            const ctx = echoStoneCtx.value;
            if (!ctx) {
                return undefined;
            }

            return ctx.info.Upgrades.find(v => v.Grade == ctx.grade);
        });

        const selectEchoStone = (id: number) => {
            const info = echoStoneList.value.find(v => v.Id == id);
            if (!info) {
                return;
            }

            echoStoneCtx.value = {
                info,
                grade: 0,
                abilityStack: [],
                abilityMax: [],
            };
        }

        const deselectEchoStone = () => {
            echoStoneCtx.value = undefined;
        }

        const advanceEchoStone = (difficult: number) => {
            const ctx = echoStoneCtx.value;
            if (!ctx) {
                return;
            }

            const grade = ctx.grade;
            if (grade <= 0) {
                ctx.grade = 1;
                ctx.abilityStack.push(1);
                ctx.abilityMax.push(1);

                return;
            }
            else if (grade >= 30) {
                return;
            }

            const upgradeInfo = currentUpgradeInfo.value;
            if (!upgradeInfo) {
                // ?
                console.log('?');
                return;
            }

            let rate = 0;
            switch (difficult) {
                case 1:
                    rate = upgradeInfo.RateEasy;
                    break;

                case 2:
                    rate = upgradeInfo.RateNormal;
                    break;

                case 3:
                    rate = upgradeInfo.RateHard;
                    break;

                default:
                    // ?
                    console.log('??');
                    return;
            }

            const chanceValue = mabiRandom(0, 100);
            if (chanceValue > rate) {
                // fail!
                console.log('fail', chanceValue, rate);

                if (upgradeInfo.IsDownGrade) {
                    ctx.grade--;
                    ctx.abilityStack.pop();
                    ctx.abilityMax.pop();
                }

                return;
            }

            const randAbility = mabiRandom(upgradeInfo.AbilityMin, upgradeInfo.AbilityMax);
            ctx.grade++;
            ctx.abilityStack.push(randAbility);
            ctx.abilityMax.push(upgradeInfo.AbilityMax);
        }

        const maxAdvanceEchoStone = () => {
            const ctx = echoStoneCtx.value;
            if (!ctx) {
                return;
            }

            ctx.grade = 1;
            ctx.abilityStack = [1];
            ctx.abilityMax = [1];

            for (const upgradeInfo of ctx.info.Upgrades) {
                ctx.grade = upgradeInfo.Grade;
                ctx.abilityStack.push(upgradeInfo.AbilityMax);
                ctx.abilityMax.push(upgradeInfo.AbilityMax);
            }
        }

        const awakenEchoStone = (itemId: number) => {
            const ctx = echoStoneCtx.value;
            if (!ctx) {
                return;
            }

            const adjustByItemInfo = awakenAdjustByItemList.value.find(v => v.ItemId == itemId);
            if (!adjustByItemInfo) {
                console.log('?');
                return;
            }

            const adjustByGradeInfo = awakenAdjustByGradeList.value.find(v => v.Grade == ctx.grade);
            if (!adjustByGradeInfo) {
                console.log('??');
                return;
            }

            const randomTable = randomTableList.value.find(v => v.Id == ctx.info.Id);
            if (!randomTable) {
                console.log('???');
                return;
            }

            const abilityInfo = randomAbility(randomTable);
            if (!abilityInfo) {
                console.log('????');
                return;
            }

            const abilityMaxLevel = abilityInfo.Max;

            const levelRandomTable = randomTableList.value.find(v => v.Id == (abilityInfo.Max + 10000));
            if (!levelRandomTable) {
                console.log('?????');
                return;
            }

            const maxLevel = adjustByGradeInfo.Elements.find(v => v.MaxLevel == abilityMaxLevel);
            if (!maxLevel) {
                console.log('??????');
                return;
            }

            const minLevel = adjustByItemInfo.Elements.find(v => v.MaxLevel == abilityMaxLevel);
            if (!minLevel) {
                console.log('???????');
                return;
            }

            const level = randomAbilityLevel(levelRandomTable, minLevel.AdjustMinLevel, maxLevel.AdjustMaxLevel);

            ctx.awakenInfo = {
                name: abilityInfo.Name,
                mwAbilityId: abilityInfo.MWAbilityId,
                level,
                maxLevel: abilityMaxLevel,
            }
        }

        const fragmentEchoStone = () => {
            const ctx = echoStoneCtx.value;
            if (!ctx) {
                return;
            }

            const up = currentUpgradeInfo.value;
            if (!up) {
                // ?
                console.log('?');
                return;
            }

            const rewards = ctx.fragmentRewards = [] as NonNullable<EchoStoneContext['fragmentRewards']>;
            const pushItem = (itemId: number, count: number) => {
                const exists = rewards.find(v => v.itemId == itemId);
                if (exists) {
                    exists.count += count;
                    return;
                }

                rewards.push({ itemId, count });
            }

            for (const reward of up.ConvertFixedRewards) {
                if (reward.Rate === 0) {
                    pushItem(reward.Id, reward.Count);
                    continue;
                }

                const chanceValue = mabiRandom(0, 100);
                if (chanceValue <= reward.Rate) {
                    pushItem(reward.Id, reward.Count);
                }
            }

            for (const additionalRewardId of up.ConvertAdditionalRewardIds) {
                const additionalReward = convertAdditionalRewardList.value.find(v => v.Id == additionalRewardId);
                if (!additionalReward) {
                    console.log('??');
                    continue;
                }

                const chanceValue = mabiRandom(0, 100);
                if (chanceValue <= additionalReward.Rate) {
                    const rewardItem = randomRewardItem(additionalReward);
                    pushItem(rewardItem.Id, rewardItem.Count);
                }
            }
        }

        onMounted(async () => {
            await load();
        });

        watch(db, async () => {
            await load();
        });

        return {
            mdiCheck,
            mdiRefresh,
            mdiNetworkStrength1,
            mdiNetworkStrength3,
            mdiNetworkStrength4,
            mdiPlus,
            mdiStarPlusOutline,
            mdiRecycleVariant,
            mdiFastForward,
            isLoading,

            resUrl,
            region,

            echoStoneList,
            convertAdditionalRewardList,
            itemMap,
            mwAbilityMap,
            echoStoneCtx,
            currentUpgradeInfo,
            getString,
            selectEchoStone,
            deselectEchoStone,
            advanceEchoStone,
            maxAdvanceEchoStone,
            awakenEchoStone,
            fragmentEchoStone,
        };
    }
});

type EchoStoneContext = {
    info: EchoStoneInfo;
    grade: number;
    abilityStack: number[];
    abilityMax: number[];
    awakenInfo?: {
        name: string,
        mwAbilityId: number,
        level: number,
        maxLevel: number,
    }
    fragmentRewards?: {
        itemId: number,
        count: number,
    }[];
}

function randomAbility(randomTable: RandomTableInfo): RandomTableInfo['Elements'][0] {
    const calcedProbs = randomTable.Elements.reduce((p, v, i) => {
        const prevValue = p[i - 1] ?? 0;
        p.push(v.Prob + prevValue);
        return p;
    }, [] as number[]);

    const chanceValue = mabiRandom(0, randomTable.TotalProb);
    const abilityIdx = calcedProbs.findIndex(v => v >= chanceValue);
    const abilityInfo = randomTable.Elements[abilityIdx];

    return abilityInfo;
}

function randomAbilityLevel(levelRandomTable: RandomTableInfo, minLevel: number, maxLevel: number) {
    const calcedProbs = levelRandomTable.Elements.reduce((p, v, i) => {
        const prevValue = p[i - 1] ?? 0;
        if (v.Max <= minLevel) {
            p.push(prevValue);
            return p;
        }
        else if (v.Max > maxLevel) {
            return p;
        }

        p.push(v.Prob + prevValue);
        return p;
    }, [] as number[]);

    const chanceValue = mabiRandom(0, calcedProbs[calcedProbs.length - 1]);
    const levelIdx = calcedProbs.findIndex(v => v >= chanceValue);
    const levelInfo = levelRandomTable.Elements[levelIdx];

    return levelInfo?.Max ?? 0;
}

function randomRewardItem(reward: EchoStoneConvertAdditionalRewardInfo): EchoStoneConvertAdditionalRewardInfo['RewardTables'][0] {
    const calcedProbs = reward.RewardTables.reduce((p, v, i) => {
        const prevValue = p[i - 1] ?? 0;
        p.push(v.Rate + prevValue);
        return p;
    }, [] as number[]);

    const chanceValue = mabiRandom(0, calcedProbs[calcedProbs.length - 1]);
    const rewardIdx = calcedProbs.findIndex(v => v >= chanceValue);
    const rewardInfo = reward.RewardTables[rewardIdx];

    return rewardInfo;
}
</script>