<template>
    <v-text-field v-model="filter" variant="outlined" label="Name" density="compact" class="ma-2"
        hide-details></v-text-field>
    <v-card class="ma-1" max-height="20vh">
        <v-sheet class="d-flex">
            <v-slider v-model="age" step="1" min="10" max="25" label="Age" hide-details>
                <template v-slot:append>
                    {{ age }}살
                    <v-tooltip activator="parent" location="bottom" :open-on-click="true">
                        <template v-slot:activator="{ props }">
                            <v-btn variant="text" :icon="mdiInformationOutline" v-bind="props" size="small" />
                        </template>
                        <span>Max Stat Per 5 mins : {{ maxStatPerTick.toFixed(2) }}</span>
                    </v-tooltip>
                </template>
            </v-slider>
            <v-slider v-model="weight" step="0.1" min="0.7" max="1.7" label="Fat" hide-details style="max-width: 20vw">
                <template v-slot:append>
                    {{ weight.toFixed(2) }}
                </template>
            </v-slider>
            <v-slider v-model="upper" step="0.1" min="0.7" max="1.7" label="Upper" hide-details style="max-width: 20vw">
                <template v-slot:append>
                    {{ upper.toFixed(2) }}
                </template>
            </v-slider>
            <v-slider v-model="lower" step="0.1" min="0.7" max="1.7" label="Lower" hide-details style="max-width: 20vw">
                <template v-slot:append>
                    {{ lower.toFixed(2) }}
                    <v-btn variant="text" :icon="mdiRefresh" size="small" @click="resetBody" />
                </template>
            </v-slider>
        </v-sheet>
        <p class="ml-2">체 {{ str.toFixed(1) }} 지 {{ int.toFixed(1) }} 솜 {{ dex.toFixed(1) }} 의 {{ will.toFixed(1) }} 행 {{
            luck.toFixed(1) }} 생 {{ life.toFixed(1) }} 마 {{ mana.toFixed(1) }} 스 {{ stamina.toFixed(1) }}
            <v-btn variant="text" :icon="mdiRefresh" size="small" @click="resetStat" />
        </p>
        <p class="ml-2">먹은 음식: {{ Object.entries(ateFood).map(([k, v]) => `${getString(itemInfoMap[+k]?.Name)} ${v}개`).join(', ')
        }}</p>
    </v-card>
    <v-virtual-scroll :items="filteredFoodList" ref="vscroll" item-height="110" style="min-height: 300px; height: calc(100svh - var(--v-layout-top) - 56px - 112px);">
        <template v-slot:default="{ item }">
            <v-card height="100" class="d-flex ma-1">
                <item-img :width="100" :height="100" :item="itemInfoMap[item.Id]" />
                <v-sheet class="mr-3">
                    <p>{{ getString(itemInfoMap[item.Id]?.Name) }} / 회복 스테미나: {{ item.RecoverFood }}</p>
                    <p>
                        <span v-if="item.BoostStr">체력 상수: {{ item.BoostStr }} / </span>
                        <span v-if="item.BoostInt">지력 상수: {{ item.BoostInt }} / </span>
                        <span v-if="item.BoostDex">솜씨 상수: {{ item.BoostDex }} / </span>
                        <span v-if="item.BoostWill">의지 상수: {{ item.BoostWill }} / </span>
                        <span v-if="item.BoostLuck">행운 상수: {{ item.BoostLuck }}</span>
                    </p>
                    <p>
                        <span v-if="item.BoostLife">생명력 상수: {{ item.BoostLife }} / </span>
                        <span v-if="item.BoostMana">마나 상수: {{ item.BoostMana }} / </span>
                        <span v-if="item.BoostStamina">스테미나 상수: {{ item.BoostStamina }}</span>
                    </p>
                    <p>
                        비만도 상수: {{ item.BoostWeight }} /
                        상체 상수: {{ item.BoostUpper }} /
                        하체 상수: {{ item.BoostLower }}
                    </p>
                </v-sheet>
                <v-sheet class="d-flex" height="100">
                    <v-btn class="align-self-center justify-center ml-2" :prepend-icon="mdiFoodDrumstickOutline"
                        color="success" @click="eatFood(item, 1)">먹기</v-btn>
                    <v-btn class="align-self-center justify-center ml-2" :prepend-icon="mdiFoodDrumstickOutline"
                        color="warning" @click="eatFood(item, 100)">100개 먹기</v-btn>
                </v-sheet>
            </v-card>
        </template>
    </v-virtual-scroll>
</template>

<script lang="ts">
import { mdiInformationOutline, mdiFoodDrumstickOutline, mdiRefresh } from '@mdi/js';
import { defineComponent, ref, onMounted, computed, inject, watch } from "vue";
import type { VVirtualScroll } from "vuetify/lib/components/index.mjs";

import { resUrl } from '@/apicall';
import { mabiRandom } from '@/mabiutil';
import type { FoodInfo, ItemInfo } from '@/protos/resourcedata';

import ItemImgCompoenent from '@/components/itemImg.vue';

export default defineComponent({
    components: {
        ItemImg: ItemImgCompoenent,
    },
    setup() {
        const isLoading = inject("isLoading");
        const region = inject("region");
        const db = inject("db");

        const vscroll = ref<VVirtualScroll>();

        const filter = ref('');
        const foodList = ref<FoodInfo[]>([]);
        const itemInfoList = ref<ItemInfo[]>([]);
        const itemInfoMap = computed<Record<number, ItemInfo>>(() => {
            const m: Record<number, ItemInfo> = {};

            for (const v of itemInfoList.value) {
                m[v.Id] = v;
            }

            return m;
        });

        const filteredFoodList = computed<FoodInfo[]>(() => {
            if (!filter.value) {
                return foodList.value;
            }

            const filterStr = filter.value.trim();
            const filtered: FoodInfo[] = [];

            const removeSpaceFilter = filterStr.replaceAll(' ', '');
            const splitSpaceFilter = filterStr.split(' ');
            for (const v of foodList.value) {
                const name = getString(itemInfoMap.value[v.Id]?.Name) || `unknown:${v.Id}` + ` ${v.Id}`;
                const _splitSpaceFilter = splitSpaceFilter.slice();
                const removeSpaceName = name.replaceAll(' ', '');
                const splitSpaceName = name.split(' ');

                const cond1 = removeSpaceName?.includes(removeSpaceFilter);
                const cond2 = splitSpaceName.reduce((p, x) => {
                    for (let i = 0; i < _splitSpaceFilter.length; i++) {
                        if (x.includes(_splitSpaceFilter[i])) {
                            _splitSpaceFilter.splice(i, 1);
                            return p + 1;
                        }
                    }

                    return p;
                }, 0) == splitSpaceFilter.length;

                if (cond1 || cond2) {
                    filtered.push(v);
                }
            }

            return filtered;
        });

        const loadFoodList = async () => {
            if (!db) {
                return [];
            }

            const d = await db.value.getData('FoodList') || [];

            d.sort((a, b) => {
                return a.Id - b.Id;
            })

            return d;
        };

        const load = async () => {
            await db.value.tryOpen();

            itemInfoList.value = await db.value.getData('ItemList') || [];

            const flist = await loadFoodList();
            foodList.value = flist;
        }

        const getString = (key: string): string => {
            return db.value.getCurLangString(key)
        }

        onMounted(async () => {
            await load();
        });

        watch(db, async () => {
            await load();
        });

        const age = ref(17);
        const weight = ref(1.0);
        const upper = ref(1.0);
        const lower = ref(1.0);

        const str = ref(0);
        const int = ref(0);
        const dex = ref(0);
        const will = ref(0);
        const luck = ref(0);
        const life = ref(0);
        const mana = ref(0);
        const stamina = ref(0);

        const maxStatPerTick = computed<number>(() => calcStat(100, age.value));

        const modifyBody = (food: FoodInfo) => {
            const randWeight = mabiRandom(0, food.BoostWeight);
            const randUpper = mabiRandom(0, food.BoostUpper);
            const randLower = mabiRandom(0, food.BoostLower);

            const randWeight2 = randWeight + Math.floor(Math.random() * 3);

            const increaseWeight = calcBody(randWeight2, age.value);
            const increaseUpper = calcBody(randUpper, age.value);
            const increaseLower = calcBody(randLower, age.value);

            weight.value = clampBody(weight.value + increaseWeight);
            upper.value = clampBody(upper.value + increaseUpper);
            lower.value = clampBody(lower.value + increaseLower);
        }

        const modifyStat = (food: FoodInfo) => {
            const randStr = mabiRandom(0, food.BoostStr);
            const randInt = mabiRandom(0, food.BoostInt);
            const randDex = mabiRandom(0, food.BoostDex);
            const randWill = mabiRandom(0, food.BoostWill);
            const randLuck = mabiRandom(0, food.BoostLuck);
            const randLife = mabiRandom(0, food.BoostLife);
            const randMana = mabiRandom(0, food.BoostMana);
            const randStamina = mabiRandom(0, food.BoostStamina);

            const increaseStr = calcStat(randStr, age.value);
            const increaseInt = calcStat(randInt, age.value);
            const increaseDex = calcStat(randDex, age.value);
            const increaseWill = calcStat(randWill, age.value);
            const increaseLuck = calcStat(randLuck, age.value);
            const increaseLife = calcStat(randLife, age.value);
            const increaseMana = calcStat(randMana, age.value);
            const increaseStamina = calcStat(randStamina, age.value);

            str.value = clampStat(str.value + increaseStr);
            int.value = clampStat(int.value + increaseInt);
            dex.value = clampStat(dex.value + increaseDex);
            will.value = clampStat(will.value + increaseWill);
            luck.value = clampStat(luck.value + increaseLuck);
            life.value = clampStat(life.value + increaseLife);
            mana.value = clampStat(mana.value + increaseMana);
            stamina.value = clampStat(stamina.value + increaseStamina);
        }

        const eatFood = (food: FoodInfo, amount: number) => {
            for (let i = 0; i < amount; i++) {
                modifyBody(food);
                modifyStat(food);
            }

            ateFood.value[food.Id] = (ateFood.value[food.Id] || 0) + amount;
            return;
        }

        const resetBody = () => {
            weight.value = 1.0;
            upper.value = 1.0;
            lower.value = 1.0;

            ateFood.value = {};
        }

        const resetStat = () => {
            str.value = 0;
            int.value = 0;
            dex.value = 0;
            will.value = 0;
            luck.value = 0;
            life.value = 0;
            mana.value = 0;
            stamina.value = 0;

            ateFood.value = {};
        }

        const ateFood = ref<Record<number, number>>({});

        return {
            isLoading,
            mdiInformationOutline,
            mdiFoodDrumstickOutline,
            mdiRefresh,

            resUrl,
            region,
            vscroll,

            filter,
            foodList,
            filteredFoodList,
            itemInfoMap,
            getString,

            age,
            weight,
            upper,
            lower,

            str,
            int,
            dex,
            will,
            luck,
            life,
            mana,
            stamina,

            ateFood,

            maxStatPerTick,
            eatFood,
            resetBody,
            resetStat,
        };
    }
});

function clamp(v: number, min: number, max: number): number {
    return Math.min(Math.max(v, min), max);
}


function calcStat(boost: number, age: number): number {
    const boostFactor = 0.1;
    const ageFactor = 1 / age;

    return boost * boostFactor * ageFactor;
}

function calcBody(boost: number, age: number): number {
    const ageFactor = 0.5 / age;

    return boost * ageFactor;
}

function clampStat(v: number): number {
    return clamp(v, -100, 100);
}

function clampBody(v: number): number {
    return clamp(v, 0.7, 1.7);
}

</script>