<template>
    <v-combobox v-model="localValue" @update:model-value="updateValue" :items="historyList" item-title="key"
        item-value="value" :label="label" clearable variant="outlined" density="compact"
        :append-inner-icon="mdiStarPlusOutline" @click:append-inner.stop="openDialog" @keyup="$emit('keyup', $event)">
        <template #item="{ props, index }">
            <v-list-item v-bind="props">
                <template v-slot:append>
                    <v-btn :icon="mdiClose" variant="text" @click.stop="removeHistory(index)" />
                </template>
            </v-list-item>
        </template>
    </v-combobox>
    <v-dialog v-model="dialog" width="50%">
        <v-card class="pa-2">
            <v-text-field v-model="saveKey" :rules="rules" variant="outlined" label="name" class="mb-2"></v-text-field>
            <v-btn color="success" @click="addHistory" class="mb-2">Add History</v-btn>
            <v-btn color="primary" @click="dialog = false">Close</v-btn>
        </v-card>
    </v-dialog>
</template>

<script lang="ts">
import { mdiStarPlusOutline, mdiClose } from '@mdi/js';
import { defineComponent, ref, onMounted, toRefs } from "vue";


export default defineComponent({
    props: {
        model: {
            type: String,
            required: true,
        },
        storageKey: {
            type: String,
            required: true,
        },
        label: {
            type: String,
        }
    },
    emits: {
        'update:model': (v: string) => v,
        'keyup': (e: HTMLInputElement) => e,
    },
    setup(props, { emit }) {
        const { model, storageKey } = toRefs(props);
        const localValue = ref('');
        const historyList = ref<KV[]>([]);
        const saveKey = ref('');

        const updateValue = (v: string | KV) => {
            if (v != null && typeof v == 'object') {
                emit('update:model', v.value);
                return;
            }

            emit('update:model', v);
        }

        const addHistory = () => {
            if (!localValue.value || !saveKey.value) {
                return;
            }

            historyList.value.push({
                key: saveKey.value,
                value: localValue.value,
            });

            saveList(storageKey.value, historyList.value);
            saveKey.value = '';
            dialog.value = false;
        }

        const removeHistory = (i: number) => {
            historyList.value.splice(i, 1);
            saveList(storageKey.value, historyList.value);
        }

        const dialog = ref(false);
        const openDialog = () => {
            if (!localValue.value) {
                return;
            }

            dialog.value = true;
        }

        onMounted(async () => {
            historyList.value = loadList(storageKey.value);
            localValue.value = model.value;
        })

        return {
            mdiStarPlusOutline, 
            mdiClose,

            localValue,
            updateValue,
            addHistory,
            removeHistory,
            historyList,

            // dialog
            dialog,
            openDialog,
            saveKey,
            rules: [
                (v: string) => {
                    if (v.trim()) {
                        return true;
                    }

                    return "enter a name to save.";
                }
            ],
        };
    }
});

interface KV {
    key: string;
    value: string;
}

function loadList(storKey: string): KV[] {
    const d: KV[] = JSON.parse(localStorage.getItem(storKey) || 'null') || [];
    d.sort((a, b) => a.key.localeCompare(b.key));

    return d;
}

function saveList(storKey: string, data: KV[]) {
    localStorage.setItem(storKey, JSON.stringify(data));
}

</script>
