<template>
    <br />
    <p><v-icon :icon="mdiCircleMedium" />db version: {{ dbVersion }}
        <v-btn :loading="isLoading" @click="dbUpdate" class="ml-2" size="small" color="success"
            :prepend-icon="mdiRefresh">force update</v-btn>
    </p>
    <br />

    <p><v-icon :icon="mdiCircleMedium" />문의는 <a href="https://gitlab.com/prilus/prilus.gitlab.io/-/issues"
            target="_blank">https://gitlab.com/prilus/prilus.gitlab.io/-/issues</a>에 이슈 남겨주시거나,
        혹은 <a href="mailto:admin@pril.cc" target="_blank">admin@pril.cc</a>로 메일 보내주세요.</p>

    <p><v-icon :icon="mdiCircleMedium" /><a
            href="https://gitlab.com/prilus/prilus.gitlab.io/-/wikis/%EA%B3%B5%EC%A7%80%EC%82%AC%ED%95%AD"
            target="_blank">공지사항</a></p>

    <br /><br />
    <p><v-icon :icon="mdiCircleMedium" />이 사이트는 게임이용의 편의를 위하여 개인이 운영하는 사이트이며, 넥슨코리아와 아무런 관련이 없습니다.</p>
    <p><v-icon :icon="mdiCircleMedium" />이 사이트의 정보는 실제 게임의 정보와 다를 수 있습니다. 사이트를 사용함에 따라 발생하는 일에 어떠한 책임도 지지 않습니다.</p>
    <p><v-icon :icon="mdiCircleMedium" />이 사이트의 정보의 출처는 넥슨코리아이며, 저작권은 넥슨코리아에 있습니다.</p>
</template>

<script lang="ts">
import { defineComponent, onMounted, inject, ref, watch } from "vue";
import { mdiCircleMedium, mdiRefresh } from '@mdi/js';

export default defineComponent({
    setup() {
        const isLoading = inject("isLoading");
        const dbVersion = ref('invalid');
        const db = inject('db');

        const load = async () => {
            await db.value.tryOpen();
            dbVersion.value = `${new Date((await db.value.getDataVersion()) * 1000).toLocaleString()}`;
        };

        onMounted(load);
        watch(db, load);

        const dbUpdate = async () => {
            await db.value.forceUpdate();
            dbVersion.value = `${new Date((await db.value.getDataVersion()) * 1000).toLocaleString()}`;
        }

        return {
            mdiCircleMedium,
            mdiRefresh,

            isLoading,
            dbVersion,
            dbUpdate,
        };
    },
});
</script>
