<template>
    <v-sheet class="d-flex">
        <v-sheet width="100vw" v-if="!selectedItem">
            <v-app-bar :loading="isLoading" density="default" order="1">
                <v-text-field v-model="filter" variant="outlined" label="Item Name" density="compact" class="ma-2"
                    hide-details></v-text-field>
            </v-app-bar>
            <v-virtual-scroll :items="filteredItemList" ref="vscroll" item-height="110" style="min-height: 300px; height: calc(100svh - var(--v-layout-top));">
                <template v-slot:default="{ item }">
                    <v-card height="100" class="d-flex ma-1">
                        <item-img :width="100" :height="100" :item="itemMap[item.Id]" />
                        <v-sheet>
                            <p>{{ getString(itemMap[item.Id]?.Name) }} {{ item.Id }}</p>
                        </v-sheet>
                        <v-spacer></v-spacer>
                        <v-sheet class="d-flex">
                            <v-btn :prepend-icon="mdiCheck" class="mr-4 align-self-center" color="success"
                                @click="selectItem(item)">Select</v-btn>
                        </v-sheet>
                    </v-card>
                </template>
            </v-virtual-scroll>
        </v-sheet>
        <v-sheet width="100vw" v-else>
            <v-row class="pt-2">
                <v-col class="d-flex">
                    <item-img :width="100" :height="100" :item="itemMap[selectedItem.Id]" />
                    <v-sheet>
                        <span>{{ getString(itemMap[selectedItem.Id]?.Name) }} {{ selectedItem.Id }}</span><br />
                        <span>
                            max upgrade count {{ selectedItem.UpgradeMax }}
                            <span v-if="selectedItem.GemUpgradeMax">, max gem upgrade count {{
                                selectedItem.GemUpgradeMax
                                }}</span>
                        </span><br />
                        <span> Total EP: {{ selectedUpgradeSummary.EP }}<br />
                            Total Gold: {{ selectedUpgradeSummary.Gold }}<br />
                            Total Options:
                            <span v-for="stat in selectedUpgradeSummary.ModifyStat" v-bind:key="stat[0]"><br />
                                * {{ stat[0] }} {{ stat[1] }}
                            </span>
                        </span>
                    </v-sheet>
                </v-col>
                <v-spacer></v-spacer>
                <v-col class="text-right">
                    <v-btn :prepend-icon="mdiRefresh" class="mr-1 " color="success"
                        @click="selectItem(undefined)">Reselect</v-btn>
                </v-col>
            </v-row>

            <v-table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Options</th>
                        <th v-for="n in selectedItem.UpgradeMax" v-bind:key="n">
                            {{ n }}
                        </th>
                        <th v-for="n in selectedItem.GemUpgradeMax" v-bind:key="n">
                            G{{ n }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="up in selectedItem.UpgradeIds.map(id => itemUpgradeMap[id])" v-bind:key="up.Id">
                        <td> <v-tooltip location="bottom" open-on-click>
                                <template v-slot:activator="{ props }">
                                    <p v-bind="props">
                                        {{ getString(up.Name) }}
                                    </p>
                                </template>
                                {{ getString(up.Desc) }}
                            </v-tooltip>
                        </td>
                        <td>
                            EP: {{ up.NeedEp }}
                            <span v-if="up.NeedGold">, Gold: {{ up.NeedGold }}</span>
                            <span v-if="up.NeedGems?.length">
                                <span v-for="gem in up.NeedGems" v-bind:key="gem.Name">
                                    <span><br>{{ getString(gem.Name) }} ({{ gem.Size }}cm↑)</span>
                                </span>
                            </span>
                        </td>
                        <td>
                            <span v-if="up.ModifyStats?.length">
                                <span v-for="stat in up.ModifyStats" v-bind:key="stat.Name">
                                    {{ stat.Name }} {{ stat.Min }}
                                    <span v-if="stat.Min != stat.Max">~{{ stat.Max }}</span>
                                    <span v-if="stat.Extra">{{ stat.Extra }}</span>
                                    <br />
                                </span>
                            </span>

                            <span v-if="up.OptionSetIds?.length">
                                <span v-for="os in up.OptionSetIds.map(id => optionSetMap[id])" v-bind:key="os.Id">
                                    <span>{{ getString(os.Name) }}</span>&nbsp;
                                </span>
                            </span>

                            <span v-if="up.LuckyUpgrade">
                                <span v-for="c in up.LuckyUpgrade.CountRates" v-bind:key="c.Count">
                                    <span>option count {{ c.Count }} {{ ((c.Rate / up.LuckyUpgrade.CountTotalRate) *
                                        100).toFixed(0)
                                        }}%</span><br />
                                </span>

                                <span v-for="o in up.LuckyUpgrade.RandomOptionRates" v-bind:key="o.Id">
                                    <span>random option {{ getString(optionSetMap[o.Id].Desc) }} {{ ((o.Rate /
                                        up.LuckyUpgrade.RandomOptionTotalRate) *
                                        100).toFixed(0) }}%</span><br />
                                </span>

                                <span v-for="o in up.LuckyUpgrade.FixedOptions || []" v-bind:key="o">
                                    <span>fixed option {{ o }}</span><br />
                                </span>
                            </span>
                        </td>
                        <td v-for="n in selectedItem.UpgradeMax" v-bind:key="n">
                            <v-radio v-if="!up.NeedGems?.length && up.UpgradedMin <= n - 1 && up.UpgradedMax >= n - 1"
                                :model-value="selectedUpgrades[n - 1] == up.Id"
                                @click="selectedUpgrades[n - 1] = up.Id"></v-radio>
                        </td>
                        <td v-for="n in selectedItem.GemUpgradeMax" v-bind:key="n">
                            <v-radio v-if="!!up.NeedGems?.length && up.UpgradedMin <= n - 1 && up.UpgradedMax >= n - 1"
                                :model-value="selectedGemUpgrades[n - 1] == up.Id"
                                @click="selectedGemUpgrades[n - 1] = up.Id"></v-radio>
                        </td>
                    </tr>
                </tbody>
            </v-table>
        </v-sheet>
    </v-sheet>
</template>

<script lang="ts">
import { mdiCheck, mdiRefresh } from '@mdi/js';
import { defineComponent, ref, onMounted, computed, inject, watch } from "vue";
import { useRoute, useRouter } from 'vue-router';
import type { VVirtualScroll } from "vuetify/lib/components/index.mjs";

import { resUrl } from '@/apicall';
import { filterList } from '@/util';
import type { ItemInfo, ItemExtendUpgradeInfo, ItemUpgradeInfo, OptionSetInfo } from '@/protos/resourcedata';

import ItemImgCompoenent from '@/components/itemImg.vue';

export default defineComponent({
    components: {
        ItemImg: ItemImgCompoenent,
    },
    props: {
        itemId: {
            type: Number,
            required: true,
        },
    },
    setup(props) {
        const route = useRoute();
        const router = useRouter();
        const isLoading = inject("isLoading");
        const region = inject('region');
        const db = inject("db");

        const vscroll = ref<VVirtualScroll>();

        const filter = ref('');
        const itemMap = ref<Record<number, ItemInfo>>({});
        const itemExtendUpList = ref<ItemExtendUpgradeInfo[]>([]);
        const itemUpgradeMap = ref<Record<number, ItemUpgradeInfo>>({});
        const optionSetMap = ref<Record<number, OptionSetInfo>>({});

        const filteredItemList = computed<ItemExtendUpgradeInfo[]>(() => filterList(filter.value, itemExtendUpList.value, v => `${getString(itemMap.value[v.Id]?.Name)} ${v.Id}`));

        const selectedItem = ref<ItemExtendUpgradeInfo>();
        const selectedUpgrades = ref<number[]>([]);
        const selectedGemUpgrades = ref<number[]>([]);
        const selectedUpgradeSummary = computed<ItemUpgradeSummary>(() => {
            const r: ItemUpgradeSummary = {
                EP: 0,
                Gold: 0,
                ModifyStat: []
            };

            for (const id of [...selectedUpgrades.value, ...selectedGemUpgrades.value]) {
                const up = itemUpgradeMap.value[id];
                if (!id || !up) {
                    continue;
                }

                r.EP += up.NeedEp;
                r.Gold += up.NeedGold || 0;

                if (up.ModifyStats) {
                    for (const stat of up.ModifyStats) {
                        const s = r.ModifyStat.find(v => v[0] == stat.Name);
                        if (s) {
                            s[1] += stat.Max;
                        }
                        else {
                            r.ModifyStat.push([stat.Name, stat.Max]);
                        }
                    }
                }
            }

            return r;
        });

        const selectItem = (item?: ItemExtendUpgradeInfo) => {
            selectedItem.value = item;

            if (item) {
                router.push(`/itemupgrade/${item.Id}`);
            }
            else {
                router.push(`/itemupgrade`);
                selectedUpgrades.value.length = 0;
                selectedGemUpgrades.value.length = 0;
            }
        }

        const load = async () => {
            await db.value.tryOpen();

            const ilist = await db.value.getSortedListData('ItemList');
            const iulist = await db.value.getSortedListData('ItemExtendUpgradeList');
            const ulist = await db.value.getSortedListData('ItemUpgradeList');
            const olist = await db.value.getSortedListData('OptionSetList');

            itemMap.value = Object.fromEntries(ilist.map(v => [v.Id, v]));
            itemExtendUpList.value = iulist;
            itemUpgradeMap.value = Object.fromEntries(ulist.map(v => [v.Id, v]));
            optionSetMap.value = Object.fromEntries(olist.map(v => [v.Id, v]));

            if (route.params.id) {
                const item = iulist.find(v => v.Id == +route.params.id || 0);
                if (!item) {
                    alert(`itemId ${route.params.id} not found`);
                    return;
                }

                selectedItem.value = item;
            }

            if (props.itemId) {
                const item = iulist.find(v => v.Id == props.itemId || 0);
                if (!item) {
                    alert(`itemId ${props.itemId} not found`);
                    return;
                }

                selectedItem.value = item;
            }
        }

        onMounted(load);
        watch(db, load);

        const getString = (key: string) => {
            return db.value.getCurLangString(key);
        }

        return {
            mdiCheck,
            mdiRefresh,

            isLoading,
            resUrl,
            region,
            vscroll,

            filter,
            filteredItemList,
            itemMap,
            itemUpgradeMap,
            optionSetMap,

            selectedItem,
            selectedUpgrades,
            selectedGemUpgrades,
            selectedUpgradeSummary,

            selectItem,
            getString,
        };
    }
});

type ItemUpgradeSummary = {
    EP: number,
    Gold: number,
    ModifyStat: [string, number][],
};

</script>