<template>
    <v-btn :icon="mdiRefresh" @click="setDefaultColor" :disabled="!defaultColors?.length" size="small"
        variant="text"></v-btn>
    <v-row :justify="center ? 'center' : undefined" class="mt-2 mb-2">
        <v-col v-for="(v, i) in localColors" v-bind:key="i" cols="auto" class="ml-2 mr-2">
            <v-row>
                <v-color-picker v-model="localColors[i]" @update:model-value="(v) => updateColor(v, i)" mode="hex"
                    :modes="['rgb', 'hex']" elevation="0" />
            </v-row>
            <v-row class="mb-6 d-flex">
                <v-btn @click="addHistory(localColors[i])" variant="text" :icon="mdiPlus" size="small" />
                <v-select v-model="localColors[i]" :items="historys" @update:model-value="(v: any) => updateColor(v, i)"
                    variant="outlined" density="compact" hide-details>
                    <template #item="{ item, props }">
                        <v-list-item v-bind="{ ...props, title: undefined }">
                            <span>{{ item.title }} <span :style="`color: ${item.title};`">■</span></span>
                        </v-list-item>
                    </template>
                </v-select>
                <v-btn @click="deleteHistory(localColors[i])" variant="text" :icon="mdiMinus" size="small" />
            </v-row>
        </v-col>
    </v-row>
</template>

<script lang="ts">
import { mdiRefresh, mdiPlus, mdiMinus } from '@mdi/js';
import { computed } from "vue";
import { defineComponent, PropType, onMounted, toRefs, ref } from "vue";

export default defineComponent({
    props: {
        colors: {
            type: Array as PropType<string[]>,
            required: true,
        },
        colorCount: {
            type: Number,
            required: true,
        },
        defaultColors: {
            type: Array as PropType<string[]>,
            required: true,
        },
        center: {
            type: Boolean,
            default: true,
        },
    },
    emits: {
        updated() {
            return true;
        }
    },
    setup(props, { emit }) {
        const { colors, colorCount, defaultColors } = toRefs(props);

        // let emitTimeoutIdx: number | undefined;

        const localColors = computed(() => colors.value.slice(0, colorCount.value));
        const updateColor = (color: string, idx: number) => {
            colors.value[idx] = color;

            // color picker에서 드래그할때 계속 불린다.
            // if (typeof emitTimeoutIdx == 'number') {
            //     clearTimeout(emitTimeoutIdx);
            // }

            // emitTimeoutIdx = setTimeout(() => {
            emit('updated');
            // }, 100);
        }

        const setDefaultColor = () => {
            if (!defaultColors.value?.length) {
                return;
            }

            console.log('setDefaultColor', defaultColors.value, colors.value, defaultColors.value.length, colors.value.length)

            for (let i = 0; i < defaultColors.value.length; i++) {
                colors.value[i] = defaultColors.value[i];
            }

            emit('updated');
        }

        const historys = ref<string[]>([]);

        const addHistory = (color: string) => {
            if (historys.value.includes(color)) {
                return;
            }

            historys.value.push(color);
            saveHistory(historys.value);
        }

        const deleteHistory = (color: string) => {
            const idx = historys.value.indexOf(color);
            if (idx < 0) {
                return;
            }

            historys.value.splice(idx, 1);
            saveHistory(historys.value);
        }

        onMounted(() => {
            historys.value = loadHistory();
            if (!historys.value.length) {
                historys.value = ['#000000', '#ffffff'];
            }

            // colorlist 길이가 colorcount보다 작으면 기본 색 채워넣음
            if (colors.value.length < colorCount.value) {
                const fillCount = colorCount.value - colors.value.length;
                colors.value.length += fillCount;
                colors.value.fill('#808080', -fillCount);
            }
        })

        return {
            mdiRefresh,
            mdiPlus,
            mdiMinus,

            localColors,
            updateColor,
            setDefaultColor,

            historys,
            addHistory,
            deleteHistory,
        };
    }
});

const colorHistoryKey = 'colorHistory';

function loadHistory(): string[] {
    const history = localStorage.getItem(colorHistoryKey);
    if (!history) {
        return [];
    }

    return JSON.parse(history) || [];
}

function saveHistory(history: string[]) {
    localStorage.setItem(colorHistoryKey, JSON.stringify(history || []));
}

</script>