<template>
    <v-sheet :width="width" :height="height" @click="click" @mouseenter="showTooltip" @mouseleave="hideTooltip" ref="el"
        :style='`background: url("${resUrl}invimage/${region}/${item.Id}/${item.Id}.png") no-repeat; background-position: center;`' />
</template>

<script lang="ts">
import { defineComponent, ref, onMounted, inject, toRefs, PropType } from "vue";

import { resUrl, apiClient } from '@/apicall';
import { mabiHumanReadablePrice } from '@/mabiutil';
import type { ItemInfo } from '@/protos/resourcedata';

export default defineComponent({
    props: {
        width: {
            type: Number,
            required: true,
        },
        height: {
            type: Number,
            required: true,
        },
        item: {
            type: Object as PropType<ItemInfo>,
            required: true,
        },
        enableClickEvent: {
            type: Boolean,
            default: true,
        },
    },
    emits: ['click'],
    setup(props, { emit }) {
        const db = inject('db');
        const region = inject('region');
        const globalJsonDialog = inject('globalJsonDialog');
        const globalTooltip = inject('globalTooltip');
        const { item, enableClickEvent } = toRefs(props);
        const el = ref<HTMLInputElement>();

        const load = async () => {
        }

        onMounted(load);

        let prevClickTime = 0;
        const click = () => {
            emit('click');

            if (!enableClickEvent.value) {
                return;
            }

            const now = Date.now();
            const delta = now - prevClickTime;

            // 더블 클릭
            if (delta < 300) {
                // duplicate event
                if (delta < 30) {
                    // ignore
                    return;
                }

                showItemInfo();
                prevClickTime = 0;
                return;
            }

            if (globalTooltip.value.show && globalTooltip.value.parent == el.value) {
                showItemInfo();
                prevClickTime = 0;
                return;
            }

            showTooltip();
            prevClickTime = now;
        }

        const showItemInfo = async () => {
            const d = await loadItemInfo(region.value, item.value.Id);

            globalJsonDialog.value.json = JSON.stringify(d, null, 4);
            globalJsonDialog.value.show = true;
        }

        const showTooltip = () => {
            if (!el.value) {
                return;
            }
            prevClickTime = Date.now();

            let text = `${getString(item.value.Name)} ${item.value.Id}`;
            if (item.value.IsAuctionSearchable) {
                const price = db.value.getAuctionItemLowestPrice(item.value.Id);
                if (price !== undefined) {
                    text += `\nauction lowest price: ${mabiHumanReadablePrice(price) || 'no data'}`;
                }
            }

            globalTooltip.value.text = text;
            globalTooltip.value.parent = el.value;
            globalTooltip.value.show = true;
        }

        const hideTooltip = () => {
            if (globalTooltip.value.parent != el.value) {
                return;
            }

            globalTooltip.value.show = false;
        }

        const getString = (key: string) => {
            return db.value.getCurLangString(key);
        }

        return {
            resUrl,
            region,
            el,

            click,
            showTooltip,
            hideTooltip,
        };
    }
});

async function loadItemInfo(region: string, id: number): Promise<unknown> {
    const { response: res } = await apiClient.itemJson({ Region: region, Id: id });

    return JSON.parse(res.Json);
}

</script>