<template>
    <v-sheet>
        <v-sheet class="d-flex">
            <item-img :width="100" :height="100" :item="item" class="flex-grow-0 flex-shrink-0" />
            <v-sheet class="flex-grow-0 flex-shrink-1">
                <p>* metadata</p>
                <p>{{ getString(item.Name) }} {{ item.Id }}</p>
                <p style="white-space-collapse: preserve;">{{ getString(item.Desc).replaceAll("\\n", "\n") }}</p>
                <p>auction house search
                    <span v-if="item.IsAuctionSearchable"> <v-icon :icon="mdiCheck" color="primary" />possible</span>
                    <span v-else><v-icon :icon="mdiClose" color="error" />impossible</span>
                </p>
                <p v-if="item.IsAuctionSearchable">auction lowest price {{ getAuctionItemLowestPrice() }}</p>
                <template v-if="item.ColorTableIds.length">
                    <br />
                    <p>* color table</p>
                    <p v-for="colorTableId, i in item.ColorTableIds" v-bind:key="i">
                        part {{ i + 1 }} <span v-if="item.IsDyeAble && colorTableMap[colorTableId]?.Type"> <v-icon :icon="mdiCheck"
                                color="primary" /></span>
                        <span v-else><v-icon :icon="mdiClose" color="error" /></span>: {{
                            colorTableMap[colorTableId]?.Name || 'unknown' }} {{ colorTableId }}
                        <v-btn :icon="mdiMagnify" size="x-small"
                            :disabled="!item.IsDyeAble || !colorTableMap[colorTableId]?.Type"
                            :to="{ name: 'colorTableById', params: { id: colorTableId } }" />
                    </p>
                </template>
                <template v-if="itemCdInfo?.ExclusiveOptions?.length">
                    <br />
                    <p>* exclusive options</p>
                    <p v-for="exclusiveOpt, i in itemCdInfo.ExclusiveOptions" v-bind:key="i">
                        {{ getExclusiveOptionString(exclusiveOpt) }}
                    </p>
                </template>
                <template v-if="itemSiInfo">
                    <br />
                    <p>* set item info</p>
                    <p v-for="setItemElem, i in itemSiInfo.Elements" v-bind:key="i">
                        {{ setItemDescElementMap[setItemElem.Name] ?
                            `${getString(setItemDescElementMap[setItemElem.Name].Name)} (${setItemElem.Name})` :
                            setItemElem.Name }}
                        {{ setItemElem.Min != setItemElem.Max ? `${setItemElem.Min}~${setItemElem.Max}` :
                            setItemElem.Min }}
                    </p>
                    <span v-if="itemSiInfo.Qualities?.length">
                        <span v-for="setItemQual, i in itemSiInfo.Qualities" v-bind:key="i">
                            <p v-for="bonus, i in setItemQual.Bonus" v-bind:key="i">
                                {{ setItemDescElementMap[bonus.Name] ? getString(setItemDescElementMap[bonus.Name].Name)
                                    : bonus.Name }}
                                {{ bonus.Min != bonus.Max ? `${bonus.Min} ~ ${bonus.Max}` : bonus.Min }}
                                , if the quality is above {{ setItemQual.Threshold }}
                            </p>
                        </span>
                    </span>
                </template>
            </v-sheet>
        </v-sheet>
        <!-- <v-sheet class="mt-4" v-if="item.IsAuctionSearchable">
            <v-sheet class="d-inline-flex">
                <span>Price history update at {{ new Date(priceHistory.UpdateAt *
                    1000).toLocaleString() }}</span>

                <v-tooltip activator="parent" location="bottom" :open-on-click="true">
                    <template v-slot:activator="{ props }">
                        <v-btn :icon="mdiRefresh" @click="loadPriceHistory" size="x-small" variant="text" v-bind="props" />
                    </template>
                    <span>Chart Reload</span>
                </v-tooltip>
                <v-tooltip activator="parent" location="bottom" :open-on-click="true">
                    <template v-slot:activator="{ props }">
                        <v-btn :icon="mdiDatabaseRefreshOutline" @click="updatePriceHistory" size="x-small" variant="text"
                            :disabled="(priceHistory.UpdateAt + 86400) * 1000 > Date.now()" v-bind="props" />
                    </template>
                    <span>Chart Data Update</span>
                </v-tooltip>

            </v-sheet>
            <GChart v-if="priceChartData?.yearly.length > 1" type="LineChart" :data="priceChartData.yearly"
                :options="priceChartOptions.yearly" />
            <GChart v-if="txCountChartData?.yearly.length > 1" type="LineChart" :data="txCountChartData.yearly"
                :options="txCountChartOptions.yearly" />
            <GChart v-if="priceChartData?.daily.length > 1" type="LineChart" :data="priceChartData.daily"
                :options="priceChartOptions.daily" />
            <GChart v-if="txCountChartData?.daily.length > 1" type="LineChart" :data="txCountChartData.daily"
                :options="txCountChartOptions.daily" />
        </v-sheet> -->
    </v-sheet>
</template>

<script lang="ts">
import { mdiRefresh, mdiDatabaseRefreshOutline, mdiCheck, mdiClose, mdiMagnify } from '@mdi/js';
import { defineComponent, ref, onMounted, inject, watch, toRefs, computed, PropType } from "vue";
// import { GChart } from 'vue-google-charts';
import type { GoogleChartOptions } from 'vue-google-charts/dist/types';


import { resUrl, apiClient, AuctionItemPriceHistoryRes } from '@/apicall';
import { mabiHumanReadablePrice } from '@/mabiutil';
import type { MabiDB } from '@/mabidb';
import type {
    ItemInfo, SetItemDescElementInfo, ItemExtendCustomDataInfo, ItemExtendSetItemDescInfo,
    ItemExclusiveOptionInfo, ColorTableInfo,
} from '@/protos/resourcedata';

import ItemImgCompoenent from '@/components/itemImg.vue';

export default defineComponent({
    components: {
        // GChart,
        ItemImg: ItemImgCompoenent,
    },
    props: {
        item: {
            type: Object as PropType<ItemInfo>,
            required: true,
        },
        setItemDescElementMap: {
            type: Object as PropType<Record<string, SetItemDescElementInfo>>,
            required: false,
            default: () => ({} as Record<string, SetItemDescElementInfo>),
        },
        colorTableMap: {
            type: Object as PropType<Record<number, ColorTableInfo>>,
            required: false,
            default: () => ({} as Record<number, ColorTableInfo>),
        },
        itemSiInfo: {
            type: Object as PropType<ItemExtendSetItemDescInfo>,
            required: false,
        },
        itemCdInfo: {
            type: Object as PropType<ItemExtendCustomDataInfo>,
            required: false,
        },
        db: {
            type: Object as PropType<MabiDB>,
            required: true,
        },
    },
    setup(props) {
        const isLoading = inject("isLoading");
        const region = inject('region');
        const { item, db } = toRefs(props);

        const loadPriceHistory = async () => {
            if (item.value.IsAuctionSearchable) {
                priceHistory.value = await loadAuctionItemPriceHistory(item.value.Id);

                priceHistory.value.Yearly?.sort((a, b) => {
                    return a.Time - b.Time;
                });

                priceHistory.value.Daily?.sort((a, b) => {
                    return a.Time - b.Time;
                });
            }
        }

        const updatePriceHistory = async () => {
            await updateAuctionItemPriceHistory(item.value.Id);
            alert('ok');
        }

        const load = async () => {
            // await loadPriceHistory();
        }

        onMounted(load);
        watch(db, load);

        const getString = (key: string) => {
            return db.value.getCurLangString(key);
        }

        const getAuctionItemLowestPrice = () => {
            const price = db.value.getAuctionItemLowestPrice(item.value.Id) || 0;
            return mabiHumanReadablePrice(price) || 'no data';
        }

        const getExclusiveOptionString = (d: ItemExclusiveOptionInfo) => {
            let s = getString(d.Name);
            s = s.replaceAll('\\n', ' ');
            s = s.replaceAll(/<[^>]+>/g, ' ');

            for (let i = 0; i < d.Args.length; i++) {
                s = s.replace(`{${i}}`, d.Args[i]);
            }

            return s;
        }

        const priceHistory = ref<AuctionItemPriceHistoryRes>({
            UpdateAt: 0,
            Yearly: [],
            Daily: [],
        });

        const priceChartData = computed(() => {
            const yearly = [
                ['Time', 'Price'],
                ...priceHistory.value.Yearly?.map((v) => {
                    const d = new Date(v.Time * 1000);
                    const dateStr = `${d.getFullYear()}-${d.getMonth() + 1}`;
                    return [dateStr, v.Price];
                }) || [],
            ];

            const daily = [
                ['Time', 'Price'],
                ...priceHistory.value.Daily?.map((v) => {
                    const d = new Date(v.Time * 1000);
                    const dateStr = `${d.getHours()}:${d.getMinutes().toString().padStart(2, '0')}`;
                    return [dateStr, v.Price];
                }) || [],
            ];

            return {
                yearly,
                daily,
            };
        });

        const txCountChartData = computed(() => {
            const yearly = [
                ['Time', 'Tx Count'],
                ...priceHistory.value.Yearly?.map((v) => {
                    const d = new Date(v.Time * 1000);
                    const dateStr = `${d.getFullYear()}-${d.getMonth() + 1}`;
                    return [dateStr, v.Count];
                }) || [],
            ];

            const daily = [
                ['Time', 'Tx Count'],
                ...priceHistory.value.Daily?.map((v) => {
                    const d = new Date(v.Time * 1000);
                    const dateStr = `${d.getHours()}:${d.getMinutes().toString().padStart(2, '0')}`;
                    return [dateStr, v.Count];
                }) || [],
            ];

            return {
                yearly,
                daily,
            };
        });

        const priceChartOptions = {
            yearly: {
                title: 'Yearly Average Price',
            } as GoogleChartOptions,
            daily: {
                title: 'Daily Average Price',
            } as GoogleChartOptions,
        };

        const txCountChartOptions = {
            yearly: {
                title: 'Yearly Transaction Count',
            } as GoogleChartOptions,
            daily: {
                title: 'Daily Transaction Count',
            } as GoogleChartOptions,
        };

        return {
            mdiRefresh,
            mdiDatabaseRefreshOutline,
            mdiCheck,
            mdiClose,
            mdiMagnify,

            isLoading,
            resUrl,
            region,

            getString,
            getAuctionItemLowestPrice,
            getExclusiveOptionString,
            loadPriceHistory,
            updatePriceHistory,

            priceHistory,
            priceChartData,
            priceChartOptions,
            txCountChartData,
            txCountChartOptions,
        };
    }
});

async function loadAuctionItemPriceHistory(id: number): Promise<AuctionItemPriceHistoryRes> {
    const { response: res } = await apiClient.auctionItemPriceHistory({ ItemId: id });

    console.log(res);
    return res;
}

async function updateAuctionItemPriceHistory(id: number): Promise<void> {
    await apiClient.updateAuctionItemPriceHistory({ ItemId: id });
}

</script>