<template>
    <v-tabs v-model="currentTab" bg-color="primary" :items="itemTabs" @update:model-value="(v: any) => changedTab(v)">
        <v-tab :key="0">List</v-tab>
        <v-tab v-for="id in itemTabs" :key="id">
            {{ getString(itemMap[id]?.Name) }}
            <v-btn :icon="mdiClose" variant="text" size="x-small" @click.stop="removeTab(id)" />
        </v-tab>
    </v-tabs>

    <v-window v-model="currentTab">
        <v-window-item :key="0">
            <v-text-field v-model="filter" variant="outlined" label="Item Name" density="compact" class="ma-2"
                hide-details />
            <!-- performance issue -->
            <v-virtual-scroll v-if="currentTab == 0" :items="filteredItemList" ref="vscroll" item-height="110"
                style="min-height: 300px; height: calc(100svh - var(--v-layout-top) - 48px - 56px); max-height: 2000px;">
                <template v-slot:default="{ item }">
                    <v-card height="100" class="d-flex ma-1">
                        <item-img :width="100" :height="100" :item="item" />
                        <v-sheet>
                            <p>{{ getString(item.Name) }} {{ item.Id }}</p>
                        </v-sheet>
                        <v-spacer></v-spacer>
                        <v-sheet class="align-self-center">
                            <v-btn-group class="mr-2">
                                <v-btn :prepend-icon="mdiMagnify" color="success" @click="addTab(item.Id)"
                                    class="mt-2">Info</v-btn>
                                <v-btn v-if="isEnableLinkButton(item.Id)" :icon="mdiApps" color="primary" class="mt-2">
                                    <v-icon :icon="mdiApps" />
                                    <v-menu activator="parent">
                                        <v-list>
                                            <v-list-item v-if="item.HaveMesh" :prepend-icon="mdiMonitor"
                                                @click="dialog5ItemId = item.Id; dialog5 = true;">Model
                                                Preview</v-list-item>
                                            <v-list-item v-if="!!productionMap[item.Id]" :prepend-icon="mdiHammerWrench"
                                                @click="dialog2Item = productionMap[item.Id]; dialog2 = true">Production</v-list-item>
                                            <v-list-item v-if="!!itemExtendMwMap[item.Id]"
                                                :prepend-icon="mdiFountainPen"
                                                @click="dialog3ItemId = item.Id; dialog3 = true">Reforge</v-list-item>
                                            <v-list-item v-if="!!itemExtendUpMap[item.Id]"
                                                :prepend-icon="mdiProgressWrench"
                                                @click="dialog4ItemId = item.Id; dialog4 = true">Upgrade</v-list-item>
                                        </v-list>
                                    </v-menu>
                                </v-btn>
                            </v-btn-group>
                        </v-sheet>
                    </v-card>
                </template>
            </v-virtual-scroll>
        </v-window-item>

        <v-window-item v-for="id in itemTabs" :key="id">
            <v-card class="ma-1">
                <item-info :item="itemMap[id]" :item-cd-info="itemExtendCdMap[id]" :item-si-info="itemExtendSiMap[id]" :set-item-desc-element-map="setItemDescElementMap" :color-table-map="colorTableMap" :db="db" />
            </v-card>
        </v-window-item>
    </v-window>

    <v-dialog v-model="dialog" width="auto">
        <v-card>
            <v-card-text>
                <pre style="text-wrap: balance">{{ dialogJson }}</pre>
            </v-card-text>
            <v-card-actions>
                <v-btn color="primary" block @click="dialog = false">Close</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
    <v-dialog v-model="dialog2" width="auto">
        <v-card>
            <v-card-text>
                <production-info :item="dialog2Item" :item-info-list="itemMap" :production-map="productionMap"
                    :db="db" />
            </v-card-text>
            <v-card-actions>
                <v-btn color="primary" block @click="dialog2 = false">Close</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
    <v-dialog v-model="dialog3" width="auto">
        <v-card>
            <v-card-text>
                <metalware-list :item-id="dialog3ItemId" />
            </v-card-text>
            <v-card-actions>
                <v-btn color="primary" block @click="dialog3 = false">Close</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
    <v-dialog v-model="dialog4" width="auto">
        <v-card>
            <v-card-text>
                <item-upgrade-list :item-id="dialog4ItemId" />
            </v-card-text>
            <v-card-actions>
                <v-btn color="primary" block @click="dialog4 = false">Close</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
    <v-dialog v-model="dialog5" fullscreen>
        <v-card>
            <v-card-text>
                <char-view :get-gltf="dialog5GetGltf"
                    style="width: calc(100vw - 48px); height: -webkit-fill-available; max-height: 80vh;" />
            </v-card-text>
            <v-card-actions>
                <v-btn color="primary" block @click="dialog5 = false">Close</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script lang="ts">
import { mdiClose, mdiMagnify, mdiHammerWrench, mdiFountainPen, mdiApps, mdiProgressWrench, mdiMonitor } from '@mdi/js';
import { defineComponent, ref, onMounted, computed, inject, watch, PropType } from "vue";
import { useRoute, useRouter } from 'vue-router';
import type { VVirtualScroll } from "vuetify/lib/components/index.mjs";

import { resUrl, apiClient } from '@/apicall';
import { 
    ItemInfo, ProductionInfo, SetItemDescElementInfo, ItemExtendCustomDataInfo, 
    ItemExtendMetalWareInfo, ItemExtendUpgradeInfo, ItemExtendSetItemDescInfo,
    ColorTableInfo,
} from '@/protos/resourcedata';

import ItemInfoComponent from '@/components/itemInfo.vue';
import ProductionInfoComponent from '@/components/productionInfo.vue';
import MetalwareListComponent from '@/components/metalwareList.vue';
import ItemUpgradeListComponent from '@/components/itemUpgradeList.vue';
import CharViewComponent from '@/components/characterViewer.vue'
import ItemImgComponent from '@/components/itemImg.vue';

export default defineComponent({
    components: {
        ItemInfo: ItemInfoComponent,
        ProductionInfo: ProductionInfoComponent,
        MetalwareList: MetalwareListComponent,
        ItemUpgradeList: ItemUpgradeListComponent,
        CharView: CharViewComponent,
        ItemImg: ItemImgComponent,
    },
    props: {
        itemIdList: {
            type: Array as PropType<number[]>,
            required: false,
            default: () => [],
        },
        isDialog: {
            type: Boolean as PropType<boolean>,
            required: false,
            default: false,
        },
    },
    setup({ itemIdList, isDialog }) {
        const route = useRoute();
        const router = useRouter();

        const isLoading = inject("isLoading");
        const region = inject('region');
        const db = inject("db");

        const vscroll = ref<VVirtualScroll>();

        const filter = ref('');
        const itemList = ref<ItemInfo[]>([]);

        const itemMap = computed<Record<number, ItemInfo>>(() => {
            const m: Record<number, ItemInfo> = {};

            for (const v of itemList.value) {
                m[v.Id] = v;
            }

            return m;
        });

        const removeSpaceItemNameMap = computed<Record<number, string>>(() => {
            const m: Record<number, string> = {};

            for (const v of itemList.value) {
                const vStr = `${getString(v.Name)} ${v.Id}`;
                m[v.Id] = vStr.replaceAll(' ', '');
            }

            return m;
        });

        const splitSpaceItemNameMap = computed<Record<number, string[]>>(() => {
            const m: Record<number, string[]> = {};

            for (const v of itemList.value) {
                const vStr = `${getString(v.Name)} ${v.Id}`;
                m[v.Id] = vStr.split(' ');
            }

            return m;
        });

        const filteredItemList = computed<ItemInfo[]>(() => {
            if (!filter.value) {
                return itemList.value;
            }

            const filterStr = filter.value.trim();
            const filtered: ItemInfo[] = [];

            const removeSpaceFilter = filterStr.replaceAll(' ', '');
            const splitSpaceFilter = filterStr.split(' ');
            for (const v of itemList.value) {
                const _splitSpaceFilter = splitSpaceFilter.slice();
                const removeSpaceName = removeSpaceItemNameMap.value[v.Id];
                const splitSpaceName = splitSpaceItemNameMap.value[v.Id];

                const cond1 = removeSpaceName?.includes(removeSpaceFilter);
                const cond2 = splitSpaceName.reduce((p, x) => {
                    for (let i = 0; i < _splitSpaceFilter.length; i++) {
                        if (x.includes(_splitSpaceFilter[i])) {
                            _splitSpaceFilter.splice(i, 1);
                            return p + 1;
                        }
                    }

                    return p;
                }, 0) == splitSpaceFilter.length;

                if (cond1 || cond2) {
                    filtered.push(v);
                }
            }

            return filtered;
        });

        const productionList = ref<ProductionInfo[]>([]);
        const productionMap = computed<Record<number, ProductionInfo>>(() => {
            const m: Record<number, ProductionInfo> = {};

            for (const v of productionList.value) {
                m[v.ItemId] = v;
            }

            return m;
        });

        const setItemDescElementList = ref<SetItemDescElementInfo[]>([]);
        const setItemDescElementMap = computed<Record<string, SetItemDescElementInfo>>(() => {
            const m: Record<string, SetItemDescElementInfo> = {};

            for (const v of setItemDescElementList.value) {
                m[v.Key] = v;
            }

            return m;
        });

        const colorTableList = ref<ColorTableInfo[]>([]);
        const colorTableMap = computed<Record<number, ColorTableInfo>>(() => {
            const m: Record<number, ColorTableInfo> = {};

            for (const v of colorTableList.value) {
                m[v.Id] = v;
            }

            return m;
        });

        const itemExtendCdList = ref<ItemExtendCustomDataInfo[]>([]);
        const itemExtendCdMap = computed<Record<number, ItemExtendCustomDataInfo>>(() => {
            const m: Record<number, ItemExtendCustomDataInfo> = {};

            for (const v of itemExtendCdList.value) {
                m[v.Id] = v;
            }

            return m;
        });

        const itemExtendMwList = ref<ItemExtendMetalWareInfo[]>([]);
        const itemExtendMwMap = computed<Record<number, ItemExtendMetalWareInfo>>(() => {
            const m: Record<number, ItemExtendMetalWareInfo> = {};

            for (const v of itemExtendMwList.value) {
                m[v.Id] = v;
            }

            return m;
        });

        const itemExtendUpList = ref<ItemExtendUpgradeInfo[]>([]);
        const itemExtendUpMap = computed<Record<number, ItemExtendUpgradeInfo>>(() => {
            const m: Record<number, ItemExtendUpgradeInfo> = {};

            for (const v of itemExtendUpList.value) {
                m[v.Id] = v;
            }

            return m;
        });

        const itemExtendSiList = ref<ItemExtendSetItemDescInfo[]>([]);
        const itemExtendSiMap = computed<Record<number, ItemExtendSetItemDescInfo>>(() => {
            const m: Record<number, ItemExtendSetItemDescInfo> = {};

            for (const v of itemExtendSiList.value) {
                m[v.Id] = v;
            }

            return m;
        });

        const itemTabs = ref<number[]>([]);
        const currentTab = ref(0);

        const addTab = (id: number) => {
            const idx = itemTabs.value.indexOf(id);
            if (idx >= 0) {
                currentTab.value = idx + 1;
                changedTab(idx + 1);
                return;
            }

            itemTabs.value.push(id);
            const newIdx = itemTabs.value.length - 1;
            currentTab.value = newIdx + 1;
            changedTab(newIdx + 1);
        }

        const removeTab = (id: number) => {
            const idx = itemTabs.value.indexOf(id);

            if (idx < 0) {
                return;
            }

            itemTabs.value.splice(idx, 1);

            if (currentTab.value >= idx + 1) {
                const newIdx = currentTab.value;
                currentTab.value = Math.max(0, newIdx - 1);
                changedTab(Math.max(0, newIdx - 1));
            }
        }

        const changedTab = (idx: number) => {
            if (isDialog) {
                return;
            }

            if (!idx || !itemTabs.value[idx - 1]) {
                router.push(`/item`);
                return;
            }

            router.push(`/item/${itemTabs.value[idx - 1]}`);
        }

        const loadProductionList = async () => {
            const d = await db.value.getData('ProductionList');
            for (const v of d) {
                v.Essentials.forEach(x => x.ItemIds.sort((a, b) => a - b));
                v.CompleteEssentials?.forEach(x =>
                    x.Essentials.forEach(y => y.ItemIds.sort((a, b) => a - b))
                );
            }

            d.sort((a, b) => {
                if (a.Type == b.Type) {
                    return a.ItemId - b.ItemId
                }

                return a.Type - b.Type
            });

            return d;
        }


        const load = async () => {
            await db.value.tryOpen();

            productionList.value = await loadProductionList();
            setItemDescElementList.value = await db.value.getSortedListData('SetItemDescElementList');
            colorTableList.value = await db.value.getSortedListData('ColorTableList');

            itemExtendCdList.value = await db.value.getSortedListData('ItemExtendCustomDataList');
            itemExtendMwList.value = await db.value.getSortedListData('ItemExtendMetalWareList');
            itemExtendUpList.value = await db.value.getSortedListData('ItemExtendUpgradeList');
            itemExtendSiList.value = await db.value.getSortedListData('ItemExtendSetItemDescList');
                
            let ilist = await db.value.getSortedListData('ItemList');
            if (itemIdList?.length) {
                const itemIdSet = new Set(itemIdList);

                ilist = ilist.filter(v => itemIdSet.has(v.Id));
            }
            itemList.value = ilist;

            if (!isDialog) {
                const itemId = +route.params.id || 0;
                if (itemId) {
                    if (!itemMap.value[itemId]) {
                        alert(`item ${itemId} not found`);

                        router.push('/item');
                        return;
                    }

                    addTab(itemId);
                }
            }
        }

        onMounted(load);
        watch(db, load);

        const getString = (key: string) => {
            return db.value.getCurLangString(key);
        }

        const dialog = ref(false);
        const dialogJson = ref('');
        const showItemInfo = async (id: number) => {
            const d = await loadItemInfo(region.value, id);

            dialogJson.value = JSON.stringify(d, null, 4);
            dialog.value = true;
        }

        const isEnableLinkButton = (id: number): boolean => {
            const cond1 = itemMap.value[id]?.HaveMesh;
            const cond2 = !!productionMap.value[id];
            const cond3 = !!itemExtendMwMap.value[id];
            const cond4 = !!itemExtendUpMap.value[id];

            return cond1 || cond2 || cond3 || cond4;
        }

        const dialog2 = ref(false);
        const dialog2Item = ref<ProductionInfo | undefined>(undefined);

        const dialog3 = ref(false);
        const dialog3ItemId = ref(0);

        const dialog4 = ref(false);
        const dialog4ItemId = ref(0);

        const dialog5 = ref(false);
        const dialog5ItemId = ref(0);
        const dialog5GetGltf = computed<() => Promise<string>>(() =>
            () => apiClient.itemMesh({ Region: region.value, Id: dialog5ItemId.value }).then(v => v.response.Json));

        return {
            mdiClose,
            mdiMagnify,
            mdiHammerWrench,
            mdiFountainPen,
            mdiApps,
            mdiProgressWrench,
            mdiMonitor,

            isLoading,
            db,
            resUrl,
            region,
            itemMap,
            productionMap,
            setItemDescElementMap,
            colorTableMap,
            itemExtendMwMap,
            itemExtendUpMap,
            itemExtendSiMap,
            itemExtendCdMap,
            isEnableLinkButton,

            itemTabs,
            currentTab,
            addTab,
            removeTab,
            changedTab,

            // list tab
            vscroll,
            filter,
            filteredItemList,
            getString,

            // item debug info dialog
            showItemInfo,
            dialog,
            dialogJson,

            // production info dialog
            dialog2,
            dialog2Item,

            // metalware list dialog
            dialog3,
            dialog3ItemId,

            // item upgrade info dialog
            dialog4,
            dialog4ItemId,

            // item mesh preview dialog
            dialog5,
            dialog5ItemId,
            dialog5GetGltf,
        };
    }
});

async function loadItemInfo(region: string, id: number): Promise<unknown> {
    const { response: res } = await apiClient.itemJson({ Region: region, Id: id });

    return JSON.parse(res.Json);
}

</script>