<template>
    <v-sheet class="d-flex">
        <v-sheet width="164" class="ma-2">
            <v-row>
                <v-col v-for="item in mwItemList" v-bind:key="item.Id">
                    <div class="d-flex justify-center">
                        <v-btn @click="rollMetalWare(item)" :disabled="!selectedItem" color="primary" variant="outlined"
                            size="large" width="78" height="78">
                            <item-img :width="48" :height="48" :item="itemMap[item.ItemId]" :enable-click-event="false" />
                        </v-btn>
                    </div>

                    <p class="ml-1 mt-1">{{ getString(item.Name) }}</p>
                    <p class="ml-1 mt-1">{{ mwItemUseCount[item.Id] ? `x${mwItemUseCount[item.Id]}` : '' }}</p>
                    <v-btn color="primary" @click="selectedMwItem = item; probabilityDialog = true;"
                        variant="text">Probability</v-btn>
                    <v-btn v-if="item.LimitBreakRateFactor" color="primary" @click="rollMetalWareUntilLimitBreak(item)"
                        variant="text">Plz Limit
                        Break</v-btn>
                </v-col>
            </v-row>
        </v-sheet>
        <v-sheet width="100vw" v-if="!selectedItem">
            <v-text-field v-model="filter" variant="outlined" label="Item Name" density="compact" class="ma-2"
                hide-details></v-text-field>
            <v-virtual-scroll :items="filteredItemList" ref="vscroll" item-height="110" style="min-height: 300px; height: calc(100svh - var(--v-layout-top) - 56px);">
                <template v-slot:default="{ item }">
                    <v-card height="100" class="d-flex ma-1">
                        <item-img :width="100" :height="100" :item="itemMap[item.Id]" />

                        <v-sheet>
                            <p>{{ getString(itemMap[item.Id]?.Name) }} {{ item.Id }}</p>
                            <p>{{ item.EquipType }}</p>
                        </v-sheet>
                        <v-spacer></v-spacer>
                        <v-sheet class="d-flex">
                            <v-btn :prepend-icon="mdiCheck" class="mr-4 align-self-center" color="success"
                                @click="selectItem(item)">Select</v-btn>
                        </v-sheet>
                    </v-card>
                </template>
            </v-virtual-scroll>
        </v-sheet>
        <v-sheet width="100vw" v-else>
            <v-row class="pt-2">
                <v-col class="d-flex">
                    <item-img :width="100" :height="100" :item="itemMap[selectedItem.Id]" />
                    <v-sheet>
                        <p>{{ getString(itemMap[selectedItem.Id]?.Name) }} {{ selectedItem.Id }}</p>
                        <p>{{ selectedItem.EquipType }}</p>
                    </v-sheet>
                </v-col>
                <v-spacer></v-spacer>
                <v-col class="text-right">
                    <v-btn :prepend-icon="mdiRefresh" class="mr-1 " color="success"
                        @click="selectItem(undefined)">Reselect</v-btn>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <v-select v-model="itemRank" :items="rankNameList" item-title="name" item-value="level" label="Rank"
                        variant="outlined" density="compact" />
                </v-col>
                <v-col>
                    <v-select v-model="itemAbilityCount" :items="[0, 1, 2, 3]" label="Ability Count" variant="outlined"
                        density="compact" />
                </v-col>
            </v-row>
            <v-sheet v-for="item in itemAbilityList" v-bind:key="item.ability.Id">
                <p
                    :class="item.level > helper.abilityLevelRange(item.ability, 3).maxLevel ? 'text-yellow-darken-2' : 'text-blue-darken-2'">
                    {{ getString(item.ability.Desc) }}</p>
                <p
                    :class="item.level > helper.abilityLevelRange(item.ability, 3).maxLevel ? 'text-yellow-darken-2' : 'text-blue-darken-2'">
                    (Level {{ item.level }}/{{ helper.abilityLevelRange(item.ability, 3).maxLevel }}: {{
                        getAbilityValue(item.ability,
                            item.level) }} {{ getString(item.ability.SubDesc) }})</p>
                <br />
            </v-sheet>
        </v-sheet>
    </v-sheet>

    <v-dialog v-model="probabilityDialog">
        <v-card>
            <v-card-text>
                <v-sheet v-if="selectedMwItem" class="d-flex">
                    <v-sheet width="100" height="100"
                        :style='`background: url("${resUrl}invimage/${region}/${selectedMwItem.ItemId}/${selectedMwItem.ItemId}.png") no-repeat; background-position: center;`' />

                    <v-sheet class="ml-2">
                        <p>{{ getString(selectedMwItem.Name) }}</p>
                    </v-sheet>
                </v-sheet>
                <v-sheet v-if="selectedMwItem" class="d-flex">
                    <v-sheet class="pa-1">
                        Rank Up Probability
                        <span v-for="n in 4" v-bind:key="n">
                            <p v-for="(prob, m) in rankUpProbability(selectedMwItem, n - 1)" v-bind:key="m">
                                <span v-if="prob">
                                    {{ rankNameMap[n - 1] }} -> {{ rankNameMap[m] }} : {{ (prob * 100).toFixed(4) }}%
                                </span>
                            </p>
                            <br>
                        </span>
                    </v-sheet>
                    <v-sheet class="pa-1">
                        Increase Ability Count Probability
                        <span v-for="n in 4" v-bind:key="n">
                            <p v-for="(prob, m) in increaseAbilityCountProbability(selectedMwItem, n - 1)" v-bind:key="m">
                                <span v-if="prob">
                                    {{ n - 1 }} -> {{ m }} : {{ (prob * 100).toFixed(4) }}%
                                </span>
                            </p>
                            <br>
                        </span>
                    </v-sheet>
                    <v-sheet v-if="selectedMwItem.LimitBreakRateFactor" class="pa-1">
                        Limit Break Probability
                        <p>{{ ((selectedMwItem.LimitBreakRateFactor / 10000) * 100).toString() }}%</p>
                    </v-sheet>
                </v-sheet>
                <v-sheet v-if="selectedMwItem && selectedItem">
                    <v-sheet v-for="item in availableAbilityList" v-bind:key="item.Id">
                        <v-sheet v-for="levelRange in [helper.abilityLevelRange(item, 3)]" v-bind:key="levelRange.maxLevel">
                            <span>
                                {{ getString(item.Desc) }} ( Min Level {{ levelRange.minLevel }}
                                <span v-if="!levelRange.limitBreakLevel">, Max
                                    Level {{ levelRange.maxLevel }}</span>
                                <span v-else>, Limit Break Level
                                    {{ levelRange.limitBreakLevel }}</span>
                                )</span>
                            <p>
                                {{ getAbilityValue(item, levelRange.minLevel) }} ~ {{ getAbilityValue(item,
                                    Math.max(levelRange.limitBreakLevel, levelRange.maxLevel)) }} {{ getString(item.SubDesc) }}
                            </p>
                            <p>Level Probability</p>
                            <p v-if="levelRange.limitBreakLevel">
                                Level {{ levelRange.minLevel }} ~ Level {{ levelRange.maxLevel }} : {{ (((1 -
                                    ((selectedMwItem.LimitBreakRateFactor ?? 0) / 10000)) / (levelRange.maxLevel -
                                        levelRange.minLevel + 1)) * 100).toFixed(4) }}%<br />
                                Level {{ levelRange.maxLevel + 1 }} ~ Level {{ levelRange.limitBreakLevel }} : {{
                                    (((selectedMwItem.LimitBreakRateFactor ?? 0) / 10000) / (levelRange.limitBreakLevel -
                                        levelRange.maxLevel) * 100).toFixed(4) }}%
                            </p>
                            <p v-else>
                                Level {{ levelRange.minLevel }} ~ Level {{ levelRange.maxLevel }} : {{ ((1 /
                                    (levelRange.maxLevel - levelRange.minLevel + 1)) * 100).toFixed(4) }}% </p>
                            <br />
                        </v-sheet>
                    </v-sheet>
                </v-sheet>
            </v-card-text>
            <v-card-actions>
                <v-btn color="primary" block @click="probabilityDialog = false">Close</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script lang="ts">
import { mdiCheck, mdiRefresh } from '@mdi/js';
import { defineComponent, ref, onMounted, computed, inject, watch } from "vue";
import { useRoute, useRouter } from 'vue-router';
import type { VVirtualScroll } from "vuetify/lib/components/index.mjs";

import { resUrl } from '@/apicall';
import { filterList } from '@/util';
import type { MetalWareAbilityInfo, MetalWareItemInfo, MetalWareLevelInfo, ItemInfo, ItemExtendMetalWareInfo } from '@/protos/resourcedata';

import ItemImgCompoenent from '@/components/itemImg.vue';

export default defineComponent({
    components: {
        ItemImg: ItemImgCompoenent,
    },
    props: {
        itemId: {
            type: Number,
            required: true,
        },
    },
    setup(props) {
        const route = useRoute();
        const router = useRouter();
        const isLoading = inject("isLoading");
        const region = inject('region');
        const db = inject("db");

        const vscroll = ref<VVirtualScroll>();

        const filter = ref('');
        const itemMap = ref<Record<number, ItemInfo>>({});
        const itemExtendMwList = ref<ItemExtendMetalWareInfo[]>([]);
        const mwItemList = ref<MetalWareItemInfo[]>([]);
        const levelList = ref<MetalWareLevelInfo[]>([]);
        const abilityList = ref<MetalWareAbilityInfo[]>([]);

        const filteredItemList = computed<ItemExtendMetalWareInfo[]>(() => filterList(filter.value, itemExtendMwList.value, v => `${getString(itemMap.value[v.Id]?.Name)} ${v.Id}`));

        const selectedMwItem = ref<MetalWareItemInfo>();
        const selectedItem = ref<ItemExtendMetalWareInfo>();

        const mwItemUseCount = ref<Record<number, number>>({});
        const itemRank = ref(0);
        const itemAbilityCount = ref(0);
        const itemAbilityList = ref<ItemAbilityInfo[]>([]);

        const helper = computed<MetalWareHelper>(() =>
            new MetalWareHelper(
                levelList.value,
                abilityList.value,
                selectedMwItem.value,
                selectedItem.value
            )
        );

        const availableAbilityList = computed<MetalWareAbilityInfo[]>(() => {
            const l = helper.value.abilityCandidateList(3);
            /*
            l.sort((a, b) => {
                const aName = getString(a.Desc);
                const bName = getString(b.Desc);

                return aName.localeCompare(bName);
            });
            */

            return l;
        });

        const selectItem = (item?: ItemExtendMetalWareInfo) => {
            selectedItem.value = item;
            
            if (item) {
                router.push(`/metalware/${item.Id}`);
            } 
            else {
                // data reset
                mwItemUseCount.value = {};
                itemRank.value = 0;
                itemAbilityCount.value = 0;
                itemAbilityList.value = [];

                router.push(`/metalware`);
            }
        }

        const rollMetalWare = (mwItem: MetalWareItemInfo) => {
            selectedMwItem.value = mwItem;

            const item = selectedItem.value;
            if (!item) {
                return;
            }

            mwItemUseCount.value[mwItem.Id] = (mwItemUseCount.value[mwItem.Id] ?? 0) + 1;

            // rank up
            {
                const rand = Math.random();
                const prob = rankUpProbability(mwItem, itemRank.value);

                for (let i = 0; i < prob.length; i++) {
                    if (i) {
                        prob[i] += prob[i - 1];
                    }

                    if (rand < prob[i]) {
                        itemRank.value = i;
                        break;
                    }
                }
            }

            // increase ability count
            {
                const rand = Math.random();
                const prob = increaseAbilityCountProbability(mwItem, itemAbilityCount.value);

                for (let i = 0; i < prob.length; i++) {
                    if (i) {
                        prob[i] += prob[i - 1];
                    }

                    if (rand < prob[i]) {
                        itemAbilityCount.value = i;
                        break;
                    }
                }
            }

            // roll ability
            {
                const l = [] as ItemAbilityInfo[];

                const abilityList = helper.value.abilityCandidateList(itemRank.value);
                const abilityCount = mwItem.AbilityLimit ? Math.min(itemAbilityCount.value, mwItem.AbilityLimit) : itemAbilityCount.value;
                for (let i = 0; i < abilityCount; i++) {
                    const randIdx = Math.floor(Math.random() * abilityList.length);
                    const ability = abilityList.splice(randIdx, 1)[0];

                    const rand = Math.random();
                    const probs = helper.value.abilityLevelProbability(ability, itemRank.value);

                    for (let j = 0; j < probs.length; j++) {
                        if (j) {
                            probs[j].prob += probs[j - 1].prob;
                        } else if (j - 1 == probs.length) {
                            probs[j].prob = 1;
                        }

                        if (rand < probs[j].prob) {
                            l.push({
                                ability,
                                level: probs[j].level,
                            });
                            break;
                        }
                    }
                }

                itemAbilityList.value = l;
            }
        }

        const rollMetalWareUntilLimitBreak = (mwItem: MetalWareItemInfo) => {
            selectedMwItem.value = mwItem;

            const item = selectedItem.value;
            if (!item) {
                return;
            }

            for (let i = 0; i < 1000; i++) {
                rollMetalWare(mwItem);

                const findLimitBreak = itemAbilityList.value.find(v => {
                    const maxLevel = helper.value.abilityLevelRange(v.ability, 3).maxLevel;

                    return v.level > maxLevel;
                });

                if (findLimitBreak) {
                    break;
                }
            }
        }

        const load = async () => {
            await db.value.tryOpen();

            const ilist = await db.value.getSortedListData('ItemList');
            const imlist = await db.value.getSortedListData('ItemExtendMetalWareList');
            const mwilist = await db.value.getSortedListData('MetalWareItemList');
            const llist = await db.value.getSortedListData('MetalWareLevelList');
            const alist = await db.value.getSortedListData('MetalWareAbilityList',);

            itemMap.value = Object.fromEntries(ilist.map(v => [v.Id, v]));
            itemExtendMwList.value = imlist;
            mwItemList.value = mwilist;
            levelList.value = llist;
            abilityList.value = alist;

            if (route.params.id) {
                const item = imlist.find(v => v.Id == +route.params.id || 0);
                if (!item) {
                    alert(`itemId ${route.params.id} not found`);
                    return;
                }

                selectedItem.value = item;
            }

            if (props.itemId) {
                const item = imlist.find(v => v.Id == props.itemId || 0);
                if (!item) {
                    alert(`itemId ${props.itemId} not found`);
                    return;
                }

                selectedItem.value = item;
            }
        }

        onMounted(load);
        watch(db, load);

        const getString = (key: string) => {
            return db.value.getCurLangString(key);
        }

        return {
            mdiCheck,
            mdiRefresh,

            isLoading,
            resUrl,
            region,
            vscroll,

            filter,
            filteredItemList,
            itemMap,
            mwItemList,
            rankNameMap,
            rankNameList,
            availableAbilityList,
            getAbilityValue,
            helper,

            selectedMwItem,
            selectedItem,
            mwItemUseCount,
            itemRank,
            itemAbilityCount,
            itemAbilityList,

            selectItem,
            rollMetalWare,
            rollMetalWareUntilLimitBreak,
            getString,

            probabilityDialog: ref(false),
            rankUpProbability,
            increaseAbilityCountProbability,
        };
    }
});

function rankUpProbability(mwItem: MetalWareItemInfo, rank: number): number[] {
    if (rank < 0 || rank > 3) {
        return [];
    }

    const l = [0, 0, 0, 0];

    const allRateSum = mwItem.RateRank3 + mwItem.RateRank2 + mwItem.RateRank1;
    const _2RateSum = mwItem.RateRank2 + mwItem.RateRank1;
    const _3RateSum = mwItem.RateRank1;

    switch (rank) {
        case 0:
        case 1:
            l[1] = mwItem.RateRank3 / allRateSum;
            l[2] = mwItem.RateRank2 / allRateSum;
            l[3] = mwItem.RateRank1 / allRateSum;
            break;

        case 2:
            l[2] = mwItem.RateRank2 / _2RateSum;
            l[3] = mwItem.RateRank1 / _2RateSum;
            break;

        case 3:
            l[3] = mwItem.RateRank1 / _3RateSum;
            break;

        default:
            l[0] = 1;
            break;
    }

    return l;
}

function increaseAbilityCountProbability(mwItem: MetalWareItemInfo, count: number): number[] {
    if (count < 0 || count > 3) {
        return [];
    }

    const l = [0, 0, 0, 0];

    const allRateSum = mwItem.RateAbility3 + mwItem.RateAbility2 + mwItem.RateAbility1;
    const _2RateSum = mwItem.RateAbility2 + mwItem.RateAbility3;
    const _3RateSum = mwItem.RateAbility3;

    switch (count) {
        case 0:
        case 1:
            l[1] = mwItem.RateAbility1 / allRateSum;
            l[2] = mwItem.RateAbility2 / allRateSum;
            l[3] = mwItem.RateAbility3 / allRateSum;
            break;

        case 2:
            if (mwItem.AbilityLimit && mwItem.AbilityLimit < count) {
                break;
            }

            l[2] = mwItem.RateAbility2 / _2RateSum;
            l[3] = mwItem.RateAbility3 / _2RateSum;
            break;

        case 3:
            if (mwItem.AbilityLimit && mwItem.AbilityLimit < count) {
                break;
            }

            l[3] = mwItem.RateAbility3 / _3RateSum;
            break;

        default:
            l[0] = 1;
            break;
    }

    return l;
}

function getAbilityValue(d: MetalWareAbilityInfo, level: number): number {
    if (level < 1) {
        return 0;
    }

    let val = d.InitialValue + (d.ValuePerLevel * (level - 1));
    val *= d.Standard;

    return val;
}

const rankNameList: { level: number, name: string }[] = [
    { level: 0, name: '0 Rank' },
    { level: 1, name: '3 Rank' },
    { level: 2, name: '2 Rank' },
    { level: 3, name: '1 Rank' },
];

const rankNameMap = Object.fromEntries(rankNameList.map(v => [v.level, v.name]));

type AbilityLevelRange = {
    minLevel: number,
    maxLevel: number,
    limitBreakLevel: number,
}

type AbilityLevelProbability = {
    level: number,
    prob: number,
}

type ItemAbilityInfo = {
    ability: MetalWareAbilityInfo,
    level: number,
}

class MetalWareHelper {
    public constructor(
        public readonly levelList: MetalWareLevelInfo[],
        public readonly abilityList: MetalWareAbilityInfo[],
        public readonly mwItem?: MetalWareItemInfo,
        public readonly item?: ItemExtendMetalWareInfo,
    ) {
    }

    private _cachedAbilityCandidateList: Record<number, MetalWareAbilityInfo[]> = {};

    public abilityCandidateList(rank: number): MetalWareAbilityInfo[] {
        if (this._cachedAbilityCandidateList[rank]) {
            return [...this._cachedAbilityCandidateList[rank]];
        }

        const { mwItem, item, abilityList } = this;

        const l = abilityList.filter(v => {
            let typeCond = true;
            let itemCond = true;

            if (mwItem) {
                typeCond = v.TypeFilterMap[mwItem.Id];
            }

            if (item) {
                const equipCond = !!v.EquipFilterMap[item.EquipType];
                const humanCond = item.Human ? v.Human : false;
                const elfCond = item.Elf ? v.Elf : false;
                const giantCond = item.Giant ? v.Giant : false;
                const raceCond = humanCond || elfCond || giantCond;

                itemCond = equipCond && raceCond;
            }

            const availableCond = this.abilityLevelRange(v, rank).maxLevel > 0;

            return typeCond && itemCond && availableCond;
        });

        this._cachedAbilityCandidateList[rank] = l;
        if (l.length == 0) {
            debugger;
        }
        return l;
    }

    public abilityLevelRange(d: MetalWareAbilityInfo, rank: number): AbilityLevelRange {
        const { mwItem, item, levelList } = this;
        let maxLevel = d.BaseMaxLevel;

        if (item) {
            if (item.EquipType.startsWith('Accessary')) {
                maxLevel = d.BaseMaxLevelAcc;
            }
            else if (item.EquipType.startsWith('OH')) {
                maxLevel = d.BaseMaxLevelOH;
            }
        }

        if (maxLevel < 1) {
            return {
                minLevel: 0,
                maxLevel: 0,
                limitBreakLevel: 0,
            };
        }

        const levelInfo = levelList[maxLevel - 1];

        let minLevel = 0;
        let limitBreakLevel = 0;
        switch (rank) {
            case 1:
                maxLevel = levelInfo.Rank3MaxLevel;
                minLevel = levelInfo.Rank3MinLevel;
                break;

            case 2:
                maxLevel = levelInfo.Rank2MaxLevel;
                minLevel = levelInfo.Rank2MinLevel;
                break;

            case 3:
                // 한계 돌파
                if (d.LimitBreak && mwItem?.LimitBreakRateFactor) {
                    limitBreakLevel = levelInfo.LimitBreakMaxLevel;
                }

                maxLevel = levelInfo.Rank1MaxLevel;
                minLevel = levelInfo.Rank1MinLevel;
                break;

            default:
                maxLevel = 0;
                minLevel = 0;
                break;
        }

        if (mwItem?.MinLevelFactor) {
            // ?
            minLevel = Math.round(maxLevel * mwItem.MinLevelFactor * 0.01);
            minLevel = Math.max(minLevel, 1);
        }

        if (mwItem?.MaxLevelFactor) {
            maxLevel = Math.floor(maxLevel * mwItem.MaxLevelFactor * 0.01);
        }

        return { minLevel, maxLevel, limitBreakLevel };
    }

    public abilityLevelProbability(d: MetalWareAbilityInfo, rank: number): AbilityLevelProbability[] {
        const { mwItem } = this;
        const { minLevel, maxLevel, limitBreakLevel } = this.abilityLevelRange(d, rank);

        const limitBreakProb = limitBreakLevel ? ((mwItem?.LimitBreakRateFactor ?? 0) / 10000) : 0;
        const normalProb = 1 - limitBreakProb;
        const limitBreakLevelProb = limitBreakProb / (limitBreakLevel - maxLevel);
        const normalLevelProb = normalProb / (maxLevel - minLevel + 1);

        const probs: AbilityLevelProbability[] = [];

        for (let i = minLevel; i <= maxLevel; i++) {
            probs.push({
                level: i,
                prob: normalLevelProb,
            });
        }

        for (let i = maxLevel + 1; i <= limitBreakLevel; i++) {
            probs.push({
                level: i,
                prob: limitBreakLevelProb,
            });
        }

        return probs;
    }
}

</script>