<template>
    <v-tabs v-model="currentTab" bg-color="primary">
        <v-tab v-for="tab in mileageShopData.Tabs" :key="tab.Id">{{ tab.Name }}</v-tab>
    </v-tabs>

    <v-window v-model="currentTab">
        <v-window-item v-for="tab in mileageShopData.Tabs" :key="tab.Id">
            <v-card>
                <v-card-text>
                    <v-sheet>
                        <p>시작일: {{ dateToStr(new Date(tab.StartTime * 1000)) }}</p>
                        <p>종료일: {{ dateToStr(new Date(tab.EndTime * 1000)) }}</p>
                    </v-sheet>
                </v-card-text>
                <v-row>
                    <v-col v-for="item in tab.Items" v-bind:key="item.Id">
                        <v-sheet width="120" height="100"
                            :style='`background: url("${resUrl}invimage/${region}/${item.Id}/${item.Id}.png") no-repeat; background-position: center;`' />

                        <p>{{ getString(itemInfoMap[item.Id]?.Name) }}</p>
                        <p><img :src="`${resUrl}invimage/${region}/75786/75786.png`" /> {{ item.Price }} 마일리지</p>

                    </v-col>
                </v-row>
            </v-card>
        </v-window-item>
    </v-window>
</template>


<script lang="ts">
import { defineComponent, ref, onMounted, inject, watch, computed } from "vue";

import { resUrl, apiClient, MileageShopListRes } from '@/apicall';
import type { ItemInfo } from '@/protos/resourcedata';

export default defineComponent({
    setup() {
        const isLoading = inject("isLoading");
        const db = inject("db");

        const currentTab = ref(0);
        const mileageShopData = ref<MileageShopListRes>({
            StartTime: 0,
            EndTime: 0,
            Tabs: [],
        });
        const itemInfoList = ref<ItemInfo[]>([]);
        const itemInfoMap = computed<Record<number, ItemInfo>>(() => {
            const m: Record<number, ItemInfo> = {};

            for (const v of itemInfoList.value) {
                m[v.Id] = v;
            }

            return m;
        });

        const getString = (key: string): string => {
            return db.value.getCurLangString(key);
        }

        const load = async () => {
            await db.value.tryOpen();

            itemInfoList.value = await db.value.getData('ItemList');

            const d = await loadMilageShopData();
            mileageShopData.value = d;

            if (d.Tabs.length > 0) {
                currentTab.value = 0;
            }
        };

        onMounted(load);
        watch(db, load);

        return {
            isLoading,
            resUrl,
            region: 'kr',

            mileageShopData,
            itemInfoMap,
            currentTab,
            getString,

            dateToStr,
        };
    }
});

async function loadMilageShopData(): Promise<MileageShopListRes> {
    const { response: d } = await apiClient.mileageShopList({});

    return d;
}

function dateToStr(date: Date): string {
    return date.toLocaleString();
}

</script>