<template>
    <v-app-bar :loading="isLoading" density="default" order="1">
        <v-sheet width="100vw" class="d-flex">
            <v-text-field v-model="filterText" variant="outlined" label="Name or Stat" density="compact" hide-details
                class="mt-2 ml-2 mr-2"></v-text-field>
            <v-select v-model="filterType" variant="outlined" label="Type"
                :items="[{ title: 'Normal', value: false }, { title: 'Extra', value: true }]" item-title="title"
                item-value="value" multiple density="compact" hide-details class="mt-2 mr-2">
            </v-select>
            <v-select v-model="filterAuctionSearchable" variant="outlined" label="Auction House"
                :items="[{ title: 'Not Available', value: false }, { title: 'Available', value: true }]"
                item-title="title" item-value="value" multiple density="compact" hide-details class="mt-2 mr-2">
            </v-select>
        </v-sheet>
    </v-app-bar>
    <v-virtual-scroll :items="filteredMiniatureList" ref="vscroll" item-height="110"
        style="min-height: 300px; height: calc(100svh - var(--v-layout-top));">
        <template v-slot:default="{ item }">
            <v-card height="100" class="d-flex ma-1">
                <v-sheet width="100" height="100" @click="showPrivateFarmFacilityInfo(item.Id)"
                    :style='`background: url("${resUrl}privatefarmfacilityimage/${region}/${item.Id}/${item.Id}.png") no-repeat; background-position: center;`' />
                <v-sheet>
                    <p>{{ getString(item.Name) }} ({{ item.IsExtraMiniature ? "Extra Totem" : "Normal Totem" }}, Auction
                        House {{
                            item.IsAuctionSearchable ? "O" : "X" }})</p>
                    <p>{{ item.BonusStatText }}</p>
                    <p v-if="item.IsAuctionSearchable">auction lowest price: {{ getAuctionItemLowestPrice(item.ItemId)
                        }}</p>
                </v-sheet>
            </v-card>
        </template>
    </v-virtual-scroll>
    <v-dialog v-model="dialog" width="auto">
        <v-card>
            <v-card-text>
                <pre style="text-wrap: balance">{{ dialogJson }}</pre>
            </v-card-text>
            <v-card-actions>
                <v-btn color="primary" block @click="dialog = false">Close</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script lang="ts">
import { defineComponent, ref, onMounted, computed, inject, watch } from "vue";
import type { VVirtualScroll } from "vuetify/lib/components/index.mjs";

import { resUrl, apiClient } from '@/apicall';
import { mabiHumanReadablePrice } from '@/mabiutil';
import type { MiniatureInfo } from '@/protos/resourcedata';

interface MiniatureExtendData extends MiniatureInfo {
    BonusStatText: string;
}

type MiniatureExtendList = MiniatureExtendData[];

export default defineComponent({
    setup() {
        const isLoading = inject("isLoading");
        const region = inject('region');
        const db = inject("db");

        const vscroll = ref<VVirtualScroll>();

        const filterText = ref('');
        const filterType = ref<boolean[]>([false, true]);
        const filterAuctionSearchable = ref<boolean[]>([true, false]);
        const miniatureList = ref<MiniatureExtendList>([]);

        const filteredMiniatureList = computed<MiniatureExtendList>(() => {
            const filterStr = filterText.value.trim();
            const filtered: MiniatureExtendList = [];

            const removeSpaceFilter = filterStr.replaceAll(' ', '');
            const splitSpaceFilter = filterStr.split(' ');
            for (const v of miniatureList.value) {
                if (filterType.value.find(x => x === v.IsExtraMiniature) === undefined) {
                    continue;
                }

                if (filterAuctionSearchable.value.find(x => x === v.IsAuctionSearchable) === undefined) {
                    continue;
                }

                if (filterStr) {
                    const name = `${getString(v.Name)} ${v.BonusStatText}`;
                    const _splitSpaceFilter = splitSpaceFilter.slice();
                    const removeSpaceName = name.replaceAll(' ', '');
                    const splitSpaceName = name.split(' ');

                    const cond1 = removeSpaceName?.includes(removeSpaceFilter);
                    const cond2 = splitSpaceName.reduce((p, x) => {
                        for (let i = 0; i < _splitSpaceFilter.length; i++) {
                            if (x.includes(_splitSpaceFilter[i])) {
                                _splitSpaceFilter.splice(i, 1);
                                return p + 1;
                            }
                        }

                        return p;
                    }, 0) == splitSpaceFilter.length;

                    if (!cond1 && !cond2) {
                        continue;
                    }
                }

                filtered.push(v);
            }

            return filtered;
        });

        const loadMiniatureList = async () => {
            const d = await db.value.getData('MiniatureList');

            d.sort((a, b) => {
                return a.Id - b.Id;
            })

            return d;
        }

        const getString = (key: string): string => {
            return db.value.getCurLangString(key)
        }

        const getAuctionItemLowestPrice = (itemId: number) => {
            const price = db.value.getAuctionItemLowestPrice(itemId) || 0;
            return mabiHumanReadablePrice(price) || 'no data';
        }

        const load = async () => {
            await db.value.tryOpen();

            const rlist = await loadMiniatureList();
            const relist = toMiniatureExtendList(rlist);
            miniatureList.value = relist;
        };

        onMounted(load);
        watch(db, load);

        const dialog = ref(false);
        const dialogJson = ref('');
        const showPrivateFarmFacilityInfo = async (itemId: number) => {
            const d = await loadPrivateFarmFacilityInfo(region.value, itemId);

            dialogJson.value = JSON.stringify(d, null, 4);
            dialog.value = true;
        }

        return {
            isLoading,
            resUrl,
            region,
            vscroll,

            filterText,
            filterType,
            filterAuctionSearchable,
            miniatureList,
            filteredMiniatureList,
            getString,
            getAuctionItemLowestPrice,

            // dialog
            showPrivateFarmFacilityInfo,
            dialog,
            dialogJson,
        };
    }
});

interface StatDesc {
    Name: string;
    Unit: string;
}

const statDescMap: Record<string, StatDesc> = {
    Strength: { Name: "체력", Unit: "" },
    Will: { Name: "의지", Unit: "" },
    Intelligence: { Name: "지력", Unit: "" },
    Dexterity: { Name: "솜씨", Unit: "" },
    Luck: { Name: "행운", Unit: "" },
    Life: { Name: "최대 생명력", Unit: "" },
    Mana: { Name: "최대 마나", Unit: "" },
    Stamina: { Name: "최대 스태미나", Unit: "" },
    AttackMax: { Name: "최대 대미지", Unit: "" },
    MagicAttack: { Name: "마법 공격력", Unit: "" },
    MusicSkill: { Name: "음악 버프 스킬 효과", Unit: "" },

    BonusDamage: { Name: "보너스 대미지", Unit: "%" },
    CriticalDamage: { Name: "크리티컬 대미지", Unit: "%" },
    MoveSpeed: { Name: "이동 속도", Unit: "%" },
} as const;

function toMiniatureExtendList(origList: MiniatureInfo[]): MiniatureExtendList {
    const list = origList.map<MiniatureExtendData>(v => ({
        ...v,
        BonusStatText: v.BonusStatMap
            ? Object.entries(v.BonusStatMap).map(([k, x]) =>
                statDescMap[k]
                    ? `${statDescMap[k].Name}: +${x}${statDescMap[k].Unit}`
                    : `${console.log(k, v.Description) as any || k}: +${x}`
            ).join(', ')
            : '',
    }));

    return list;
}

async function loadPrivateFarmFacilityInfo(region: string, facilityId: number): Promise<unknown> {
    const { response: res } = await apiClient.privateFarmFacilityJson({ Region: region, Id: facilityId });

    return JSON.parse(res.Json);
}

</script>