<template>
    <template v-for="item of multiClassList" v-bind:key="item.Id">
        <v-card min-height="125" class="d-flex flex-wrap ma-1 pa-2">
            <v-sheet style="width: 100%">
                <p>{{ getString(item.Name) }} ({{ getString(item.Keyword) }}) {{ item.Id }}</p>
                <p style="white-space: pre-line;">{{ getString(item.Description).replaceAll('\\n', '\n') }}</p>
                <!-- <p style="white-space: pre-line;">{{ getString(item.UnlockDescription).replaceAll('\\n', '\n') }}</p> -->
            </v-sheet>

            <v-sheet class="mt-4 d-flex flex-wrap" width="100svw">
                <span v-for="skillId in item.SkillBindingIds" v-bind:key="skillId">
                    <v-tooltip activator="parent" location="bottom" :open-on-click="true">
                        <template v-slot:activator="{ props }">
                            <v-img width="42" height="42"
                                :src="`${resUrl}skillimage/${region}/${skillId}/${skillId}.png`" v-bind="props"
                                @click.stop="clickSkill(skillId)" />
                        </template>
                        <span>{{ getString(skillMap[skillId]?.Name) }}</span>
                    </v-tooltip>
                </span>
            </v-sheet>

            <v-sheet v-if="item.ArcanaLevels?.length" class="mt-4" width="100svw">
                <p>Link Bonus ({{ item.ArcanaLevels[item.ArcanaLevels.length - 1].Level }} Link)</p>
                <p style="white-space: pre-line;">{{ getLinkBonusDescription(item) }}</p>
            </v-sheet>

            <v-sheet v-if="item.LevelBonuses?.length" class="mt-4" width="100svw">
                <p>Level Bonus ({{ item.LevelBonuses[item.LevelBonuses.length - 1].Level }} Level)</p>
                <p style="white-space: pre-line;">{{ getLevelBonusStat(item).join('\n') }}</p>
            </v-sheet>
        </v-card>
    </template>

    <v-dialog v-model="dialog" width="auto">
        <v-card>
            <v-card-text>
                <pre style="text-wrap: balance">{{ dialogJson }}</pre>
            </v-card-text>
            <v-card-actions>
                <v-btn color="primary" block @click="dialog = false">Close</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script lang="ts">
import { mdiClose } from '@mdi/js';
import { defineComponent, ref, onMounted, inject, watch, computed } from "vue";

import { resUrl, apiClient } from '@/apicall';
import { SkillInfo, MultiClassInfo } from '@/protos/resourcedata';

export default defineComponent({
    setup() {
        const isLoading = inject("isLoading");
        const region = inject('region');
        const db = inject("db");

        const multiClassList = ref<MultiClassInfo[]>([]);
        const skillList = ref<SkillInfo[]>([]);
        const skillMap = computed<Record<number, SkillInfo>>(() => {
            const r: Record<number, SkillInfo> = {};

            for (const v of skillList.value) {
                r[v.Id] = v;
            }

            return r;
        });

        const load = async () => {
            await db.value.tryOpen();

            const slist = await db.value.getSortedListData('SkillList');
            skillList.value = slist;

            const mlist = await db.value.getSortedListData('MultiClassList');
            multiClassList.value = mlist;
        }

        onMounted(load);
        watch(db, load);

        const getString = (key: string) => {
            return db.value.getCurLangString(key);
        }

        const getLinkBonusDescription = (info: MultiClassInfo): string => {
            if (!info.ArcanaLevels?.length) {
                return '';
            }

            const levelInfo = info.ArcanaLevels[info.ArcanaLevels.length - 1];
            let desc = getString(levelInfo.Description).replaceAll('\\n', '\n');

            const matched = desc.matchAll(/\{[0-9]+\}/g);
            for (const m of matched) {
                const varN = +m[0].substring(1, m[0].length - 1);
                const varK = `var${varN + 1}`;

                const varV = levelInfo.VariableMap?.[varK];
                if (!varV) {
                    // ?
                    continue;
                }

                desc = desc.replace(m[0], varV.toString());
            }

            return desc;
        }

        const getLevelBonusStat = (info: MultiClassInfo): string[] => {
            if (!info.LevelBonuses?.length) {
                return [];
            }

            const levelInfo = info.LevelBonuses[info.LevelBonuses.length - 1];
            const bonuses = [] as string[];
            const statKeys = [
                'Life',
                'Mana',
                'Stamina',
                'Strength',
                'Will',
                'Intelligence',
                'Dexterity',
                'Luck',
            ];

            for (let i = 0; i < statKeys.length; i++) {
                const statK = statKeys[i];
                const statV = levelInfo.Bonuses?.[i];
                if (!statV) {
                    continue;
                }

                bonuses.push(`${statK} +${statV}`);
            }

            return bonuses;
        }

        const lastClickSkillId = ref(0);
        const clickSkill = (id: number) => {
            if (lastClickSkillId.value === id) {
                showSkillInfo(id);
                lastClickSkillId.value = 0;
                return;
            }

            lastClickSkillId.value = id;
        }

        const dialog = ref(false);
        const dialogJson = ref('');
        const showSkillInfo = async (skillId: number) => {
            const d = await loadSkillInfo(region.value, skillId);

            dialogJson.value = JSON.stringify(d, null, 4);
            dialog.value = true;
        }

        return {
            mdiClose,

            isLoading,
            db,
            resUrl,
            region,
            multiClassList,
            skillMap,
            getString,
            getLinkBonusDescription,
            getLevelBonusStat,

            // dialog
            clickSkill,
            dialog,
            dialogJson,
        };
    }
});

async function loadSkillInfo(region: string, skillId: number): Promise<unknown> {
    const { response: res } = await apiClient.skillJson({ Region: region, Id: skillId });

    return JSON.parse(res.Json);
}

</script>