<template>
    <v-app-bar :loading="isLoading" density="default" order="1">
        <v-sheet class="d-flex mt-2 mb-2" width="100vw">
            <v-text-field v-model="filterText" variant="outlined" label="Enchant Name or Effect" density="compact"
                class="ml-2" hide-details></v-text-field>
            <v-select v-model="filterUsage" variant="outlined" label="Enchant Usage" :items="usages" item-title="title"
                item-value="value" multiple density="compact" class="ml-2 mr-2" hide-details />
        </v-sheet>
    </v-app-bar>

    <v-virtual-scroll :items="filteredOptionSetList" ref="vscroll"
        style="min-height: 300px; height: calc(100svh - var(--v-layout-top));">
        <template v-slot:default="{ item }">
            <v-card min-height="75" class="d-flex ma-1 pa-1">
                <v-sheet width="80" height="75" @click="showOptionSetInfo(item.Id)"
                    :style='`background: url("${resUrl}invimage/${region}/62005/62005.png") no-repeat; background-position: center;`' />
                <v-sheet>
                    <p>{{ getOptionSetName(item) }} {{ usageMap[item.Usage] || `unknownUsage:${item.Usage}` }} {{
                        levelMap[item.Level] }} {{ item.Id }}</p>
                    <p>auction house search:
                        <span v-if="getAuctionEnchantScrollLowestPrice(item.Id) !== undefined"> <v-icon :icon="mdiCheck"
                                color="primary" />possible</span>
                        <span v-else><v-icon :icon="mdiClose" color="error" />impossible</span>
                    </p>
                    <p v-if="getAuctionEnchantScrollLowestPrice(item.Id) !== undefined">
                        auction house lowest price: {{ getAuctionEnchantScrollLowestPrice(item.Id) }}</p>
                    <br />
                    <template v-for="effectElem in getString(item.Desc).split('\\n')" v-bind:key="effectElem">
                        <p :class="effectElem[0] === '[' ? 'text-error' : 'text-primary'">{{ effectElem }}</p>
                    </template>
                </v-sheet>
                <v-spacer></v-spacer>
                <v-sheet class="d-flex">
                    <v-btn :prepend-icon="mdiMagnify" class="mr-4 align-self-center" color="success"
                        @click="showAllowItemList(item)">List</v-btn>
                </v-sheet>
            </v-card>
        </template>
    </v-virtual-scroll>
    <v-dialog v-model="dialog" width="auto" min-width="80vw" contained>
        <v-card>
            <v-card-text>
                <item-list :item-id-list="dialogItemIdList" />
            </v-card-text>
            <v-card-actions>
                <v-btn color="primary" block @click="dialog = false">Close</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>

    <v-dialog v-model="dialog2" width="auto">
        <v-card>
            <v-card-text>
                <pre style="text-wrap: balance">{{ dialog2Json }}</pre>
            </v-card-text>
            <v-card-actions>
                <v-btn color="primary" block @click="dialog2 = false">Close</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script lang="ts">
import { mdiMagnify, mdiCheck, mdiClose } from '@mdi/js';
import { defineComponent, ref, onMounted, computed, inject, watch } from "vue";
import type { VVirtualScroll } from "vuetify/lib/components/index.mjs";

import { resUrl, apiClient } from '@/apicall';
import { SkillLevelStrMap } from '@/consts';
import { filterList } from '@/util';
import { mabiHumanReadablePrice } from '@/mabiutil';
import type { OptionSetInfo } from '@/protos/resourcedata';

import ItemListComponent from '@/components/itemList.vue';

export default defineComponent({
    components: {
        ItemList: ItemListComponent,
    },
    setup() {
        const isLoading = inject("isLoading");
        const region = inject('region');
        const db = inject("db");

        const vscroll = ref<VVirtualScroll>();

        const filterText = ref('');
        const filterUsage = ref<number[]>([0, 1]);

        const optionSetList = ref<OptionSetInfo[]>([]);
        const enchantScrollLowestPriceList = ref<{ Id: number, Price: number }[]>([]);
        const enchantScrollLowestPriceMap = computed<Record<number, number>>(() => {
            const m: Record<number, number> = {};

            for (const v of enchantScrollLowestPriceList.value) {
                m[v.Id] = v.Price;
            }

            return m;
        });

        const filteredOptionSetList = computed<OptionSetInfo[]>(() => {
            let l = optionSetList.value;
            if (filterUsage.value.length) {
                l = l.filter(v => filterUsage.value.includes(v.Usage));
            }

            return filterList(filterText.value, l, v => `${getOptionSetName(v)} ${getString(v.Desc)} ${v.Id}`);
        });

        const showAllowItemList = async (item: OptionSetInfo) => {
            const allowList = await loadAllowItemList(region.value, item.Id);
            dialogItemIdList.value = allowList;
            dialog.value = true;
        }
        const dialog = ref(false);
        const dialogItemIdList = ref<number[]>([]);

        const dialog2 = ref(false);
        const dialog2Json = ref('');
        const showOptionSetInfo = async (id: number) => {
            const d = await loadOptionSetInfo(region.value, id);

            dialog2Json.value = JSON.stringify(d, null, 4);
            dialog2.value = true;
        }

        const load = async () => {
            await db.value.tryOpen();

            enchantScrollLowestPriceList.value = await db.value.getSortedListData('AuctionEnchantScrollLowestPriceList');
            optionSetList.value = await db.value.getSortedListData('OptionSetList');
        }

        onMounted(load);
        watch(db, load);

        const getString = (key: string) => {
            return db.value.getCurLangString(key);
        }

        const getAuctionEnchantScrollLowestPrice = (id: number): string | undefined => {
            const price = enchantScrollLowestPriceMap.value[id];
            if (price === undefined) {
                return undefined;
            }

            return mabiHumanReadablePrice(price) || 'no data';
        }

        const getOptionSetName = (d: OptionSetInfo) => {
            const name1 = getString(d.Name);
            const name2 = getString(d.Name2);

            if (name2 == '' || name1 == name2) {
                return name1;
            }

            return `${name1}/${name2}`;
        }

        return {
            mdiMagnify,
            mdiCheck,
            mdiClose,

            isLoading,
            resUrl,
            region,
            vscroll,

            filterText,
            filterUsage,
            filteredOptionSetList,
            levelMap: SkillLevelStrMap,
            usageMap: optionSetUsageMap,
            usages: Object.entries(optionSetUsageMap).map(v => ({ title: v[1], value: +v[0] })),
            getString,
            getOptionSetName,
            getAuctionEnchantScrollLowestPrice,

            // allow item list dialog
            showAllowItemList,
            dialog,
            dialogItemIdList,

            // option set debug info dialog
            showOptionSetInfo,
            dialog2,
            dialog2Json,
        };
    }
});

const optionSetUsageMap: Record<number, string> = {
    0: 'Prefix',
    1: 'Suffix',
    7: 'HolyFrame',
    8: 'Artisan',
    9: 'HolyWater',
    10: 'Relic',
};

async function loadAllowItemList(region: string, id: number): Promise<number[]> {
    const { response: res } = await apiClient.optionSetAllowItems({ Region: region, Id: id });

    return res.AllowItemIds || [];
}

async function loadOptionSetInfo(region: string, id: number): Promise<unknown> {
    const { response: res } = await apiClient.optionSetJson({ Region: region, Id: id });

    return JSON.parse(res.Json);
}
</script>