<template>
    <v-app-bar :loading="isLoading" density="default" order="1">
        <v-text-field v-model="filter" variant="outlined" label="Pet Name" density="compact" class="ma-2"
            hide-details />
    </v-app-bar>
    <v-virtual-scroll :items="filteredPetList" ref="vscroll" item-height="110"
        style="min-height: 300px; height: calc(100svh - var(--v-layout-top));">
        <template v-slot:default="{ item }">
            <v-card min-height="100" class="d-flex ma-1 pa-1">
                <v-sheet width="80" @click="showRaceInfo(item.Id)"
                    :style='`background: url("${resUrl}petimage/${region}/${item.Id}/${item.Id}.png") no-repeat; background-position: center;`' />
                <v-sheet style="width: fit-content;">
                    <p>
                        <span class="mr-2" style="vertical-align: middle;">{{ getString(raceMap[item.Id]?.Name) }} {{
                            item.Id }} Inv {{
                                raceMap[item.Id]?.InventorySizeX }}x{{ raceMap[item.Id]?.InventorySizeY }}</span>
                        <template v-for="part, i in item.ColorParts" v-bind:key="i">
                            <v-tooltip location="bottom" :open-on-click="true">
                                <template v-slot:activator="{ props }">
                                    <span
                                        :style="`color: #${part.DefaultColor.length > 6 ? part.DefaultColor.substring(part.DefaultColor.length - 6) : part.DefaultColor};`"
                                        v-bind="props">■</span>
                                </template>
                                <span>Color Part Name {{ getString(part.Name) }}</span>
                                <br />
                                <span>Default Color {{ getString(part.DefaultColorName) }} (#{{ part.DefaultColor }})</span>
                            </v-tooltip>
                        </template>

                        <v-btn :prepend-icon="mdiMagnify" @click="dialog2Id = item.Id; dialog2 = true;" class="ml-2"
                            color="success" size="small">Preview</v-btn>
                        <v-btn v-if="!item.DisableSeal" :prepend-icon="mdiStore"
                            @click="dialog3QueryParams.RaceIds = [item.Id]; dialog3 = true;" class="ml-2"
                            color="success" size="small">Auction</v-btn>
                    </p>
                    <p v-if="getAuctionPetSealLowestPrice(item.Id) !== undefined">auction house lowest price:
                        {{ getAuctionPetSealLowestPrice(item.Id) }}</p>
                    <v-sheet class="d-flex flex-wrap">
                        <v-sheet>
                            <v-table density="compact">
                                <thead>
                                    <tr>
                                        <th>Age / Level</th>
                                        <th>Sth</th>
                                        <th>Int</th>
                                        <th>Dex</th>
                                        <th>Will</th>
                                        <th>Luck</th>
                                        <th>Life</th>
                                        <th>Mana</th>
                                        <th>Stamina</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1 / 1</td>
                                        <td>{{ item.MinLevelStat?.Str }}</td>
                                        <td>{{ item.MinLevelStat?.Int }}</td>
                                        <td>{{ item.MinLevelStat?.Dex }}</td>
                                        <td>{{ item.MinLevelStat?.Will }}</td>
                                        <td>{{ item.MinLevelStat?.Luck }}</td>
                                        <td>{{ item.MinLevelStat?.Life }}</td>
                                        <td>{{ item.MinLevelStat?.Mana }}</td>
                                        <td>{{ item.MinLevelStat?.Stamina }}</td>
                                    </tr>
                                    <tr>
                                        <td>1 / 200</td>
                                        <td>{{ item.MaxLevelStat?.Str }}</td>
                                        <td>{{ item.MaxLevelStat?.Int }}</td>
                                        <td>{{ item.MaxLevelStat?.Dex }}</td>
                                        <td>{{ item.MaxLevelStat?.Will }}</td>
                                        <td>{{ item.MaxLevelStat?.Luck }}</td>
                                        <td>{{ item.MaxLevelStat?.Life }}</td>
                                        <td>{{ item.MaxLevelStat?.Mana }}</td>
                                        <td>{{ item.MaxLevelStat?.Stamina }}</td>
                                    </tr>
                                </tbody>

                            </v-table>

                            <v-sheet class="d-flex flex-wrap">
                                <span v-for="s, i in item.Skills" v-bind:key="i">
                                    <v-tooltip activator="parent" location="bottom" :open-on-click="true">
                                        <template v-slot:activator="{ props }">
                                            <v-img width="42" height="42"
                                                :src="`${resUrl}skillimage/${region}/${s.Id}/${s.Id}.png`"
                                                v-bind="props" @click="clickSkill(s.Id)" />
                                        </template>
                                        <span>{{ getString(skillMap[s.Id]?.Name) }} {{ s.Id }} {{ levelMap[s.Level] }}
                                            (Need Pet Level {{ s.NeedPetLevel
                                            }})</span>
                                    </v-tooltip>
                                </span>
                            </v-sheet>
                        </v-sheet>

                    </v-sheet>
                </v-sheet>
            </v-card>
        </template>
    </v-virtual-scroll>
    <v-dialog v-model="dialog" width="auto">
        <v-card>
            <v-card-text>
                <pre style="text-wrap: balance">{{ dialogJson }}</pre>
            </v-card-text>
            <v-card-actions>
                <v-btn color="primary" block @click="dialog = false">Close</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>

    <v-dialog v-model="dialog2" fullscreen>
        <v-card>
            <v-card-text>
                <char-view :get-gltf="dialog2GetGltf" style="width: calc(100vw - 48px); ; max-height: 80vh;" />
            </v-card-text>
            <v-card-actions>
                <v-btn color="primary" block @click="dialog2 = false">Close</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>

    <v-dialog v-model="dialog3" width="70vw">
        <v-card>
            <v-card-text>
                <auction-house :query-params="dialog3QueryParams" is-sub-component />
            </v-card-text>
            <v-card-actions>
                <v-btn color="primary" block @click="dialog3 = false">Close</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script lang="ts">
import { mdiMagnify, mdiStore } from '@mdi/js';
import { defineComponent, ref, onMounted, computed, inject, watch } from "vue";
import type { VVirtualScroll } from "vuetify/lib/components/index.mjs";

import { resUrl, apiClient, type AuctionItemSearchReq } from '@/apicall';
import { SkillLevelStrMap } from '@/consts';
import { filterList } from '@/util';
import { mabiHumanReadablePrice } from '@/mabiutil';
import type { PetInfo, RaceInfo, SkillInfo } from '@/protos/resourcedata';

import CharView from "@/components/characterViewer.vue";
import AuctionHouse from '@/components/auctionHouse.vue';

export default defineComponent({
    components: {
        CharView,
        AuctionHouse,
    },
    setup() {
        const isLoading = inject("isLoading");
        const region = inject('region');
        const db = inject("db");

        const vscroll = ref<VVirtualScroll>();

        const filter = ref('');

        const petList = ref<PetInfo[]>([]);

        const raceList = ref<RaceInfo[]>([]);
        const raceMap = computed<Record<number, RaceInfo>>(() => {
            const m: Record<number, RaceInfo> = {};

            for (const v of raceList.value) {
                m[v.Id] = v;
            }

            return m;
        });

        const skillList = ref<SkillInfo[]>([]);
        const skillMap = computed<Record<number, SkillInfo>>(() => {
            const m: Record<number, SkillInfo> = {};

            for (const v of skillList.value) {
                m[v.Id] = v;
            }

            return m;
        });

        const petSealLowestPriceList = ref<{ Id: number, Price: number }[]>([]);
        const petSealLowestPriceMap = computed<Record<number, number>>(() => {
            const m: Record<number, number> = {};

            for (const v of petSealLowestPriceList.value) {
                m[v.Id] = v.Price;
            }

            return m;
        });

        const filteredPetList = computed<PetInfo[]>(() =>
            filterList(filter.value, petList.value, v => `${getString(raceMap.value[v.Id]?.Name)} ${v.Id}`));

        const load = async () => {
            await db.value.tryOpen();

            petSealLowestPriceList.value = await db.value.getSortedListData('AuctionPetSealLowestPriceList');

            const slist = await db.value.getSortedListData('SkillList');
            skillList.value = slist;

            const rlist = await db.value.getSortedListData('RaceList');
            raceList.value = rlist;

            const plist = await db.value.getSortedListData('PetList');
            petList.value = plist;
        }

        onMounted(load);
        watch(db, load);

        const getAuctionPetSealLowestPrice = (id: number): string | undefined => {
            const price = petSealLowestPriceMap.value[id];
            if (price === undefined) {
                return undefined;
            }

            return mabiHumanReadablePrice(price) || 'no data';
        }

        const lastClickSkillId = ref(0);
        const clickSkill = (id: number) => {
            if (lastClickSkillId.value === id) {
                showSkillInfo(id);
                lastClickSkillId.value = 0;
                return;
            }

            lastClickSkillId.value = id;
        }

        const showSkillInfo = async (skillId: number) => {
            const d = await loadSkillInfo(region.value, skillId);

            dialogJson.value = JSON.stringify(d, null, 4);
            dialog.value = true;
        }

        const showRaceInfo = async (raceId: number) => {
            const d = await loadRaceInfo(region.value, raceId);

            dialogJson.value = JSON.stringify(d, null, 4);
            dialog.value = true;
        }

        const dialog = ref(false);
        const dialogJson = ref('');

        const dialog2 = ref(false);
        const dialog2Id = ref(0);
        const dialog2GetGltf = computed<() => Promise<string>>(() =>
            () => apiClient.raceMesh({ Region: region.value, Id: dialog2Id.value }).then(v => v.response.Json));

        const dialog3 = ref(false);
        const dialog3QueryParams = ref<AuctionItemSearchReq>({
            ItemIds: [85698], // 동물 캐릭터 분양 메달
            PrefixId: 0,
            SuffixId: 0,
            RaceIds: [],
            Limit: 1000,
            Page: 0,
        });

        const getString = (key: string) => {
            return db.value.getCurLangString(key);
        }

        return {
            mdiMagnify,
            mdiStore,

            isLoading,
            resUrl,
            region,
            vscroll,

            filter,
            raceList,
            filteredPetList,
            raceMap,
            skillMap,
            levelMap: SkillLevelStrMap,
            clickSkill,
            showRaceInfo,
            getString,
            getAuctionPetSealLowestPrice,

            // info dialog
            dialog,
            dialogJson,

            // preview dialog
            dialog2,
            dialog2Id,
            dialog2GetGltf,

            // auction house dialog
            dialog3,
            dialog3QueryParams,
        };
    }
});

async function loadRaceInfo(region: string, raceId: number): Promise<unknown> {
    const { response: res } = await apiClient.raceJson({ Region: region, Id: raceId });

    return JSON.parse(res.Json);
}

async function loadSkillInfo(region: string, skillId: number): Promise<unknown> {
    const { response: res } = await apiClient.skillJson({ Region: region, Id: skillId });

    return JSON.parse(res.Json);
}

</script>