<template>
    <v-app-bar :loading="isLoading" density="default" order="1">
        <v-sheet width="100vw" class="d-flex pl-2 pr-2">
            <v-text-field v-model="filterText" variant="outlined" label="Production Item Name" density="compact"
                hide-details />
            <v-select v-model="filterType" :isLoading="isLoading" variant="outlined" label="Production Type"
                :items="typeMap" item-title="title" item-value="value" multiple density="compact" class="ml-2"
                hide-details />
        </v-sheet>
    </v-app-bar>

    <v-virtual-scroll :items="filteredProductionList" ref="vscroll" item-height="135"
        style="min-height: 300px; height: calc(100svh - var(--v-layout-top));">
        <template v-slot:default="{ item }">
            <production-info :item="item" :item-info-list="itemInfoMap" :item-extend-s-i-map="itemExtendSIMap"
                :item-extend-r-p-map="itemExtendRPMap" :set-item-desc-element-map="setItemDescElementMap"
                :production-map="productionMap" :skill-map="skillMap" :db="db" />
        </template>
    </v-virtual-scroll>
</template>

<script lang="ts">
import { defineComponent, ref, onMounted, computed, inject, watch } from "vue";
import type { VVirtualScroll } from "vuetify/lib/components/index.mjs";

import { filterList } from '@/util';
import { SkillLevelStrMap, productionTypeMap } from '@/consts';
import type {
    ProductionInfo, ItemInfo, ItemExtendSetItemDescInfo, ItemExtendRandomProductInfo,
    SetItemDescElementInfo, SkillInfo,
} from '@/protos/resourcedata';

import ProductionInfoComponent from '@/components/productionInfo.vue';

export default defineComponent({
    components: {
        ProductionInfo: ProductionInfoComponent,
    },
    setup() {
        const isLoading = inject("isLoading");
        const db = inject("db");

        const vscroll = ref<VVirtualScroll>();

        const filterText = ref('');
        const filterType = ref<number[]>([]);
        const productionList = ref<ProductionInfo[]>([]);
        const itemInfoList = ref<ItemInfo[]>([]);
        const itemInfoMap = computed<Record<number, ItemInfo>>(() => {
            const m: Record<number, ItemInfo> = {};

            for (const v of itemInfoList.value) {
                m[v.Id] = v;
            }

            return m;
        });

        const itemExtendSIList = ref<ItemExtendSetItemDescInfo[]>([]);
        const itemExtendSIMap = computed<Record<number, ItemExtendSetItemDescInfo>>(() => {
            const m: Record<number, ItemExtendSetItemDescInfo> = {};

            for (const v of itemExtendSIList.value) {
                m[v.Id] = v;
            }

            return m;
        });

        const itemExtendRPList = ref<ItemExtendRandomProductInfo[]>([]);
        const itemExtendRPMap = computed<Record<number, ItemExtendRandomProductInfo>>(() => {
            const m: Record<number, ItemExtendRandomProductInfo> = {};

            for (const v of itemExtendRPList.value) {
                m[v.Id] = v;
            }

            return m;
        });

        const setItemDescElementList = ref<SetItemDescElementInfo[]>([]);
        const setItemDescElementMap = computed<Record<string, SetItemDescElementInfo>>(() => {
            const m: Record<string, SetItemDescElementInfo> = {};

            for (const v of setItemDescElementList.value) {
                m[v.Key] = v;
            }

            return m;
        });

        const skillList = ref<SkillInfo[]>([]);
        const skillMap = computed<Record<number, SkillInfo>>(() => {
            const m: Record<number, SkillInfo> = {};

            for (const v of skillList.value) {
                m[v.Id] = v;
            }

            return m;
        });

        const typeMap = computed<{ title: string, value: number }[]>(() => Object.entries(productionTypeMap)
            .sort((a, b) => Number(a[0]) - Number(b[0]))
            .map(([k, v]) => {
                let title = getString(skillMap.value[v.skillId]?.Name);
                if (v.nameSuffix) {
                    title += ' ' + v.nameSuffix;
                }

                return { title, value: +k }
            })
        );


        const filteredProductionList = computed<ProductionInfo[]>(() => {
            const typeFilteredList = productionList.value.filter(v => {
                if (filterType.value.length == 0) {
                    return true;
                }

                return filterType.value.includes(v.Type);
            });

            return filterList(filterText.value, typeFilteredList, v => `${getString(itemInfoMap.value[v.ItemId]?.Name)} ${v.ItemId}`);
        });

        const productionMap = computed<Record<number, ProductionInfo>>(() => {
            const m: Record<number, ProductionInfo> = {};

            for (const v of productionList.value) {
                m[v.ItemId] = v;
            }

            return m;
        });

        const getString = (key: string) => {
            return db.value.getCurLangString(key);
        }

        const loadProductionList = async () => {
            const d = await db.value.getData('ProductionList');
            for (const v of d) {
                v.Essentials?.forEach(x => x.ItemIds.sort((a, b) => a - b));
                v.CompleteEssentials?.forEach(x =>
                    x.Essentials?.forEach(y => y.ItemIds.sort((a, b) => a - b))
                );
            }

            d.sort((a, b) => {
                if (a.Type == b.Type) {
                    return a.ItemId - b.ItemId
                }

                return a.Type - b.Type
            });

            return d;
        }

        const load = async () => {
            await db.value.tryOpen();

            itemInfoList.value = await db.value.getData('ItemList');

            itemExtendSIList.value = await db.value.getData('ItemExtendSetItemDescList');

            itemExtendRPList.value = await db.value.getData('ItemExtendRandomProductList');

            setItemDescElementList.value = await db.value.getData('SetItemDescElementList');

            skillList.value = await db.value.getData('SkillList');

            const plist = await loadProductionList();
            productionList.value = plist;
        };

        onMounted(load);
        watch(db, load);

        return {
            isLoading,
            vscroll,

            filterText,
            filterType,
            typeMap,
            productionList,
            filteredProductionList,
            productionMap,
            itemInfoMap,
            itemExtendSIMap,
            itemExtendRPMap,
            setItemDescElementMap,
            skillMap,
            db,
            levelMap: SkillLevelStrMap,
        };
    }
});
</script>