<template>
    <v-card min-height="125" class="d-flex flex-wrap ma-1">
        <item-img :width="100" :height="100" :item="itemInfoList[item.ItemId]" />
        <v-sheet class="mr-3">
            <p>{{ getString(itemInfoList[item.ItemId]?.Name) }}</p>
            <p>{{ getString(skillMap[productionTypeMap[item.Type]?.skillId]?.Name) }} {{ levelMap[item.Level] }}</p>
            <p v-if="item.NeedPropName">{{
                getString(item.NeedPropName) }} is required
            </p>
            <v-tooltip v-if="itemExtendSIMap[item.ItemId]" location="bottom" open-on-click>
                <template v-slot:activator="{ props }">
                    <p v-bind="props">
                        set item
                    </p>
                </template>
                <p v-for="setItemElem, i in itemExtendSIMap[item.ItemId].Elements" v-bind:key="i">
                    {{ setItemDescElementMap[setItemElem.Name] ? `${getString(setItemDescElementMap[setItemElem.Name].Name)} (${setItemElem.Name})` :
                        setItemElem.Name }}
                    {{ setItemElem.Min != setItemElem.Max ? `${setItemElem.Min}~${setItemElem.Max}` : setItemElem.Min }}
                </p>
                <span v-if="itemExtendSIMap[item.ItemId].Qualities?.length">
                    <span v-for="setItemQual, i in itemExtendSIMap[item.ItemId].Qualities" v-bind:key="i">
                        <p v-for="bonus, i in setItemQual.Bonus" v-bind:key="i">
                            {{ setItemDescElementMap[bonus.Name] ? getString(setItemDescElementMap[bonus.Name].Name)
                                : bonus.Name }}
                            {{ bonus.Min != bonus.Max ? `${bonus.Min} ~ ${bonus.Max}` : bonus.Min }}
                            , if the quality is above {{ setItemQual.Threshold }}
                        </p>
                    </span>
                </span>
            </v-tooltip>

            <v-tooltip v-if="itemExtendRPMap[item.ItemId]" location="bottom" open-on-click>
                <template v-slot:activator="{ props }">
                    <p v-bind="props">
                        exists random stat
                    </p>
                </template>
                <p v-for="rpElem, i in itemExtendRPMap[item.ItemId].Elements" v-bind:key="i">
                    {{ rpElem.Name }} {{ rpElem.Min }} ~ {{ rpElem.Max }}
                </p>
            </v-tooltip>
        </v-sheet>

        <p>재료</p>
        <v-sheet v-for="e, i in item.Essentials" v-bind:key="i" width="100">
            <item-img :width="100" :height="100" :item="itemInfoList[e.ItemIds[0]]" @click="essentialBtn(e.ItemIds[0])" :enable-click-event="false"/>
            <v-tooltip location="bottom" open-on-click>
                <template v-slot:activator="{ props }">
                    <v-sheet class="d-flex" v-bind="props">
                        <span class="flex-grow-0 flex-shrink-1 text-truncate ml-1">{{
                            getString(itemInfoList[e.ItemIds[0]]?.Name) }}
                            <span v-if="e.ItemIds.length > 1">(or {{ e.ItemIds.length }}종)
                            </span>
                        </span>
                        <span class="flex-grow-1 flex-shrink-0 mr-1">&nbsp;x{{ e.Count }}</span>
                    </v-sheet>
                </template>
                {{ getString(itemInfoList[e.ItemIds[0]]?.Name) }} {{ e.ItemIds.length > 1 ? `(or ${e.ItemIds.length}종)` : ''
                }} x{{ e.Count }}
            </v-tooltip>
        </v-sheet>

        <v-sheet v-if="item.CompleteEssentials?.length" class="d-flex flex-wrap">
            <p v-if="item.CompleteEssentials">마감재</p>
            <v-sheet v-for="e, i in item.CompleteEssentials[0].Essentials || []" v-bind:key="i" width="100">
                <item-img :width="100" :height="100" :item="itemInfoList[e.ItemIds[0]]" @click="essentialBtn(e.ItemIds[0])" :enable-click-event="false"/>
                <v-tooltip location="bottom" open-on-click>
                    <template v-slot:activator="{ props }">
                        <v-sheet class="d-flex" v-bind="props">
                            <span class="flex-grow-0 flex-shrink-1 text-truncate ml-1">{{
                                getString(itemInfoList[e.ItemIds[0]]?.Name) }}
                                <span v-if="e.ItemIds.length > 1">(or {{ e.ItemIds.length }}종)
                                </span>
                            </span>
                            <span class="flex-grow-1 flex-shrink-0 mr-1">&nbsp;x{{ e.Count }}</span>
                        </v-sheet>
                    </template>
                    {{ getString(itemInfoList[e.ItemIds[0]]?.Name) }} {{ e.ItemIds.length > 1 ? `(or ${e.ItemIds.length}종)`
                        : '' }} x{{ e.Count }}
                </v-tooltip>
            </v-sheet>
        </v-sheet>
    </v-card>
    <v-dialog v-model="dialog" width="auto">
        <v-card>
            <v-card-text>
                <pre style="text-wrap: balance">{{ dialogJson }}</pre>
            </v-card-text>
            <v-card-actions>
                <v-btn color="primary" block @click="dialog = false">Close</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
    <v-dialog v-model="dialog2" width="auto">
        <v-card>
            <v-card-text>
                <production-info :item="dialog2Item" :item-info-list="itemInfoList" :production-map="productionMap"
                    :db="db"></production-info>
            </v-card-text>
            <v-card-actions>
                <v-btn color="primary" block @click="dialog2 = false">Close</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script lang="ts">
import { defineComponent, ref, PropType, toRefs, inject } from "vue";

import { resUrl, apiClient } from '@/apicall';
import { SkillLevelStrMap, productionTypeMap } from '@/consts';
import type { 
    ProductionInfo, ItemInfo, ItemExtendSetItemDescInfo, ItemExtendRandomProductInfo, 
    SetItemDescElementInfo, SkillInfo,
} from '@/protos/resourcedata';
import type { MabiDB } from "@/mabidb";

import ItemImgComponent from '@/components/itemImg.vue';

export default defineComponent({
    name: 'productionInfo',
    components: {
        ItemImg: ItemImgComponent,
    },
    props: {
        item: {
            type: Object as PropType<ProductionInfo>,
            required: true,
            default: () => ({}),
        },
        itemInfoList: {
            type: Object as PropType<Record<number, ItemInfo>>,
            required: true,
            default: () => ({}),
        },
        itemExtendSIMap: {
            type: Object as PropType<Record<number, ItemExtendSetItemDescInfo>>,
            default: () => ({}),
        },
        itemExtendRPMap: {
            type: Object as PropType<Record<number, ItemExtendRandomProductInfo>>,
            default: () => ({}),
        },
        setItemDescElementMap: {
            type: Object as PropType<Record<string, SetItemDescElementInfo>>,
            default: () => ({}),
        },
        productionMap: {
            type: Object as PropType<Record<number, ProductionInfo>>,
            required: true,
            default: () => ({}),
        },
        skillMap: {
            type: Object as PropType<Record<number, SkillInfo>>,
            required: true,
            default: () => ({}),
        },
        db: {
            type: Object as PropType<MabiDB>,
            required: true,
        },
    },
    setup(props) {
        const region = inject('region');
        const { productionMap, db } = toRefs(props);

        const dialog = ref(false);
        const dialogJson = ref('');

        const dialog2 = ref(false);
        const dialog2Item = ref<ProductionInfo | undefined>(undefined);

        const essentialBtn = (itemId: number) => {
            if (!productionMap.value?.[itemId]) {
                return showItemInfo(itemId);
            }

            showProduction(itemId);
        }

        const showItemInfo = async (itemId: number) => {
            const d = await loadItemInfo(region.value, itemId);

            dialogJson.value = JSON.stringify(d, null, 4);
            dialog.value = true;
        }

        const showProduction = (itemId: number) => {
            const item = productionMap.value?.[itemId];
            if (!item) {
                return;
            }

            dialog2Item.value = item;
            dialog2.value = true;
        }

        const getString = (key: string) => {
            return db.value.getCurLangString(key);
        }

        return {
            resUrl,
            region,

            productionTypeMap,
            levelMap: SkillLevelStrMap,
            essentialBtn,
            showItemInfo,
            getString,

            // dialog
            dialog,
            dialogJson,

            // dialog2
            dialog2,
            dialog2Item,
        };
    }
});

async function loadItemInfo(region: string, itemId: number): Promise<unknown> {
    const { response: res } = await apiClient.itemJson({ Region: region, Id: itemId });

    const d = JSON.parse(res.Json);
    return d;
}

</script>