<template>
    <v-text-field v-model="filter" variant="outlined" label="Race Name" density="compact" class="ma-2" hide-details />
    <v-virtual-scroll :items="filteredRaceList" ref="vscroll" item-height="110" height="80vh">
        <template v-slot:default="{ item }">
            <v-card min-height="100" class="d-flex ma-1 pa-1">
                <v-sheet>
                    <span @click="showRaceInfo(item.Id)">{{ getString(item.Name) }} ({{ item.Id }}, {{ item.ClassName
                    }})</span>
                    <v-btn :prepend-icon="mdiMagnify" @click="dialog2Id = item.Id; dialog2 = true;" class="ml-1"
                        color="success" size="small">preview</v-btn>
                    <v-sheet class="d-flex flex-wrap">
                        <v-sheet>
                            <p>보유 스킬</p>
                            <v-sheet class="d-flex flex-wrap">
                                <span v-for="s, i in item.Skills" v-bind:key="i">
                                    <v-tooltip activator="parent" location="bottom" :open-on-click="true">
                                        <template v-slot:activator="{ props }">
                                            <v-img width="42" height="42"
                                                :src="`${resUrl}skillimage/${region}/${s.Id}/${s.Id}.png`" v-bind="props"
                                                @click="clickSkill(s.Id)" />
                                        </template>
                                        <span>{{ getString(skillInfoMap[s.Id]?.Name) }} {{ levelMap[s.Level] }}</span>
                                    </v-tooltip>
                                </span>
                            </v-sheet>
                        </v-sheet>
                        <v-sheet class="ml-3" v-if="item.WeakenSkills?.length">
                            <p>받는 스킬 대미지 배율</p>
                            <v-sheet class="d-flex flex-wrap">
                                <span v-for="s, i in item.WeakenSkills" v-bind:key="i">
                                    <v-tooltip activator="parent" location="bottom" :open-on-click="true">
                                        <template v-slot:activator="{ props }">
                                            <v-img width="42" height="42"
                                                :src="`${resUrl}skillimage/${region}/${s.Id}/${s.Id}.png`" v-bind="props"
                                                @click="clickSkill(s.Id)" />
                                        </template>
                                        <span>{{ getString(skillInfoMap[s.Id]?.Name) }} {{ s.DmgRate }}%</span>
                                    </v-tooltip>
                                </span>
                            </v-sheet>
                        </v-sheet>
                    </v-sheet>
                </v-sheet>
            </v-card>
        </template>
    </v-virtual-scroll>
    <v-dialog v-model="dialog" width="auto">
        <v-card>
            <v-card-text>
                <pre style="text-wrap: balance">{{ dialogJson }}</pre>
            </v-card-text>
            <v-card-actions>
                <v-btn color="primary" block @click="dialog = false">Close</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>

    <v-dialog v-model="dialog2" fullscreen>
        <v-card>
            <v-card-text>
                <char-view :get-gltf="dialog2GetGltf"
                    style="width: calc(100vw - 48px); height: -webkit-fill-available; max-height: 80vh;" />
            </v-card-text>
            <v-card-actions>
                <v-btn color="primary" block @click="dialog2 = false">Close</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script lang="ts">
import { mdiMagnify } from '@mdi/js';
import { defineComponent, ref, onMounted, computed, inject, watch } from "vue";
import type { VVirtualScroll } from "vuetify/lib/components/index.mjs";

import { resUrl, apiClient } from '@/apicall';
import { SkillLevelStrMap } from '@/consts';
import { filterList } from '@/util';
import type { RaceInfo, SkillInfo } from '@/protos/resourcedata';

import CharView from "@/components/characterViewer.vue";

export default defineComponent({
    components: {
        CharView,
    },
    setup() {
        const isLoading = inject("isLoading");
        const region = inject('region');
        const db = inject("db");

        const vscroll = ref<VVirtualScroll>();

        const filter = ref('');
        const raceList = ref<RaceInfo[]>([]);
        const skillInfoList = ref<SkillInfo[]>([]);
        const skillInfoMap = computed<Record<number, SkillInfo>>(() => {
            const m: Record<number, SkillInfo> = {};

            for (const v of skillInfoList.value) {
                m[v.Id] = v;
            }

            return m;
        });

        const filteredRaceList = computed<RaceInfo[]>(() =>
            filterList(filter.value, raceList.value, v => `${getString(v.Name)} ${v.Id}`));

        const loadRaceList = async () => {
            const d = await db.value.getData('RaceList');

            for (const v of d) {
                v.Skills.sort((a, b) => a.Id - b.Id);
            }

            d.sort((a, b) => {
                return a.Id - b.Id;
            })

            return d;
        };

        const load = async () => {
            await db.value.tryOpen();

            skillInfoList.value = await db.value.getData('SkillList');

            const rlist = await loadRaceList();
            raceList.value = rlist;
        }

        onMounted(load);
        watch(db, load);

        const lastClickSkillId = ref(0);
        const clickSkill = (id: number) => {
            if (lastClickSkillId.value === id) {
                showSkillInfo(id);
                lastClickSkillId.value = 0;
                return;
            }

            lastClickSkillId.value = id;
        }

        const showSkillInfo = async (skillId: number) => {
            const d = await loadSkillInfo(region.value, skillId);

            dialogJson.value = JSON.stringify(d, null, 4);
            dialog.value = true;
        }

        const dialog = ref(false);
        const dialogJson = ref('');
        const showRaceInfo = async (itemId: number) => {
            const d = await loadRaceInfo(region.value, itemId);

            dialogJson.value = JSON.stringify(d, null, 4);
            dialog.value = true;
        }

        const dialog2 = ref(false);
        const dialog2Id = ref(0);
        const dialog2GetGltf = computed<() => Promise<string>>(() =>
            () => apiClient.raceMesh({ Region: region.value, Id: dialog2Id.value }).then(v => v.response.Json));

        const getString = (key: string) => {
            return db.value.getCurLangString(key);
        }

        return {
            isLoading,
            mdiMagnify,
            resUrl,
            region,
            vscroll,

            filter,
            raceList,
            filteredRaceList,
            skillInfoMap,
            levelMap: SkillLevelStrMap,
            clickSkill,
            getString,

            // info dialog
            showRaceInfo,
            dialog,
            dialogJson,

            // preview dialog
            dialog2,
            dialog2Id,
            dialog2GetGltf,
        };
    }
});

async function loadRaceInfo(region: string, raceId: number): Promise<unknown> {
    const { response: res } = await apiClient.raceJson({ Region: region, Id: raceId });

    return JSON.parse(res.Json);
}

async function loadSkillInfo(region: string, skillId: number): Promise<unknown> {
    const { response: res } = await apiClient.skillJson({ Region: region, Id: skillId });

    return JSON.parse(res.Json);
}

</script>