<template>
    <v-tabs v-model="currentTab" bg-color="primary" :items="randomTableList"
        @update:model-value="(v: any) => changedTab(v)">
        <v-tab v-for="tbl in randomTableList" :key="tbl.Id">
            {{ getString(tbl.Name) }}
        </v-tab>
    </v-tabs>

    <v-window v-model="currentTab">
        <v-window-item v-for="tbl in randomTableList" :key="tbl.Id">
            <v-table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Range</th>
                        <th>Probability</th>
                    </tr>
                </thead>
                <tbody v-if="tbl.Elements.length">
                    <tr v-for="v in tbl.Elements" v-bind:key="v.Name">
                        <td v-if="v.MWAbilityId">
                            {{ getString(mwAbilityMap[v.MWAbilityId]?.Desc) ?? `MetalWareAbility.${v.MWAbilityId}` }}
                        </td>
                        <td v-else>
                            {{ v.Name }}{{ v.Type === 0 && v.Extra ? ` (#${v.Extra.toString(16).padStart(6, '0')})` : ''
                            }}
                        </td>
                        <td>
                            {{ v.Min != v.Max ? `${v.Min} ~ ${v.Max}` : v.Min }}
                        </td>
                        <td>
                            {{ ((v.Prob / tbl.TotalProb) * 100).toFixed(4) }}%
                        </td>
                    </tr>
                </tbody>
                <tbody v-else>
                    <tr>
                        <td colspan="3">Random table list can only be viewed in kr region.</td>
                    </tr>
                </tbody>
            </v-table>
        </v-window-item>
    </v-window>
</template>

<script lang="ts">
import { mdiClose, mdiMagnify, mdiHammerWrench, mdiFountainPen, mdiApps, mdiProgressWrench, mdiMonitor } from '@mdi/js';
import { defineComponent, ref, onMounted, inject, watch, computed } from "vue";
import { useRoute, useRouter } from 'vue-router';

import { resUrl } from '@/apicall';
import type { RandomTableInfo, MetalWareAbilityInfo } from '@/protos/resourcedata';

export default defineComponent({
    setup() {
        const route = useRoute();
        const router = useRouter();

        const isLoading = inject("isLoading");
        const region = inject('region');
        const db = inject("db");

        const randomTableList = ref<RandomTableInfo[]>([]);
        const mwAbilityList = ref<MetalWareAbilityInfo[]>([]);
        const mwAbilityMap = computed<Record<number, MetalWareAbilityInfo>>(() => {
            const m: Record<number, MetalWareAbilityInfo> = {};

            for (const v of mwAbilityList.value) {
                m[v.Id] = v;
            }

            return m;
        });


        const currentTab = ref(0);

        const changedTab = (idx: number) => {
            console.log(idx);
            if (!randomTableList.value[idx]) {
                router.push(`/randomtable`);
                return;
            }

            router.push(`/randomtable/${randomTableList.value[idx].Id}`);

            console.log(randomTableList.value[idx].Id, randomTableList.value[idx].TotalProb, randomTableList.value[idx].Elements.reduce((p, v) => p + v.Prob, 0));
        }

        const load = async () => {
            await db.value.tryOpen();

            const alist = await db.value.getSortedListData('MetalWareAbilityList');
            mwAbilityList.value = alist;

            const rlist = (await db.value.getSortedListData('RandomTableList')).filter(v => v.Id < 10000);
            randomTableList.value = rlist;

            console.log(randomTableList.value)

            const tableId = +route.params.id || 0;
            if (tableId) {
                const idx = rlist.findIndex(e => e.Id === tableId);
                if (idx < 0) {
                    alert(`random table ${tableId} not found`);

                    router.push('/randomtable');
                    return;
                }

                currentTab.value = idx;
            }
        }

        onMounted(load);
        watch(db, load);

        const getString = (key: string) => {
            return db.value.getCurLangString(key);
        }

        return {
            mdiClose,
            mdiMagnify,
            mdiHammerWrench,
            mdiFountainPen,
            mdiApps,
            mdiProgressWrench,
            mdiMonitor,

            isLoading,
            db,
            resUrl,
            region,
            randomTableList,
            mwAbilityMap,

            currentTab,
            changedTab,

            // list tab
            getString,
        };
    }
});

</script>