<template>
    <v-app-bar :loading="isLoading" density="default" order="1">
        <v-sheet width="100vw" class="d-flex pl-2 pr-2">
            <v-text-field v-model="filter" variant="outlined" label="item set option name..." density="compact"
                hide-details></v-text-field>
        </v-sheet>
    </v-app-bar>
    <v-virtual-scroll :items="filteredSetItemDescList" ref="vscroll" item-height="75"
        style="min-height: 300px; height: calc(100svh - var(--v-layout-top));">
        <template v-slot:default="{ item }">
            <v-card min-height="75" class="d-flex ma-1 pa-1">
                <v-sheet width="50" height="75" @click="showCharCondInfo(item.ThresholdConditionId)"
                    :style='`background: url("${resUrl}characterconditionimage/${region}/${item.ThresholdConditionId}/${item.ThresholdConditionId}.png") no-repeat; background-position: center;`' />
                <v-sheet style="width: fit-content;">
                    <p @click="showCharCondInfo(item.ThresholdConditionId)">{{ getString(item.Name) }} ({{ item.ThresholdCount }}:{{ item.Key }}) {{ item.Id }}</p>
                    <p>{{ getString(item.Desc).replaceAll('\\\\n', ' ') }}</p>
                </v-sheet>
                <v-spacer></v-spacer>
                <v-sheet class="d-flex">
                    <v-btn :prepend-icon="mdiMagnify" :disabled="!item.AppliedItemIds?.length" class="mr-4 align-self-center" color="success"
                        @click="showAppliedItemList(item)">List</v-btn>
                </v-sheet>
            </v-card>
        </template>
    </v-virtual-scroll>
    <v-dialog v-model="dialog" width="auto">
        <v-card>
            <v-card-text>
                <pre style="text-wrap: balance">{{ dialogJson }}</pre>
            </v-card-text>
            <v-card-actions>
                <v-btn color="primary" block @click="dialog = false">Close</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
    <v-dialog v-model="dialog2" width="auto" min-width="80vw" contained>
        <v-card>
            <v-card-text>
                <item-list :item-id-list="dialog2ItemIdList" is-dialog />
            </v-card-text>
            <v-card-actions>
                <v-btn color="primary" block @click="dialog2 = false">Close</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script lang="ts">
import { mdiMagnify } from '@mdi/js';
import { defineComponent, ref, onMounted, computed, inject, watch } from "vue";
import type { VVirtualScroll } from "vuetify/lib/components/index.mjs";

import { resUrl, apiClient } from '@/apicall';
import { filterList } from '@/util';
import type { SetItemDescElementInfo, CharCondInfo } from '@/protos/resourcedata';

import ItemListComponent from '@/components/itemList.vue';

interface SetItemDescElementInfoExtend extends SetItemDescElementInfo {
    ThresholdCondition: CharCondInfo;
    AppliedItemIds: number[];
}

export default defineComponent({
    components: {
        ItemList: ItemListComponent,
    },
    setup() {
        const isLoading = inject("isLoading");
        const region = inject('region');
        const db = inject("db");

        const vscroll = ref<VVirtualScroll>();

        const filter = ref('');

        const setItemDescList = ref<SetItemDescElementInfoExtend[]>([]);
        const filteredSetItemDescList = computed<SetItemDescElementInfoExtend[]>(() =>
            filterList(filter.value, setItemDescList.value, v => `${getString(v.Name)} ${getString(v.Desc)} ${v.Key} ${v.Id}`));
        const setItemDescMap = computed<Record<string, SetItemDescElementInfoExtend>>(() => {
            const map: Record<string, SetItemDescElementInfoExtend> = {};

            for (const v of setItemDescList.value) {
                map[v.Key.toLowerCase()] = v;
            }

            return map;
        });
        
        const charCondList = ref<CharCondInfo[]>([]);
        const charCondMap = computed<Record<number, CharCondInfo>>(() => {
            const map: Record<number, CharCondInfo> = {};

            for (const v of charCondList.value) {
                map[v.Id] = v;
            }

            return map;
        });

        const dialog = ref(false);
        const dialogJson = ref('');

        const showCharCondInfo = async (id: number) => {
            const d = await loadCharCondInfo(region.value, id);

            dialogJson.value = JSON.stringify(d, null, 4);
            dialog.value = true;
        }

        const showAppliedItemList = async (item: SetItemDescElementInfoExtend) => {
            dialog2ItemIdList.value = item.AppliedItemIds;
            dialog2.value = true;
        }

        const dialog2 = ref(false);
        const dialog2ItemIdList = ref<number[]>([]);

        const getString = (key: string): string => {
            return db.value.getCurLangString(key)
        }

        const load = async () => {
            await db.value.tryOpen();

            charCondList.value = await db.value.getSortedListData('CharCondList');
            const list = await db.value.getSortedListData('SetItemDescElementList');

            setItemDescList.value = list.map(v => ({
                ...v,
                ThresholdCondition: charCondMap.value[v.ThresholdConditionId],
                AppliedItemIds: [],
            }));

            const appliedItemList = await db.value.getSortedListData('ItemExtendSetItemDescList');

            for (const v of appliedItemList) {
                for (const elem of v.Elements) {
                    const setItemDesc = setItemDescMap.value[elem.Name.toLowerCase()];
                    if (!setItemDesc) {
                        continue;
                    }

                    setItemDesc.AppliedItemIds.push(v.Id);
                }
            }
        }

        onMounted(async () => {
            await load();
        });

        watch(db, async () => {
            await load();
        });

        return {
            mdiMagnify,

            isLoading,
            resUrl,
            region,
            vscroll,

            filter,
            filteredSetItemDescList,
            getString,
            showCharCondInfo,

            // character condition info dialog
            dialog,
            dialogJson,

            // item debug info dialog
            showAppliedItemList,
            dialog2,
            dialog2ItemIdList,

            setItemDescMap,
            charCondMap,
        };
    }
});

async function loadCharCondInfo(region: string, id: number): Promise<unknown> {
    const { response: res } = await apiClient.characterConditionJson({ Region: region, Id: id });

    const d = JSON.parse(res.Json);
    return d;
}

</script>