<template>
    <v-tabs v-model="currentTab" bg-color="primary" :items="skillCategoryList"
        @update:model-value="(v: any) => changedTab(v)">
        <v-tab v-for="category in skillCategoryList" :key="category[0]">
            {{ category[1] }}
        </v-tab>
    </v-tabs>

    <v-text-field v-model="filter" variant="outlined" label="Skill Name" density="compact" class="ma-2"
        hide-details></v-text-field>
    <v-virtual-scroll :items="filteredSkillList" ref="vscroll" item-height="110" height="80vh">
        <template v-slot:default="{ item }">
            <v-card min-height="100" class="d-flex ma-1">
                <v-sheet width="100" height="100" @click="showSkillInfo(item.Id)"
                    :style='`background: url("${resUrl}skillimage/${region}/${item.Id}/${item.Id}.png") no-repeat; background-position: center;`' />
                <v-sheet style="width: fit-content;">
                    <span>{{ getString(item.Name) }} {{ item.Id }}</span>
                    <br />
                    <span>{{ getString(item.Desc).replaceAll('\\n', ' ') }}</span>
                    <br /><br />

                    <span>Max Level: {{ SkillLevelStrMap[item.MaxLevel] || item.MaxLevel }}</span>
                    <br />
                    <span style="white-space: pre;">{{ getString(item.MaxLevelEffectDesc).replaceAll('\\n', '\n') }}</span>
                    <br />

                    <template v-if="Object.keys(item.VariableMap || {}).length > 0">
                        <br />
                        <template v-for="k in Object.keys(item.VariableMap).sort((a, b) => Number(a.substring(3)) - Number(b.substring(3)))"
                            v-bind:key="k">
                            <span>{{ k }}: {{ getString(item.VariableMap[k]) }}</span>
                            <br />
                        </template>
                    </template>
                </v-sheet>
            </v-card>
        </template>
    </v-virtual-scroll>
    <v-dialog v-model="dialog" width="auto">
        <v-card>
            <v-card-text>
                <pre style="text-wrap: balance">{{ dialogJson }}</pre>
            </v-card-text>
            <v-card-actions>
                <v-btn color="primary" block @click="dialog = false">Close</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script lang="ts">
import { defineComponent, ref, onMounted, computed, inject, watch } from "vue";
import { useRoute, useRouter } from 'vue-router';
import type { VVirtualScroll } from "vuetify/lib/components/index.mjs";

import { resUrl, apiClient } from '@/apicall';
import { SkillLevelStrMap } from '@/consts';
import type { SkillInfo } from '@/protos/resourcedata';

export default defineComponent({
    setup() {
        const route = useRoute();
        const router = useRouter();

        const isLoading = inject("isLoading");
        const region = inject('region');
        const db = inject("db");

        const vscroll = ref<VVirtualScroll>();

        const filter = ref('');
        const skillList = ref<SkillInfo[]>([]);

        const filteredSkillList = computed<SkillInfo[]>(() => {
            let filtered = skillList.value.slice();

            // 카테고리 필터
            const currentCategoryInfo = _skillCategoryList[currentTab.value];
            console.log(currentCategoryInfo);
            if (currentCategoryInfo && currentCategoryInfo[0] != 0) {
                filtered = filtered.filter(v => v.Category == currentCategoryInfo[0]);
            }

            // 이름 필터
            if (filter.value) {
                const filterStr = filter.value.trim();

                const removeSpaceFilter = filterStr.replaceAll(' ', '');
                const splitSpaceFilter = filterStr.split(' ');

                filtered = filtered.filter(v => {
                    const vStr = `${getString(v.Name)} ${v.Id}`;
                    const _splitSpaceFilter = splitSpaceFilter.slice();
                    const removeSpaceName = vStr.replaceAll(' ', '');
                    const splitSpaceName = vStr.split(' ');

                    const cond1 = removeSpaceName?.includes(removeSpaceFilter);
                    const cond2 = splitSpaceName.reduce((p, x) => {
                        for (let i = 0; i < _splitSpaceFilter.length; i++) {
                            if (x.includes(_splitSpaceFilter[i])) {
                                _splitSpaceFilter.splice(i, 1);
                                return p + 1;
                            }
                        }

                        return p;
                    }, 0) == splitSpaceFilter.length;

                    return cond1 || cond2;
                });
            }

            return filtered;
        });

        const skillCategoryList = ref(_skillCategoryList);
        const currentTab = ref(0);

        const changedTab = (idx: number) => {
            console.log(idx);
            if (!skillCategoryList.value[idx]) {
                router.push(`/skill`);
                return;
            }

            router.push(`/skill/${skillCategoryList.value[idx][0]}`);
        }

        const loadSkillList = async () => {
            const d = await db.value.getData('SkillList');

            d.forEach((v) => {
                if (!_skillCategoryList.find((x) => x[0] == v.Category)) {
                    v.Category = 10000;
                    console.log(`Unknown category: ${v.Category} ${v.Name}`)
                }
            });

            d.sort((a, b) => {
                return a.Id - b.Id;
            })

            return d;
        };

        const load = async () => {
            await db.value.tryOpen();

            const slist = await loadSkillList();
            skillList.value = slist;

            const category = +route.params.id || 0;
            if (category) {
                const idx = _skillCategoryList.findIndex(v => v[0] === category);
                if (idx < 0) {
                    alert(`skill category ${category} not found`);

                    router.push('/skill');
                    return;
                }

                currentTab.value = idx;
            }
        }

        onMounted(load);
        watch(db, load);

        const getString = (key: string) => {
            return db.value.getCurLangString(key);
        }


        const dialog = ref(false);
        const dialogJson = ref('');
        const showSkillInfo = async (skillId: number) => {
            const d = await loadSkillInfo(region.value, skillId);

            dialogJson.value = JSON.stringify(d, null, 4);
            dialog.value = true;
        }

        return {
            isLoading,
            resUrl,
            region,
            vscroll,
            SkillLevelStrMap,

            filter,
            filteredSkillList,
            getString,

            skillCategoryList,
            currentTab,
            changedTab,

            // dialog
            showSkillInfo,
            dialog,
            dialogJson,
        };
    }
});

async function loadSkillInfo(region: string, skillId: number): Promise<unknown> {
    const { response: res } = await apiClient.skillJson({ Region: region, Id: skillId });

    return JSON.parse(res.Json);
}

const _skillCategoryList: [number, string][] = [
    [0, 'All'],
    [1, 'Life'],
    [2, 'Combat'],
    [3, 'Magic'],
    [4, 'Alchemy'],
    [5, 'Fighter'],
    [6, 'Music'],
    [7, 'Puppetry'],
    [8, 'Dual Gun'],
    [9, 'Ninja'],
    [10, 'Chain'],
    [11, 'Astrologer'],
    [30, 'Hidden'],
    [50, 'Transform'],
    [51, 'Demigod'],
    [52, 'Crusader'],
    [53, 'Divinity'],
    [56, 'Fynn Bead'],
    [57, 'Arcana'],
    [97, 'Admin'],
    [10000, 'Uncategory'],
]

</script>