<template>
    <template v-for="item of talentList" v-bind:key="item.Id">
        <v-card min-height="125" class="d-flex flex-wrap ma-1 pa-2">
            <v-sheet style="width: 100%">
                <p>{{ getString(item.Name) }}</p>
                <p class="mt-1">{{ getString(item.Subject) }}</p>
                <p style="white-space: pre-line;">{{ getString(item.Desc).replaceAll('\\n', '\n') }}</p>
            </v-sheet>

            <v-sheet class="mt-4 d-flex flex-wrap">
                <span v-for="skillId in item.SkillIds" v-bind:key="skillId">
                    <v-tooltip activator="parent" location="bottom" :open-on-click="true">
                        <template v-slot:activator="{ props }">
                            <v-img width="42" height="42"
                                :src="`${resUrl}skillimage/${region}/${skillId}/${skillId}.png`" v-bind="props"
                                @click.stop="clickSkill(skillId)" />
                        </template>
                        <span>{{ getString(skillMap[skillId]?.Name) }}</span>
                    </v-tooltip>
                </span>
            </v-sheet>
        </v-card>
    </template>

    <v-dialog v-model="dialog" width="auto">
        <v-card>
            <v-card-text>
                <pre style="text-wrap: balance">{{ dialogJson }}</pre>
            </v-card-text>
            <v-card-actions>
                <v-btn color="primary" block @click="dialog = false">Close</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script lang="ts">
import { mdiClose } from '@mdi/js';
import { defineComponent, ref, onMounted, inject, watch, computed } from "vue";

import { resUrl, apiClient } from '@/apicall';
import type { TalentInfo, SkillInfo } from '@/protos/resourcedata';

export default defineComponent({
    setup() {
        const isLoading = inject("isLoading");
        const region = inject('region');
        const db = inject("db");

        const talentList = ref<TalentInfo[]>([]);
        const skillList = ref<SkillInfo[]>([]);
        const skillMap = computed<Record<number, SkillInfo>>(() => {
            const r: Record<number, SkillInfo> = {};

            for (const v of skillList.value) {
                r[v.Id] = v;
            }

            return r;
        });

        const load = async () => {
            await db.value.tryOpen();

            const slist = await db.value.getSortedListData('SkillList');
            skillList.value = slist;

            const tlist = await db.value.getSortedListData('TalentList');
            talentList.value = tlist;
        }

        onMounted(load);
        watch(db, load);

        const getString = (key: string) => {
            return db.value.getCurLangString(key);
        }


        const lastClickSkillId = ref(0);
        const clickSkill = (id: number) => {
            if (lastClickSkillId.value === id) {
                showSkillInfo(id);
                lastClickSkillId.value = 0;
                return;
            }

            lastClickSkillId.value = id;
        }

        const dialog = ref(false);
        const dialogJson = ref('');
        const showSkillInfo = async (skillId: number) => {
            const d = await loadSkillInfo(region.value, skillId);

            dialogJson.value = JSON.stringify(d, null, 4);
            dialog.value = true;
        }

        return {
            mdiClose,

            isLoading,
            db,
            resUrl,
            region,
            talentList,
            skillMap,
            getString,

            // dialog
            clickSkill,
            dialog,
            dialogJson,
        };
    }
});

async function loadSkillInfo(region: string, skillId: number): Promise<unknown> {
    const { response: res } = await apiClient.skillJson({ Region: region, Id: skillId });

    return JSON.parse(res.Json);
}

</script>