<template>
    <v-app-bar :loading="isLoading" density="default" order="1">
        <v-sheet width="100vw" class="d-flex pl-2 pr-2">
            <v-text-field v-model="filterText" :isLoading="isLoading" variant="outlined" label="Title Name or Effect"
                density="compact" hide-details></v-text-field>
            <v-select v-model="filterType" :isLoading="isLoading" variant="outlined" label="Title Type" :items="typeMap"
                item-title="title" item-value="value" multiple density="compact" class="mr-2" hide-details>
            </v-select>
        </v-sheet>
    </v-app-bar>
    <v-virtual-scroll :items="filteredTitleList" ref="vscroll" item-height="75"
        style="min-height: 300px; height: calc(100vh - var(--v-layout-top));">
        <template v-slot:default="{ item }">
            <v-card min-height="75" class="d-flex ma-1">
                <v-sheet width="50" height="75" @click="showTitleInfo(item.Id)"
                    :style='`background: url("${resUrl}titleimage/${region}/${item.Id}/${item.Id}.png") no-repeat; background-position: center;`' />
                <v-sheet style="width: fit-content;">
                    <p @click="showTitleInfo(item.Id)">{{ item.Type == 1 ? `${item.Id}:` : '' }} {{ item.Name }} /
                        {{ typeMap.find(v => v.value == item.Type)?.title }}</p>
                    <br />
                    <template v-for="effectElem in getString(item.Effect).split('\\n')" v-bind:key="effectElem">
                        <p :class="effectElem[0] === '[' ? 'text-error' : 'text-primary'">{{ effectElem }}</p>
                    </template>
                </v-sheet>
            </v-card>
        </template>
    </v-virtual-scroll>
    <v-dialog v-model="dialog" width="auto">
        <v-card>
            <v-card-text>
                <pre style="text-wrap: balance">{{ dialogJson }}</pre>
            </v-card-text>
            <v-card-actions>
                <v-btn color="primary" block @click="dialog = false">Close</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script lang="ts">
import { defineComponent, ref, onMounted, computed, inject, watch } from "vue";
import type { VVirtualScroll } from "vuetify/lib/components/index.mjs";

import { resUrl, apiClient } from '@/apicall';
import type { TitleInfo } from '@/protos/resourcedata';

export default defineComponent({
    setup() {
        const isLoading = inject("isLoading");
        const region = inject('region');
        const db = inject("db");

        const vscroll = ref<VVirtualScroll>();

        const filterText = ref('');
        const filterType = ref<number[]>([1, 3, 7]);

        const titleList = ref<TitleInfo[]>([]);

        const filteredTitleList = computed<TitleInfo[]>(() => {
            const filterStr = filterText.value.trim();
            const filtered: TitleInfo[] = [];

            const removeSpaceFilter = filterStr.replaceAll(' ', '');
            const splitSpaceFilter = filterStr.split(' ');
            for (const v of titleList.value) {
                if (!filterType.value.includes(v.Type)) {
                    continue;
                }

                const str = `${v.Name} ${getString(v.Effect)}`;
                if (!str) {
                    // ?
                    continue;
                }

                const _splitSpaceFilter = splitSpaceFilter.slice();
                const removeSpaceItemName = str.replaceAll(' ', '');
                const splitSpaceItemName = str.split(' ');

                const cond1 = removeSpaceItemName?.includes(removeSpaceFilter);
                const cond2 = splitSpaceItemName.reduce((p, x) => {
                    for (let i = 0; i < _splitSpaceFilter.length; i++) {
                        if (x.includes(_splitSpaceFilter[i])) {
                            _splitSpaceFilter.splice(i, 1);
                            return p + 1;
                        }
                    }

                    return p;
                }, 0) == splitSpaceFilter.length;

                if (cond1 || cond2) {
                    filtered.push(v);
                }
            }


            return filtered;
        });

        const dialog = ref(false);
        const dialogJson = ref('');

        const showTitleInfo = async (id: number) => {
            const d = await loadTitleInfo(region.value, id);

            dialogJson.value = JSON.stringify(d, null, 4);
            dialog.value = true;
        }

        const loadTitleList = async () => {
            let d = await db.value.getData('TitleList');

            d.sort((a, b) => {
                if (a.Type == b.Type) {
                    return a.Id - b.Id
                }

                return a.Type - b.Type
            });

            d = d.filter(v => getString(v.Name) != 'none');

            return d.map(v => {

                const Name = getString(v.Name);
                const MaleName = getString(v.MaleName);
                const FemaleName = getString(v.FemaleName);
                const UniName = getString(v.UniName);

                let resName = Name;

                if (v.MaleName != "") {
                    if (MaleName != Name) {
                        resName = resName += ` / ${MaleName}`;
                    }
                }

                if (v.FemaleName != "") {
                    if (FemaleName != Name && FemaleName != MaleName) {
                        resName = resName += ` / ${FemaleName}`;
                    }
                }

                if (v.UniName != "") {
                    if (UniName != Name && UniName != MaleName && UniName != FemaleName) {
                        resName = resName += ` / ${UniName}`;
                    }
                }

                return {
                    ...v,
                    Name: resName,
                }
            });

            // return d;
        };

        const getString = (key: string): string => {
            return db.value.getCurLangString(key)
        }

        const load = async () => {
            await db.value.tryOpen();

            const tlist = await loadTitleList();
            titleList.value = tlist;
        }

        onMounted(async () => {
            await load();
        });

        watch(db, async () => {
            await load();
        });

        return {
            isLoading,
            resUrl,
            region,
            vscroll,

            filterText,
            filterType,
            filteredTitleList,
            getString,
            typeMap: [
                { title: '일반', value: 1 },
                { title: '알바', value: 2 },
                { title: '일반2', value: 3 },
                { title: '변신', value: 4 },
                { title: '펫', value: 5 },
                { title: '페이크', value: 6 },
                { title: '2차', value: 7 },
            ],
            showTitleInfo,

            // dialog
            dialog,
            dialogJson,
        };
    }
});

async function loadTitleInfo(region: string, id: number): Promise<unknown> {
    const { response: res } = await apiClient.titleJson({ Region: region, Id: id });

    const d = JSON.parse(res.Json);
    return d;
}

</script>