<template>
    <v-app-bar :loading="isLoading" density="default" order="1">
        <v-sheet width="100vw" class="d-flex pl-2 pr-2">
            <v-text-field v-model="filterName" variant="outlined" label="Totem Name" density="compact"
                hide-details></v-text-field>
            <v-select v-model="filterTotemType" variant="outlined" label="Totem Type" :items="totemTypeList"
                item-title="title" item-value="value" multiple density="compact" class="ml-2" hide-details />
        </v-sheet>
    </v-app-bar>

    <v-virtual-scroll :items="filteredTotemList" ref="vscroll" item-height="110"
        style="min-height: 300px; height: calc(100vh - var(--v-layout-top)) ">
        <template v-slot:default="{ item }">
            <v-card min-height="100" class="d-flex ma-1 pa-1">
                <v-sheet width="100" min-height="100" @click="showItemInfo(item.Id)"
                    :style='`background: url("${resUrl}invimage/${region}/${item.Id}/${item.Id}.png") no-repeat; background-position: center;`' />
                <v-sheet class="mr-3">
                    <p>{{ getString(itemInfoMap[item.Id]?.Name) }} {{ item.Id }}</p>
                    <p>type: {{ item.TotemType }}, 
                        isExtra: <v-icon :icon="item.isExtra ? mdiCheck : mdiClose" :color="item.isExtra ? 'primary' : 'error'" />,
                        isPet: <v-icon :icon="item.isPet ? mdiCheck : mdiClose" :color="item.isPet ? 'primary' : 'error'" />
                    </p>
                    <p>auction house search:
                        <span v-if="itemInfoMap[item.Id]?.IsAuctionSearchable"><v-icon :icon="mdiCheck" color="primary" />possible</span>
                        <span v-else><v-icon :icon="mdiClose" color="error" />impossible</span>
                    </p>
                    <br />
                    <p v-for="bonus in item.Bonuses" v-bind:key="bonus.StatName">
                        {{ bonus.StatName }}: {{ bonus.Min }} {{ bonus.Min != bonus.Max ? `~ ${bonus.Max}` : '' }}
                    </p>
                </v-sheet>

            </v-card>
        </template>
    </v-virtual-scroll>
    <v-dialog v-model="dialog" width="auto">
        <v-card>
            <v-card-text>
                <pre style="text-wrap: balance">{{ dialogJson }}</pre>
            </v-card-text>
            <v-card-actions>
                <v-btn color="primary" block @click="dialog = false">Close</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script lang="ts">
import { mdiCheck, mdiClose } from '@mdi/js';
import { defineComponent, ref, onMounted, computed, inject, watch } from "vue";
import type { VVirtualScroll } from "vuetify/lib/components/index.mjs";

import { resUrl, apiClient } from '@/apicall';
import { filterList } from '@/util';
import type { ItemInfo, ItemExtendTotemInfo } from '@/protos/resourcedata';

export default defineComponent({
    setup() {
        const isLoading = inject("isLoading");
        const region = inject("region");
        const db = inject("db");

        const vscroll = ref<VVirtualScroll>();

        const filterName = ref('');
        const filterTotemType = ref<string[]>([]);

        const totemList = ref<ItemExtendTotemInfo[]>([]);
        const totemTypeList = ref<string[]>([]);
        const itemInfoList = ref<ItemInfo[]>([]);
        const itemInfoMap = computed<Record<number, ItemInfo>>(() => {
            const m: Record<number, ItemInfo> = {};

            for (const v of itemInfoList.value) {
                m[v.Id] = v;
            }

            return m;
        });

        const filteredTotemList = computed<ItemExtendTotemInfo[]>(() => {
            let l = totemList.value;
            if (filterTotemType.value.length > 0) {
                l = l.filter(v => filterTotemType.value.includes(v.TotemType));
            }

            return filterList(filterName.value, l, v => `${getString(itemInfoMap.value[v.Id]?.Name)} ${v.Id}`);
        });

        const load = async () => {
            await db.value.tryOpen();

            itemInfoList.value = await db.value.getSortedListData('ItemList');
            {
                const tlist = await db.value.getSortedListData('ItemExtendTotemList');
                const typeSet = new Set<string>();

                for (const v of tlist) {
                    let totemType = v.TotemType;
                    if (totemType.startsWith('/')) {
                        totemType = totemType.slice(1);
                    }
                    if (totemType.endsWith('/')) {
                        totemType = totemType.slice(0, -1);
                    }
                    if (totemType.startsWith('totem_')) {
                        totemType = totemType.slice(6);
                    }

                    v.TotemType = totemType;
                    typeSet.add(totemType);
                }

                totemTypeList.value = [...typeSet].sort();
                totemList.value = tlist;
            }
        }

        const getString = (key: string): string => {
            return db.value.getCurLangString(key)
        }

        onMounted(async () => {
            await load();
        });

        watch(db, async () => {
            await load();
        });

        const dialog = ref(false);
        const dialogJson = ref('');
        const showItemInfo = async (itemId: number) => {
            const d = await loadItemInfo(region.value, itemId);

            dialogJson.value = JSON.stringify(d, null, 4);
            dialog.value = true;
        }

        return {
            isLoading,
            mdiCheck,
            mdiClose,

            resUrl,
            region,
            vscroll,

            filterName,
            filterTotemType,

            itemInfoMap,
            totemTypeList,
            filteredTotemList,
            getString,

            // dialog
            showItemInfo,
            dialog,
            dialogJson,
        };
    }
});

async function loadItemInfo(region: string, itemId: number): Promise<unknown> {
    const { response: res } = await apiClient.itemJson({ Region: region, Id: itemId });

    return JSON.parse(res.Json);
}

</script>