<template>
    <v-sheet class="d-flex" width="100vw" style="height: calc(100svh - var(--v-layout-top));">
        <v-sheet width="100vw">
            <char-view :get-gltf="getGltf" ref="charView"
                style="width: 100vw; height: calc(100svh - var(--v-layout-top));">
                <template v-slot:prepend>
                    <v-btn @click="showForm = true" :icon="mdiMagnify" variant="text" />
                </template>
            </char-view>
        </v-sheet>

        <v-navigation-drawer v-model="showForm" temporary scrim="rgba(0, 0, 0, 0)" order="1" width="400">
            <v-sheet width="400px" class="pa-2">
                <v-sheet class="d-flex">
                    <v-select label="Server" v-model="serverCode" :items="serverList" item-title="name"
                        item-value="code" variant="outlined" density="compact" class="mr-1" max-width="100px" />
                    <v-text-field v-model.trim="name" :rules="rules" variant="outlined" label="캐릭터 이름" density="compact"
                        class="mr-1" @keyup.enter="search"></v-text-field>
                    <v-btn :prepend-icon="mdiMagnify" color="success" @click="search" class="mr-1">검색</v-btn>
                    <v-btn v-if="userInfo" :prepend-icon="mdiPencil" color="primary" @click="goCharacterSimulator"
                        class="mr-1">편집</v-btn>
                    <v-btn v-if="!userInfo" size="x-small" :icon="mdiInformationOutline" @click="openHelpPage"
                        variant="text"></v-btn>
                </v-sheet>
                <div v-if="showUserInfoDiv && userInfo">
                    <img :src="userInfo.UserSnapshotUrl" />

                    <p><v-icon :icon="mdiCircleMedium" />{{ userInfo.Name }} ({{ userInfo.Race?.Name }})</p>
                    <p><v-icon :icon="mdiCircleMedium" />마지막 갱신: {{ userInfo.UpdateAt }}
                    </p>
                    <p v-if="userInfo.GuildName"><v-icon :icon="mdiCircleMedium" />길드: {{ userInfo.GuildName }}</p>
                    <br />
                    <p v-if="userInfo.Face"><v-icon :icon="mdiCircleMedium" />얼굴형: {{ userInfo.Face.Name }} (<span
                            :style="`color: ${userInfo.SkinColor?.Color};`">■</span> {{ userInfo.SkinColor?.Name }})</p>
                    <p v-if="userInfo.Hair"><v-icon :icon="mdiCircleMedium" />머리: {{ userInfo.Hair.Name }} (<span
                            :style="`color: ${userInfo.HairColor?.Color};`">■</span> {{ userInfo.HairColor?.Name }})</p>
                    <p><v-icon :icon="mdiCircleMedium" />눈: {{ userInfo.EyeType?.Name }}</p>
                    <p><v-icon :icon="mdiCircleMedium" />눈색: L: <span
                            :style="`color: ${userInfo.LeftEyeColor?.Color};`">■</span> {{ userInfo.LeftEyeColor?.Name
                        }},
                        R:
                        <span :style="`color: ${userInfo.RightEyeColor?.Color};`">■</span> {{
                            userInfo.RightEyeColor?.Name
                        }}
                    </p>
                    <p><v-icon :icon="mdiCircleMedium" />입: {{ userInfo.MouthType?.Name }}</p>
                    <p><v-icon :icon="mdiCircleMedium" />{{ userInfo.Height }}, 비만도: {{ userInfo.Weight.toFixed(2) }},
                        상체:
                        {{ userInfo.Upper.toFixed(2) }}, 하체: {{ userInfo.Lower.toFixed(2) }}</p>

                    <p v-if="userInfo.Armor"><v-icon :icon="mdiCircleMedium" />옷: {{ userInfo.Armor.Name }}
                        <colors v-model="userInfo.Armor.Colors" />
                    </p>
                    <p v-if="userInfo.CustomMotionItem"><v-icon :icon="mdiCircleMedium" />커스텀 모션: {{
                        userInfo.CustomMotionItem.Name }}
                    </p>
                    <p v-if="userInfo.Head"><v-icon :icon="mdiCircleMedium" />모자: {{ userInfo.Head.Name }}
                        <colors v-model="userInfo.Head.Colors" />
                    </p>
                    <p v-if="userInfo.Glove"><v-icon :icon="mdiCircleMedium" />장갑: {{ userInfo.Glove.Name }}
                        <colors v-model="userInfo.Glove.Colors" />
                    </p>
                    <p v-if="userInfo.Shoes"><v-icon :icon="mdiCircleMedium" />신발: {{ userInfo.Shoes.Name }}
                        <colors v-model="userInfo.Shoes.Colors" />
                    </p>
                    <p v-if="userInfo.Robe"><v-icon :icon="mdiCircleMedium" />로브: {{ userInfo.Robe.Name }}
                        <colors v-model="userInfo.Robe.Colors" />
                    </p>
                    <p v-if="userInfo.Puppet"><v-icon :icon="mdiCircleMedium" />퍼핏: {{ userInfo.Puppet.Name }}
                        <colors v-model="userInfo.Puppet.Colors" />
                    </p>
                    <p v-if="userInfo.Halo"><v-icon :icon="mdiCircleMedium" />헤일로: {{ userInfo.Halo.Name }}
                        <colors v-model="userInfo.Halo.Colors" />
                    </p>
                    <p v-if="userInfo.FaceDeco"><v-icon :icon="mdiCircleMedium" />얼굴 장식: {{ userInfo.FaceDeco.Name }}
                        <colors v-model="userInfo.FaceDeco.Colors" />
                    </p>
                    <p v-if="userInfo.Tail"><v-icon :icon="mdiCircleMedium" />꼬리: {{ userInfo.Tail.Name }}
                        <colors v-model="userInfo.Tail.Colors" />
                    </p>
                </div>
            </v-sheet>
        </v-navigation-drawer>
    </v-sheet>
</template>

<script lang="ts">
import { mdiMagnify, mdiPencil, mdiInformationOutline, mdiCircleMedium } from '@mdi/js';
import { defineComponent, ref, onMounted, computed, nextTick, inject, watch } from "vue";
import { useRoute, useRouter } from 'vue-router';

import { apiClient, UserInfoRes, CharMeshStyle, WeaponAniType } from "@/apicall";
import { getHeightByAge } from "@/mabiutil";

import Colors from "@/components/colors.vue";
import CharView from "@/components/characterViewer.vue";

export default defineComponent({
    components: {
        colors: Colors,
        charView: CharView,
    },
    setup() {
        const route = useRoute();
        const router = useRouter();
        const region = inject("region");

        const name = ref((route.params.name as string) || "");
        const serverCode = ref(serverList[0].code);
        const userInfo = ref<UserInfoRes | undefined>(undefined);

        const charView = ref<InstanceType<typeof CharView>>();
        const charViewData = computed<CharMeshStyle | undefined>(() => {
            const d = userInfo.value;
            if (!d) {
                return undefined;
            }

            const v: CharMeshStyle = {
                Race: d.Race?.Id ?? 10001,
                SkinColor: d?.SkinColor?.Id ?? 16,
                HairColor: d?.HairColor?.Id ?? 28,
                EyeType: d?.EyeType?.Id ?? 24,
                LeftEyeColor: d?.LeftEyeColor?.Id ?? 3,
                RightEyeColor: d?.RightEyeColor?.Id ?? 3,
                MouthType: d?.MouthType?.Id ?? 1,
                Height: heightMap[d.Height] ?? 1,
                Weight: d.Weight,
                Upper: d.Upper,
                Lower: d.Lower,
                CustomMotionItem: { Id: d.CustomMotionItem ? d.CustomMotionItem.Id : 0, Colors: [] },
                WeaponAniType: WeaponAniType.None,

                Face: d.Face?.Id ?? 3900,
                Hair: d.Hair?.Id ?? 3022,
                Armor: d.Armor,
                Head: d.Head,
                Glove: d.Glove,
                Shoes: d.Shoes,
                Robe: d.Robe,
                Puppet: d.Puppet,
                Halo: d.Halo,
                FaceDeco: d.FaceDeco,
                Tail: d.Tail,
            };
            return v;
        })

        const loadCharInfo = async () => {
            try {
                const { response: v } = await apiClient.userInfo({ Region: region.value, Name: name.value, ServerCode: serverCode.value });
                console.log(v);

                userInfo.value = v;
            }
            catch (e) {
                alert(`서버에서 데이터를 가져오던 중 오류가 발생했습니다.\n${e}`);
            }
        };

        const loadCharMesh = () => {
            nextTick(() => {
                charView.value?.update();
            });
        };

        const getGltf = computed<(() => Promise<string>) | undefined>(() =>
            charViewData.value ? (): Promise<string> =>
                apiClient.charMesh({ Region: region.value, Style: charViewData.value }).then(v => v.response.Json) : undefined
        );

        const search = async () => {
            if (!name.value) {
                return;
            }

            if (name.value.startsWith("https://")) {
                await registerUser(name.value);
            }

            router.push(`/userinfo/${name.value}@${serverCode.value}`);
            await loadCharInfo();
            loadCharMesh();
        };

        const registerUser = async (url: string) => {
            try {
                const { response: { Name, ServerCode } } = await apiClient.registerUser({ Url: url });

                name.value = Name;
                serverCode.value = ServerCode;
            }
            catch (e) {
                alert(`서버에서 데이터를 가져오던 중 오류가 발생했습니다.\n${e}`);
            }
        }

        const goCharacterSimulator = () => {
            localStorage.setItem('charSimulData', JSON.stringify(charViewData.value));
            router.push(`/charsimul`);
        };

        const load = async () => {
            if (name.value) {
                [name.value, serverCode.value] = name.value.split('@');
                serverCode.value ||= serverList[0].code;

                await loadCharInfo();
                loadCharMesh();
            }
        }

        onMounted(load);
        watch(region, load);

        const openHelpPage = () => {
            window.open(`https://gitlab.com/prilus/prilus.gitlab.io/-/wikis/%EC%BA%90%EB%A6%AD%ED%84%B0%20%EC%9D%B4%EB%A6%84%20%EB%93%B1%EB%A1%9D`, '_blank');
        };

        return {
            mdiMagnify,
            mdiPencil,
            mdiInformationOutline,
            mdiCircleMedium,

            showForm: ref(true),
            serverList,
            name,
            serverCode,
            rules: [
                (v: string) => {
                    if (v.trim()) {
                        return true;
                    }

                    return "캐릭터 명을 입력하세요.";
                }
            ],
            showUserInfoDiv: ref(true),

            userInfo,
            search,
            goCharacterSimulator,
            openHelpPage,

            // charView
            charView,
            getGltf,
        };
    }
});

const heightMap: Record<string, number> = {
    "임프 포션": -0.5,
    "9살": getHeightByAge(9),
    "10살": getHeightByAge(10),
    "11살": getHeightByAge(11),
    "12살": getHeightByAge(12),
    "13살": getHeightByAge(13),
    "14살": getHeightByAge(14),
    "15살": getHeightByAge(15),
    "16살": getHeightByAge(16),
    "17살": getHeightByAge(17),
    "18살": getHeightByAge(18),
    "19살": getHeightByAge(19),
}

interface ServerSlot {
    name: string,
    code: string,
}

const serverList: ServerSlot[] = [
    { name: "류트", code: "mabikr1" },
    { name: "만돌린", code: "mabikr2" },
    { name: "하프", code: "mabikr3" },
    { name: "울프", code: "mabikr5" },
    { name: "테스트", code: "mabikrtest" },
]

</script>