<template>
    <v-app-bar :loading="isLoading" density="default" order="1">
        <v-sheet width="100vw" class="d-flex pl-2 pr-2">
            <v-text-field v-model="filterName" variant="outlined" label="Item Name" density="compact"
                hide-details></v-text-field>
            <v-select v-model="filterTotemType" variant="outlined" label="Weapon Skin Type" :items="weaponSkinTypeList"
                item-title="title" item-value="value" multiple density="compact" class="ml-2" hide-details />
        </v-sheet>
    </v-app-bar>

    <v-virtual-scroll :items="filteredWeaponSkinList" ref="vscroll" item-height="130"
        style="min-height: 300px; height: calc(100svh - var(--v-layout-top)) ">
        <template v-slot:default="{ item }">
            <v-card min-height="100" class="d-flex ma-1 pa-1">
                <item-img :width="100" :height="120" :item="itemInfoMap[item.Id]" />

                <v-sheet class="mr-3">
                    <p>{{ getString(itemInfoMap[item.Id]?.Name) }} {{ item.Id }}</p>
                    <p>{{ item.WeaponType }}</p>
                    <p v-if="item.ScrollId">
                        scroll: <v-icon :icon="mdiCheck" color="primary" /> {{
                            getString(itemInfoMap[item.ScrollId]?.Name) }} {{ item.ScrollId }}
                        <v-btn size="x-small" :icon="mdiMagnify" :to="`/item/${item.ScrollId}`"
                        variant="text"></v-btn>
                    </p>
                    <p v-else>
                        scroll: <v-icon :icon="mdiClose" color="error" />
                    </p>
                    <p v-if="itemInfoMap[item.ScrollId]?.IsAuctionSearchable">
                        scroll auction lowest price: {{ getAuctionItemLowestPrice(item.ScrollId) }}
                    </p>
                </v-sheet>
                <v-spacer></v-spacer>
                <v-sheet class="align-self-center">
                    <v-btn v-if="itemInfoMap[item.Id]?.HaveMesh" :prepend-icon="mdiMagnify" color="success" @click="dialog2ItemId = item.Id; dialog2 = true;"
                        class="mt-2">Preview</v-btn>
                </v-sheet>

            </v-card>
        </template>
    </v-virtual-scroll>
    <v-dialog v-model="dialog2" fullscreen>
        <v-card>
            <v-card-text>
                <char-view :get-gltf="dialog2GetGltf"
                    style="width: calc(100vw - 48px); height: -webkit-fill-available; max-height: 80vh;" />
            </v-card-text>
            <v-card-actions>
                <v-btn color="primary" block @click="dialog2 = false">Close</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script lang="ts">
import { mdiCheck, mdiClose, mdiMagnify } from '@mdi/js';
import { defineComponent, ref, onMounted, computed, inject, watch, nextTick } from "vue";
import type { VVirtualScroll } from "vuetify/lib/components/index.mjs";

import { resUrl, apiClient } from '@/apicall';
import { filterList } from '@/util';
import { mabiHumanReadablePrice } from '@/mabiutil';
import type { ItemInfo, ItemExtendWeaponSkinInfo } from '@/protos/resourcedata';

import CharViewComponent from '@/components/characterViewer.vue'
import ItemImgCompoenent from '@/components/itemImg.vue';

export default defineComponent({
    components: {
        CharView: CharViewComponent,
        ItemImg: ItemImgCompoenent,
    },
    setup() {
        const isLoading = inject("isLoading");
        const region = inject("region");
        const db = inject("db");

        const vscroll = ref<VVirtualScroll>();

        const filterName = ref('');
        const filterTotemType = ref<string[]>([]);

        const weaponSkinList = ref<ItemExtendWeaponSkinInfo[]>([]);
        const weaponSkinTypeList = ref<string[]>([]);
        const itemInfoList = ref<ItemInfo[]>([]);
        const itemInfoMap = computed<Record<number, ItemInfo>>(() => {
            const m: Record<number, ItemInfo> = {};

            for (const v of itemInfoList.value) {
                m[v.Id] = v;
            }

            return m;
        });

        const filteredWeaponSkinList = computed<ItemExtendWeaponSkinInfo[]>(() => {
            let l = weaponSkinList.value;
            if (filterTotemType.value.length > 0) {
                l = l.filter(v => filterTotemType.value.includes(v.WeaponType));
            }

            return filterList(filterName.value, l, v => `${getString(itemInfoMap.value[v.Id]?.Name)} ${v.Id}`);
        });

        const load = async () => {
            await db.value.tryOpen();

            itemInfoList.value = await db.value.getSortedListData('ItemList');
            {
                const tlist = await db.value.getSortedListData('ItemExtendWeaponSkinList');
                const typeSet = new Set<string>();

                for (const v of tlist) {
                    typeSet.add(v.WeaponType);
                }

                weaponSkinTypeList.value = [...typeSet].sort();
                weaponSkinList.value = tlist;
            }
        }

        const getString = (key: string): string => {
            return db.value.getCurLangString(key)
        }

        const getAuctionItemLowestPrice = (itemId: number) => {
            const price = db.value.getAuctionItemLowestPrice(itemId) || 0;
            return mabiHumanReadablePrice(price) || 'no data';
        }

        onMounted(async () => {
            await load();
        });

        watch(db, async () => {
            await load();
        });

        watch(filteredWeaponSkinList, () => {
            nextTick(() => {
                vscroll.value?.scrollToIndex(0);
            });
        });

        const dialog2 = ref(false);
        const dialog2ItemId = ref(0);
        const dialog2GetGltf = computed<() => Promise<string>>(() =>
            () => apiClient.itemMesh({ Region: region.value, Id: dialog2ItemId.value }).then(v => v.response.Json));


        return {
            isLoading,
            mdiCheck,
            mdiClose,
            mdiMagnify,

            resUrl,
            region,
            vscroll,

            filterName,
            filterTotemType,

            itemInfoMap,
            weaponSkinTypeList,
            filteredWeaponSkinList,
            getString,
            getAuctionItemLowestPrice,

            // dialog2
            dialog2,
            dialog2ItemId,
            dialog2GetGltf,
        };
    }
});

</script>