<template>
    <v-layout>
        <v-app-bar color="primary" :loading="isLoading" density="default" over>
            <v-app-bar-nav-icon variant="text" @click.stop="showNavi = !showNavi" />
            <v-toolbar-title>Prilus Mabi Tool</v-toolbar-title>

            <v-select label="Region" v-model="region" :items="regionList" variant="outlined" density="compact"
                class="mr-1" max-width="100px" solo hide-details />
            <v-select label="Lang" v-model="lang" :items="regionList" variant="outlined" density="compact" class="mr-1"
                max-width="100px" solo hide-details />

            <v-btn :icon="isDarkMode ? mdiBrightness7 : mdiBrightness2" @click="toggleDarkMode" />
        </v-app-bar>

        <v-main>
            <router-view />
        </v-main>

        <!-- <v-footer :app="true" class="justify-center">
            <a href="mailto:admin@pril.cc" target="_blank">admin@pril.cc</a>
        </v-footer> -->

        <v-navigation-drawer v-model="showNavi" temporary @update:model-value="scrollToTop" :loading="isLoading">
            <v-list density="compact" nav>
                <v-list-item title="Home" :to="{ name: 'home' }" />
                <v-list-item title="Achievements" :to="{ name: 'achievementsByCategoryId' }" />
                <v-list-item title="Arcanas" :to="{ name: 'multiClass' }" />
                <v-list-item title="Auction House" :to="{ name: 'auctionHouseByQuery' }" />
                <v-list-item title="Barters" :to="{ name: 'barters' }" />
                <v-list-item title="Character Conditions" :to="{ name: 'charconds' }" />
                <v-list-item title="Character Simulator" :to="{ name: 'characterSimulator' }" />
                <v-list-item title="ColorTables" :to="{ name: 'colorTableById' }" />
                <v-list-item title="EchoStones" :to="{ name: 'echostones' }" />
                <v-list-item title="Enchants" :to="{ name: 'optionSets' }" />
                <v-list-item title="Foods" :to="{ name: 'foods' }" />
                <v-list-item title="Items" :to="{ name: 'itemById' }" />
                <v-list-item title="Item Set Options" :to="{ name: 'setItems' }" />
                <v-list-item title="Item Upgrades" :to="{ name: 'itemUpgradeById' }" />
                <v-list-item title="Mileage Shop" :to="{ name: 'mileageShop' }" />
                <v-list-item title="Miniatures" :to="{ name: 'miniatures' }" />
                <v-list-item title="Pets" :to="{ name: 'pets' }" />
                <v-list-item title="Probability Tables" :to="{ name: 'randomTableById' }" />
                <v-list-item title="Productions" :to="{ name: 'productionList' }" />
                <v-list-item title="Races" :to="{ name: 'races' }" />
                <v-list-item title="Reforge" :to="{ name: 'metalwareById' }" />
                <v-list-item title="Skills" :to="{ name: 'skillsByCategory' }" />
                <v-list-item title="Talents" :to="{ name: 'talents' }" />
                <v-list-item title="Titles" :to="{ name: 'titles' }" />
                <v-list-item title="Totems" :to="{ name: 'totems' }" />
                <v-list-item title="User Info" :to="{ name: 'userinfoByName' }" />
                <v-list-item title="Weapon Skins" to="/weaponskin" />
            </v-list>
        </v-navigation-drawer>
    </v-layout>

    <v-overlay :model-value="isLoading" class="align-center justify-center">
        <v-progress-circular color="primary" indeterminate size="64"></v-progress-circular>
    </v-overlay>

    <v-tooltip v-model="globalTooltip.show" :activator="globalTooltip.parent" location="bottom" :open-on-click="false"
        :open-on-hover="false">
        <p style="white-space-collapse: preserve;">{{ globalTooltip.text }}</p>
    </v-tooltip>

    <v-dialog v-model="globalJsonDialog.show" width="auto">
        <v-card>
            <v-card-text>
                <pre style="text-wrap: balance">{{ globalJsonDialog.json }}</pre>
            </v-card-text>
            <v-card-actions>
                <v-btn color="primary" block @click="globalJsonDialog.show = false">Close</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script lang="ts">
import { mdiBrightness2, mdiBrightness7 } from '@mdi/js';
import { defineComponent, ref, inject, onMounted, watch, computed } from "vue";
import { useTheme } from 'vuetify';

export default defineComponent({
    name: "App",
    setup() {
        const isLoading = inject('isLoading');
        const region = inject('region');
        const lang = inject('lang');
        const regionList = inject('regionList');
        const db = inject('db');
        const globalJsonDialog = inject('globalJsonDialog');
        const globalTooltip = inject('globalTooltip');
        const theme = useTheme();

        const showNavi = ref(false);

        const scrollToTop = () => {
            window.scrollTo(0, 1);
            setTimeout(() => {
                window.scrollTo(0, 0)
            }, 0);
        }

        onMounted(async () => {
            regionList.value = ['kr', 'krt', 'cn', 'jp', 'tw', 'us'];

            region.value = loadRegion();
            lang.value = loadLang();

            if (!regionList.value.includes(region.value)) {
                region.value = 'kr';
            }

            if (!regionList.value.includes(lang.value)) {
                lang.value = 'kr';
            }
        });

        const isDarkMode = computed(() => {
            return theme.global.name.value === 'dark';
        });

        const toggleDarkMode = () => {
            if (isDarkMode.value) {
                theme.global.name.value = 'light';
                return;
            }

            theme.global.name.value = 'dark';
        }

        watch(db, async (newDB) => {
            if (!newDB) {
                return;
            }

            console.log("db changed");
            // await newDB.tryOpen();
        });

        watch(region, async (newRegion) => {
            if (!newRegion) {
                return;
            }

            saveRegion(newRegion);
        });

        watch(lang, async (newLang) => {
            if (!newLang) {
                return;
            }

            saveLang(newLang);
        });

        return {
            mdiBrightness2,
            mdiBrightness7,

            isLoading,
            region,
            lang,
            regionList,
            globalJsonDialog,
            globalTooltip,
            showNavi,
            scrollToTop,
            isDarkMode,
            toggleDarkMode,
        }
    }
});

function saveRegion(region: string) {
    localStorage.setItem('region', region);
}

function loadRegion(): string {
    const region = localStorage.getItem('region');

    if (!region) {
        return 'kr';
    }

    return region;
}

function saveLang(lang: string) {
    localStorage.setItem('lang', lang);
}

function loadLang(): string {
    const lang = localStorage.getItem('lang');

    if (!lang) {
        return 'kr';
    }

    return lang;
}

</script>
